<div class="background-panel">
    <div class="col-8 titulo-outlet-inicio">
        <label>CURSOS Y CAPACITACIÓN</label>
    </div>
    <div class="cn-cursos">
        <div class="cn-cursos-listado">
            <div class="cn-content-container" *ngFor="let noticia of noticias; let indice = index">
                <div [ngClass]="{'cn-image': true, 'with-content': tieneContenido(noticia)}"
                    (click)="tieneContenido(noticia) ? onClicked(noticia) : undefined">
                    <img class="cn-cursos-image" [src]="noticia.thumbnail" alt="banner-image">
                    <div class="cn-overlay"></div>
                </div>
                <div class="cn-content">
                    <span class="cn-content-title">{{noticia.titulo}}</span>
                    <span class="cn-content-subtitle">{{noticia.subtitulo}}</span>
                    <a class="cn-content-subtitle" (click)="redireccion()">{{noticia.contenido}}</a>
                </div>
            </div>
        </div>
    </div>
</div>