<div class="row margen">
    <ul class="nav nav-tabs" role="tablist"  id="navegadorTabsEncab">
        <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa" style="margin-left: 13px;"><button disabled>
            <img src="assets/imgs/menu.png" alt="" srcset="">
        </button>
        </div>  
        <li ><a routerLinkActive="active"  routerLink="/inicio" class="nav-link" data-toggle="tab"  role="tab" 
            > {{modulo}}</a>
        </li>
        <li >
            <a routerLinkActive="active" class="nav-link" data-toggle="tab"  role="tab" 
            (click)="redirect()" >{{subModulo}}</a>
        </li>
        <li >
            <a routerLinkActive="active" class="nav-link" data-toggle="tab"  role="tab" 
            (click)="regresarPantallaPrincipal()" >CONFIGURACIÓN DE CLIENTE</a>
        </li>
        <li style="padding-top: 10PX;">
            CONFIGURACIÓN DE CONTACTO
        </li>
    </ul> 
</div>

<form [formGroup]="myFormcont" (ngSubmit)="enviarPeticioncont()">

    <input type="hidden" formControlName="personaId">

    <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="190">
        <br>
        <div class="form-group row margen"><label class="titulo">INFORMACIÓN DE CONTACTO</label></div>
        <div class="form group row margen">

            <div class=" input-group-sm mb-3 col-4">
                <label>Nombre *</label>
                <input #nombre formControlName="nombre" formatos [especial]="true" [control]="f.nombre" type="text"
                    class="form-control" [ngClass]="{'is-invalid':f.nombre.errors && submitEnviado}" placeholder="">
                <div *ngIf="f.nombre.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-4">
                <label>Primer apellido *</label>
                <input formControlName="apellidoPaterno" formatos [especial]="true" [control]="f.apellidoPaterno"
                    type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.apellidoPaterno.errors && submitEnviado}" placeholder="">
                <div *ngIf="f.apellidoPaterno.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-4">
                <label>Segundo apellido</label>
                <input formControlName="apellidoMaterno" formatos [especial]="true" [control]="f.apellidoMaterno"
                    type="text" class="form-control" id="apellidoMaterno" aria-describedby="emailHelp" placeholder="">

            </div>
            <div class=" input-group-sm mb-3 col-4">
                <label>CURP</label>
                <input placement="top" [mdbTooltip]="'curp' | tooltip" formatos [nochar]="true" [curp]="true"
                    [control]="f.curp" formControlName="curp" maxlength="18" type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.curp.errors?.pattern && f.curp.touched}" placeholder="">
                <div *ngIf="f.curp.errors?.pattern && f.curp.touched" class="invalid-feedback">
                    CURP inválida, favor de verificar
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-4">
                <label>Puesto</label>
                <input formControlName="contactoInicialPuesto" maxlength="150" type="text" class="form-control"
                    placeholder="">

            </div>
            <div class="input-group-sm mb-3 col-4">
                <label>Correo empresarial *</label>
                <input formatos [correo]="true" [control]="f.emailCorporativo" [ngClass]="{'is-invalid':f.emailCorporativo.errors && submitEnviado}" formControlName="emailCorporativo"
                    type="email" placeholder="" class="form-control text-lowercase">
                <div *ngIf="f.emailCorporativo.errors?.required && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>
                <div *ngIf="f.emailCorporativo.errors?.email && f.emailCorporativo.touched" class="invalid-feedback">
                    Correo empresarial inválido, favor de verificar
                </div>

            </div>
            <div class="input-group-sm mb-3 col-4">
                <label>Correo personal</label>
                <input formatos [correo]="true" [control]="f.contactoInicialEmailPersonal"
                    formControlName="contactoInicialEmailPersonal" type="email" class="form-control text-lowercase"
                    [ngClass]="{'is-invalid':(f.contactoInicialEmailPersonal.errors?.required && submitEnviado) || f.contactoInicialEmailPersonal.errors?.email && f.contactoInicialEmailPersonal.touched}"
                    placeholder="">
                 

                <div *ngIf="f.contactoInicialEmailPersonal.errors?.required && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>
                <div *ngIf="f.contactoInicialEmailPersonal.errors?.email && f.contactoInicialEmailPersonal.touched"
                    class="invalid-feedback">
                    Correo personal inválido, favor de verificar
                </div>

            </div>
            <div class="input-group-sm mb-3 col-4">
                <label>Teléfono *</label>
                <input appSolonumeros formControlName="contactoInicialTelefono" maxlength="10" type="text"
                    class="form-control" [ngClass]="{'is-invalid':f.contactoInicialTelefono.errors && submitEnviado}"
                    placeholder="">

                <div *ngIf="f.contactoInicialTelefono.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-4">
                <label>Celular</label>
                <input appSolonumeros formControlName="celular" maxlength="10" type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.celular.errors && submitEnviado}" placeholder="">

                <div *ngIf="f.celular.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class="input-group-sm mb-3 col-4">
                <label>Fecha de registro en el sistema *</label>
                <input formControlName="fechaAlta" type="text" class="form-control" placeholder="">

            </div>
            <div class="input-group-sm mb-3 col-4">
                <div *ngIf="cargandoCheckbox" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                <label  [mdbTooltip]="'contactoinicial' | tooltip" *ngIf="!cargandoCheckbox && tieneUsuarioInicial" style="top: 15px;font-size: 100%;"
                    class="contenedorInputCheckRadio ">Registrar con acceso al sistema
                    <input formControlName="usuarioinicial" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label  *ngIf="!cargandoCheckbox && !tieneUsuarioInicial" style="top: 15px;font-size: 100%;"
                class="contenedorInputCheckRadio ">Registrar con acceso al sistema
                <input formControlName="usuarioinicial" type="checkbox">
                <span class="checkmark"></span>
            </label>
            </div>

        </div>


    </div>

    <div class="text-center margin" style="margin-bottom: 20px;">
        <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red"
            (click)="regresarPantallaPrincipal()">Cancelar</button>
        <button type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
    </div>

</form>