<div class="form-group margen row mt-2 "><label class="titulo">BÚSQUEDA</label></div>
          <div class="form group row margen">
              <div class=" input-group-sm mb-3 col-3 ">
                  <input type="text" class="form-control"  placeholder="Número de empleado">
              </div>
              <div class=" input-group-sm mb-3 col-3 ">
                  <input appAlfanumerico type="text" class="form-control"   placeholder="Nombre">
              </div>
              <div class=" input-group-sm mb-3 col-3 ">
                  <input appAlfanumerico type="text" class="form-control"  placeholder="Apellido paterno">
              </div>
              <div class=" input-group-sm mb-3 col-3 ">
                  <select class="form-control" >
                      <option value="">Seleccionar área</option>
                  </select>
              </div>
              <div class=" input-group-sm mb-3 text-right col-12 col-lg-2  col-xl-12 ">
                  <button type="button" class="btn btn-primary button-outlet " >FILTRAR</button>
                </div>

              
          </div>

          <div class="row especialrow">
              <div class="col-6">
                <article>Empleados en la nómina
                    <article>3</article>
                  </article>
              </div>
              <div class="col-2">
                <article>Percepciones
                    <article>$234.43</article>
                  </article>
            </div>
            <div class="col-2">
                <article>Deducciones
                    <article>$234.43</article>
                  </article>
            </div>
            <div class="col-2">
                <article>Total
                    <article>$234.43</article>
                  </article>
            </div>
          </div>

          <div class="row">
              <div class="col">
                <app-tablapaginado [arreglotablaDesglose]="arreglotablaDesglose" [datos]="arreglotabla"  [cargando]="cargando" [desglosar]="true" (salida)="recibirTabla($event)" ></app-tablapaginado>
              </div>
          </div>