article{
    font-size: medium;
    font-weight: bold;
    article{
        font-size: smaller;
        font-weight: normal;
        color:gray;
        
    }
}

.especialrow{
    background: #e8e8e8;
    margin: 12px 0;

   
}

.estiloextralink{
    display: inline-block !important;
    color:#56dfd4 !important;
    text-decoration: underline !important;
    
}

.personalizado{
    width: 130px;
    background-color: #ffd400;
    border: 0px solid #022538;
    color: #0054bf;
}

