<div class="form-group margen row mt-2 "><label class="titulo">BÚSQUEDA</label></div>
<div class="form group row margen">
    <div class=" input-group-sm mb-3 col-3 ">
        <input [(ngModel)]="numeroempleado" type="text" class="form-control" placeholder="Número de empleado">
    </div>
    <div class=" input-group-sm mb-3 col-3 ">
        <input [(ngModel)]="nombre" appAlfanumerico type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class=" input-group-sm mb-3 col-3 ">
        <input [(ngModel)]="apellidoPaterno" appAlfanumerico type="text" class="form-control" placeholder="Primer apellido">
    </div>
    <div class=" input-group-sm mb-3 col-3 ">
        <input [(ngModel)]="apellidoMaterno" appAlfanumerico type="text" class="form-control" placeholder="Segundo apellido">
    </div>
    <div class=" input-group-sm mb-3 col-3 ">
        <input [(ngModel)]="rfc" formatos [nochar]="true" [rfc]="true" [control]="rfc" type="text" name="" placeholder="RFC" class="form-control">
    </div>
    <div class=" input-group-sm mb-3 text-right col-12 col-lg-2  col-xl-12 ">
        <button (click)="filtrar()" type="button" class="btn btn-primary button-outlet ">Filtrar</button>
    </div>

    <div  class="col-11 text-left">
        <a (click)="recalcular()" *ngIf="esEliminar" style="color:#56dfd4;" class="dropdown-toggle mt-3">
            <i class="fas fa-sync"></i>&nbsp;&nbsp;Recalcular</a>
    </div>
    <div *ngIf="esDescargar" class="col-11 text-right">
        <a (click)="descargarNomina()" class="botonestilo aparece-desktop estiloextralink"><small *ngIf="!cargandoIcon"><i aria-hidden="true" class="fas fa-download"></i> Descargar nómina</small>
            <div *ngIf="cargandoIcon" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </a>
    </div>
</div>

<div class="row especialrow">

    <div class="col-6">
        <article>Empleados
            <article style="margin-left: 32px;">{{nominaSeleccionada[llave]?.numEmpleados}}</article>
        </article>
    </div>
    <div class="col-2">
        <article>Percepciones
            <article>{{nominaSeleccionada[llave]?.totalPercepciones | currency}}</article>
        </article>
    </div>
    <div class="col-2">
        <article>Deducciones
            <article>{{nominaSeleccionada[llave]?.totalDeducciones | currency}}</article>
        </article>
    </div>
    <div class="col-2">
        <article>Total
            <article>{{nominaSeleccionada[llave]?.totalNeto | currency}}</article>
        </article>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-tablapaginado [nominacalculo]="true" [patronal]="patronal" [datosExtras]="datosDetalleEmpleadoNomina" [datos]="arreglotabla" [cargando]="cargando" [desglosar]="true" (salida)="recibirTabla($event)"></app-tablapaginado>
    </div>
</div>


<div class="text-center margin" style="margin-bottom: 20px;">

    <button *ngIf="nominaOrdinaria" (click)="regresarOrdinaria()" class="btn btn-primary button-outlet mr-2">Regresar</button>
    <button *ngIf="nominaExtraordinaria" (click)="regresarExtraordinaria()" class="btn btn-primary button-outlet mr-2">Regresar</button>
    <button (click)="continuar()" class="btn btn-primary button-fill">Continuar</button>
</div>

<div class="row">
    <div class="col">
        <a (click)="eliminar()" *ngIf="esEliminar" style="color:#56dfd4;text-decoration: underline;" class="dropdown-toggle mt-3">
            <i aria-hidden="true" style="background-color: #56dfd4 !important;" class="icon_eliminar "></i> Eliminar nómina</a>
    </div>)
</div>