<div >

  <div class="row margen">
      <div class="col titulo-outlet">
          <label >LISTA DE COMPAÑIAS----</label>
      </div>
  </div>

  <div class="row margen">
      <div class="col">
          <p class="text-white">1.- Dar doble click en la tabla de compañia para desplegar multiselección </p>
      </div>
  </div>
  <div class="margen">
    <div class="form-group margen row "><label class="titulo">BUSQUEDA</label></div>
    <div class="form group row margen">
        <div class=" input-group-sm mb-3 col-3 ">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="RFC">
        </div>
        <div class=" input-group-sm mb-3 col-4 ">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Nombre de la compañía">
        </div>
        <div class=" input-group-sm mb-3 col-3 ">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Razón social">
        </div>
    </div>
        <div class="form group row margen">
        <div class=" input-group-sm mb-3 col-3 ">
          <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Fecha de registro">
      </div>
      <div class=" input-group-sm mb-3 col-4 ">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Estatus">
    </div>
    <div class=" input-group-sm mb-3 col-3 "></div>
        <div class=" input-group-sm mb-3 col-2 ">
            <button type="button" class="btn btn-primary button-outlet ">FILTRAR</button>
        </div>
    </div>
</div>
  
  
  <div class="row margen">
      <div class="col titulo">
          <label >RESULTADOS</label>
      </div>
  </div>
  <div class="row margen margen-tabla background-panel scrooll">        
      <div *ngIf="multiseleccion" class="form-check ml-4 mt-4">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Seleccionar todos</label>
        </div>
        <div *ngIf="!multiseleccion" class="row" style="  margin-top: 10px;  width: 100%;">
          <div class="col text-right">
            <button type="button" class="btn btn-light button-outlet" (click)="verdetallecom(undefined)">
              <i class="fa fa-plus"></i>Agregar compañia
            </button>
          </div>
        </div>
        <div  *ngIf="!cargando" class="row margen" style="margin-bottom: -25px;">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Elementos</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option value="1" selected>20</option>
              <option value="2">50</option>
              <option value="3">100</option>
            </select>
           
          </div>
        </div>
          <table *ngIf="!cargando" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"> <span *ngIf="multiseleccion">Activo</span> </th>
                  <th scope="col">ID Compañía</th>
                  <th scope="col">Razón social</th>
                  <th scope="col">Nombre de la compañía</th>
                  <th scope="col">RFC</th>
                  <th scope="col">Fecha registro</th>
                  <th scope="col">Estatus</th>
                  <th scope="col" *ngIf="!multiseleccion">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr (dblclick)="activarMultiseleccion()" *ngFor="let item of arreglo;">
                  <th scope="row"><i *ngIf="!multiseleccion" class="icon_perfil"></i> <input *ngIf="multiseleccion"
                      type="checkbox" name="inlineRadioOptions" id="radio1" value="option1"> </th>
                  <td style="color:  #00DED4">{{item.centrocClienteId}} </td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.razonSocial}}</td>
                  <td>{{item.rfc}}</td>
                  <td>{{item.fechaAlta}}</td>
                  <td>{{(item.esActivo)?'Activo':'Inactivo'}}</td>
                  <td *ngIf="!multiseleccion">
                      <button (click)="verdetallecom(item)" class="btnPersonalizado">
                        <i class="icon_editar text-center bg-light" ></i></button>
                  </td>
                </tr>
              
             
                
              </tbody>
            </table>
            <div  *ngIf="!cargando" class="row" style="width: 100%;">
              <div class="col" > 
               <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                   <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Antes</a>
                   </li>
                   <li class="page-item"><a class="page-link" >1</a></li>
                   <li class="page-item"><a class="page-link" >2</a></li>
                   <li class="page-item"><a class="page-link" >3</a></li>
                   <li class="page-item">
                     <a class="page-link">Siguiente</a>
                   </li>
                 </ul>
               </nav></div>
            </div>

          <div *ngIf="cargando" class="col text-center mb-5">
            <img width="60px" height="60px" src="../../../../../assets/imgs/loading_nomina.gif" alt="">
          </div>
  </div>
  <div class="row">

  <div *ngIf="multiseleccion" class="row text-center margin botonmultiseleccion" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red" (click)="cancelarMulti()" *ngIf="!multiseleccionloading">Cancelar</button>
    <button (click)="guardarMultiseleccion()" type="button" class="btn btn-primary button-fill agrandarloading"><span *ngIf="!multiseleccionloading">Guardar</span>
    
        <div *ngIf="multiseleccionloading"  role="status">
            <span class="spinner-border"></span>
          </div>
    </button>
  </div>
    
</div>
  
</div>




