<div>

  <div class="row margen">
    <div class="col titulo-outlet">
      <label>LISTA DE COMPAÑÍAS</label>
    </div>
  </div>
  <div class="margen">
    <div id="accordionFiltro">

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button *ngIf="tamanio < 600" (click)="changeIconDown = !changeIconDown" style="width: 100%;"
                class="btn btn-link aparece-movil" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <label class="titulo" style="    width: 80%;
                float: left;
                text-align: left;">BÚSQUEDA</label>
                <i *ngIf="changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                  class="fas fa-chevron-up "></i>
                <i *ngIf="!changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                  class="fas fa-chevron-down "></i>

              </button>
              <button *ngIf="tamanio >=600" class="btn btn-link aparece-desktop-inline-block">
                <label class="titulo">BÚSQUEDA</label>
              </button>

            </h5>
          </div>

          <div id="collapseOne" class="collapse" [ngClass]="{'show':tamanio >600}" aria-labelledby="headingOne"
            data-parent="#accordion">
            <div class="card-body">
              <div class="form group row margen">
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                  <input type="number" [(ngModel)]="centrocClienteId" class="form-control" placeholder="Id compañía">
                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                  <input type="text" [(ngModel)]="rfc" class="form-control" placeholder="RFC">
                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                  <input type="text" [(ngModel)]="nombre" class="form-control" placeholder="Nombre compañia">
                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3 ">
                  <input type="text" [(ngModel)]="razonSocial" class="form-control" placeholder="Razón social">
                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                  <input type="Date" [(ngModel)]="fechaAlta" class="form-control" placeholder="Fecha de registro">
                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-12 col-lg-4 col-xl-3">
                  <select class="form-control" [(ngModel)]="esActivo" placeholder="Estatus">

                    <option value="0" selected></option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>

                  </select>
                </div>
                <div class=" input-group-sm mb-3 text-center col-12 col-sm-2 ">
                  <button type="button" class="btn btn-primary button-outlet " (click)="filtrar()">FILTRAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="row margen">
    <div class="col titulo">
      <label>RESULTADOS</label>
    </div>

    <div class="col text-right">
      <button type="button" class="btn btn-light button-outlet" (click)="verdetallecom(undefined)">
        <i class="fa fa-plus"></i>Agregar compañÍa
      </button>
    </div>

  </div>
  <div class="row margen margen-tabla background-panel scrooll">
    <div *ngIf="multiseleccion" class="form-check ml-4 mt-4">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Seleccionar todos</label>
    </div>

    <div *ngIf="!cargando" class="row margen" style="margin-bottom: -25px;">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Elementos</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option value="1" selected>20</option>
          <option value="2">50</option>
          <option value="3">100</option>
        </select>

      </div>
    </div>
    <table *ngIf="!cargando" class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 44px;"> </th>
          <th scope="col">ID</th>
          <th *ngIf="tamanio >=600" scope="col">Razón social</th>
          <th scope="col">Nombre</th>
          <th *ngIf="tamanio >=600" scope="col">RFC</th>
          <th scope="col">Fecha registro</th>
          <th *ngIf="tamanio >=600" scope="col">Estatus</th>
          <th scope="col" *ngIf="!multiseleccion">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arreglo;">
          <td style="width: 44px;" scope="row">
            <img width="60px" height="60px"
              src="https://rociohernandezcruz.com/wp-content/uploads/2019/11/rocio-hernandez-cruz-2.jpg" alt="..."
              class="tableimg">
          </td>
          <td style="color:  #00DED4">{{item.centrocClienteId}} </td>
          <td>{{item.nombre}}</td>
          <td *ngIf="tamanio >=600">{{item.razonSocial}}</td>
          <td *ngIf="tamanio >=600">{{item.rfc}}</td>
          <td>{{item.fechaAlta}}</td>
          <td *ngIf="tamanio >=600">{{(item.esActivo)?'Activo':'Inactivo'}}</td>
          <td *ngIf="!multiseleccion">
            <button (click)="verdetallecom(item)" class="btnPersonalizado">
              <i class="icon_editar text-center bg-light"></i></button>
          </td>
        </tr>



      </tbody>
    </table>
    <div *ngIf="!cargando" class="row" style="width: 100%;">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Antes</a>
            </li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item">
              <a class="page-link">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div *ngIf="cargando" class="col text-center mb-5">
      <img width="60px" height="60px" src="../../../../../assets/imgs/loading_nomina.gif" alt="">
    </div>
  </div>
  <div class="row">

    <div *ngIf="multiseleccion" class="row text-center margin botonmultiseleccion" style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red" (click)="cancelarMulti()"
        *ngIf="!multiseleccionloading">Cancelar</button>
      <button (click)="guardarMultiseleccion()" type="button" class="btn btn-primary button-fill agrandarloading"><span
          *ngIf="!multiseleccionloading">Guardar</span>

        <div *ngIf="multiseleccionloading" role="status">
          <span class="spinner-border"></span>
        </div>
      </button>
    </div>

  </div>

</div>