<div>

    <div class="row margen titulosfijos">
        <div class="col titulo-outlet">
            <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa"><button disabled>
                <img src="assets/imgs/menu.png" alt="" srcset="">
            </button></div>
            <label>LISTA DE CLIENTES</label>
        </div>
    </div>

    <div class="scrooll-design">
        <div class="margen">
            <div id="accordionFiltro">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button *ngIf="tamanio < 600" (click)="changeIconDown = !changeIconDown" style="width: 100%;" class="btn btn-link aparece-movil" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <label class="titulo" style="    width: 80%;
                  float: left;
                  text-align: left;">BÚSQUEDA</label>
                  <i aria-hidden="true" *ngIf="changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                    class="icon_24flechaarriba bg-primary"></i>
                  <i aria-hidden="true" *ngIf="!changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                    class="icon_24flechaabajo bg-primary "></i>
  
                </button>
                                <button *ngIf="tamanio >=600" class="btn btn-link aparece-desktop-inline-block">
                  <label class="titulo">BÚSQUEDA</label>
                </button>

                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" [ngClass]="{'show':tamanio >600}" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form group row margen">
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input type="text" appSolonumeros maxlength="10" [(ngModel)]="centrocClienteId" class="form-control" placeholder="Id cliente">
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input type="text" appAlfanumericoRFC maxlength="13"  [(ngModel)]="rfc" placement="top" [mdbTooltip]="'rfc' | tooltip" class="form-control" formatos [nochar]="true" [rfc]="true" [control]="rfc" placeholder="RFC">
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input type="text" formatos [letras]="true" [especial]="true" [(ngModel)]="nombre" class="form-control" placeholder="Nombre cliente">
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3 ">
                                        <input type="text" formatos [letras]="true" [especial]="true" [(ngModel)]="razonSocial" class="form-control" placeholder="Razón social">
                                    </div>
                                    
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input type="text" [(ngModel)]="fechaAlta" class="form-control" placeholder="Fecha de registro" onfocus="(this.type='date')" onblur="(this.type='date')">
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-lg-4 col-xl-3">
                                        <select class="form-control" [(ngModel)]="esActivo" placeholder="Estatus">
  
                      <option value="" selected>Estatus</option>
                      <option value="1">Activo</option>
                      <option value="2">Inactivo</option>
  
                    </select>
                                    </div>

                                    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-lg-4 col-xl-3">
                                        <select class="form-control" [(ngModel)]="multiempresa" placeholder="multiempresa">
                                        <option value="0" selected>Multiempresa</option>
                                        <option value="1">Si</option>
                                        <option value="2">No</option>
                                        </select>
                                    </div>
                                    <div class=" input-group-sm mb-3 text-center col-12 col-sm-2 ">
                                        <button type="button" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="row margen">
            <div class="col titulo">
                <label>RESULTADOS</label>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-light button-outlet" (click)="verdetallecom(undefined)">
          <i aria-hidden="true" class="icon_24agregar primary-bg"></i>Agregar cliente
        </button>
            </div>
        </div>
        <div class="row margen margen-tabla background-panel">
            <app-tablapaginado [datos]="arreglotabla" [editar]="true" [imagen]="true" [icondefault]="'empresa'" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
        </div>
    </div>

</div>