<div class="row titulosfijos mb-5 ml-2 mr-2" style="background-color: transparent;">
    <div class="col titulo-outlet">
        <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa"><button disabled>
            <i  aria-hidden="true" class="fas fa-bars"></i>
        </button></div>

        <label>CALCULADORA</label>
    </div>
</div>


<form [formGroup]="myForm" (ngSubmit)="enviarPeticion()" class="form-desing">

    <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="220">
        <div class="form-group row margen mt-4"><label class="titulo">CALCULAR SUELDO</label></div>
        <div class="form-group row margen">
            <div class="input-group-sm mb-3 col-12 col-sm-4 col-lg-4">
                <label for="tiposueldo">Tipo de sueldo de entrada *</label>
                <select [class.is-invalid]="f.tiposueldo.errors && f.tiposueldo.touched" id="tiposueldo" formControlName="tiposueldo" class="form-control">
                    <option value="b">Bruto</option>
                    <option value="n">Neto</option>
                </select>
                <div *ngIf="f.tiposueldo.errors && f.tiposueldo.touched" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-4 col-lg-4">
                <label>Periodo *</label>
                <select [class.is-invalid]="f.periodicidadPagoId.errors && f.periodicidadPagoId.touched" formControlName="periodicidadPagoId" class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let item of arregloPeriocidad" [value]="item.periodicidadPagoId">{{item.descripcion}}</option>
                </select>
                <div *ngIf="f.periodicidadPagoId.errors && f.periodicidadPagoId.touched" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-4 col-lg-4">
                <label>Sueldo bruto *</label>
                <input placement="top" [mdbTooltip]="'salarioNetoMensual' | tooltip" formControlName="sueldobruto" [class.is-invalid]="(f.sueldobruto.errors?.required && f.sueldobruto.touched) || (f.sueldobruto.errors?.min )" type="text" class="form-control">
                <div *ngIf="f.sueldobruto.errors?.required && f.sueldobruto.touched" class="invalid-feedback">
                    Campo requerido
                </div>
                <div *ngIf="f.sueldobruto.errors?.min " class="invalid-feedback">
                    El sueldo {{titulosueldo}} no puede ser inferior a $4251.00
                </div>

            </div>
            <div *ngIf="esSueldoNeto" class="input-group-sm mb-3 col-12 col-sm-4 col-lg-4">
                <label>Política *</label>
                <select placement="top" [mdbTooltip]="'politicaCaluladora' | tooltip" [class.is-invalid]="f.politicaId.errors && f.politicaId.touched" formControlName="politicaId" class="form-control">
                    <option *ngFor="let item of arregloPoliticas" [value]="item.politicaId">{{item.nombre}}</option>
                </select>
                <div *ngIf="f.politicaId.errors && f.politicaId.touched" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-4 col-lg-4">
                <label>Calculo en base a</label>
                <select formControlName="basePeriodoId" [ngClass]="{'is-invalid':f.basePeriodoId.errors && f.basePeriodoId.touched}" class="form-control">
                    <option *ngFor="let item of arregloBasePeriodos" [value]="item.nombreCorto">{{item.nombreCorto}}</option>
                  </select>
                <div *ngIf="f.basePeriodoId.touched && f.basePeriodoId.errors" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div *ngIf="esSueldoNetoBruto" class="input-group-sm mb-4 col-12 col-sm-8 col-lg-8"></div>
            <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                <div>

                    <div>

                        <label class="contenedorInputCheckRadio">Incluir IMSS
                            <input formControlName="imss" name="areaGeograficaId" type="checkbox" value="imss">
                            <span class="checkmark"></span>
                        </label>
                        <label class="contenedorInputCheckRadio">Incluir subsidio
                            <input formControlName="subsidio" name="areaGeograficaId" type="checkbox" value="imss">
                            <span class="checkmark"></span>
                        </label>


                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col margen text-right">

                <button (click)="calcular()" class="btn btn-primary button-outlet mr-2">Calcular</button>

            </div>
        </div>

        <div *ngIf="calculado">

            <div class="form-group row margen mt-4"><label class="titulo">DETALLES DE SUELDO</label></div>

            <div class="form-group row margen">
                <div class="input-group-sm mb-3 ">
                    <table aria-hidden="true" class="table">
                        <thead>
                            <tr>
                                <th id="" class="text-center" scope="col">Limite inferior</th>
                                <th id="" class="text-center" scope="col">Excedente de limite inferior</th>
                                <th id="" class="text-center" scope="col">Impuesto marginal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >{{limiteInferior}}</td>
                                <td >{{excedente}}</td>
                                <td >{{impuestoMarginal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</form>