<div class="form-group row margen">
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Empleado</label>
        <select class="form-control">
            <option value="">Empleado a elegir</option>
        </select>
    </div>
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Fecha</label>
        <input type="date" name="" id="" class="form-control">
    </div>
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Tiempo</label>
        <input type="time" name="" id="" class="form-control">
    </div>
    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-lg-12">
        <label>Comentarios</label>

        <input type="text" class="form-control">
    
    </div>

  
</div>
<div class="text-center margin" style="margin-bottom: 20px;">

    <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
    <button type="submit" class="btn btn-primary button-fill">Guardar</button>
</div>