<div class="m-3">
  <div class="row">
    <div class="col titulo-outlet">
      <label>ADMINISTRACIÓN</label>
    </div>
  </div>
</div>





  <div class="tab-pane fade show active" id="altas" role="tabpanel" aria-labelledby="home-tab">

    <div class="mt-2">

      <div class="margen">
        <div id="accordionFiltro">
    
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button *ngIf="tamanio < 600" (click)="changeIconDown = !changeIconDown" style="width: 100%;"
                    class="btn btn-link aparece-movil" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <label class="titulo" style="    width: 80%;
                      float: left;
                      text-align: left;">Búsqueda</label>
                    <i *ngIf="changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                      class="fas fa-chevron-up "></i>
                    <i *ngIf="!changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                      class="fas fa-chevron-down "></i>
    
                  </button>
                  <button *ngIf="tamanio >=600" class="btn btn-link aparece-desktop-inline-block">
                    <label class="titulo">Búsqueda</label>
                  </button>
    
                </h5>
              </div>
    
              <div id="collapseOne" class="collapse" [ngClass]="{'show':tamanio >600}" aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="card-body">
                  <div class="form group row margen">
                    <div class=" input-group-sm mb-3 col-12 col-lg-6 col-xl-3">
                      <input type="date" class="form-control" placeholder="Nombre completo">
                    </div>
                    <div class=" input-group-sm mb-3 col-12 col-lg-6 col-xl-3">
                      <input type="email" class="form-control" placeholder="Área o empresa">
                    </div>
                    <div class=" input-group-sm mb-3 col-12 col-lg-6 col-xl-3">
                      <select name="" id="" class="form-control">
                        <option value="" selected>Filtrar por</option>
                        <option value="">Nombre</option>
                      </select>
                    </div>
                    <div class=" input-group-sm mb-3 col-12 text-center col-lg-2">
                      <button type="button" class="btn btn-primary button-outlet ">FILTRAR</button>
                    </div>
            
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
    
      </div>

      <div class="row margen">
        <div class="col-6 titulo">
          <label>RESULTADOS</label>
        </div>
        <div class="col-6 text-right">

          <button type="button" class="btn btn-light button-outlet" (click)="verdetalleemp(undefined)">
            <i class="fa fa-plus"></i>Agregar empresa
          </button>
            </div>
      </div>

      <div class="row margen margen-tabla background-panel scrooll">
        <div  class="row" style="  margin-top: 10px;  width: 100%;">
          <div class="col text-right">
            <!-- <button type="button" class="btn btn-light button-outlet" [routerLink]="['/empresa','detalle','idempresa']">
              ir al detalle de empresa (provisional)
            </button> -->
           
          </div>
        </div>
        <table *ngIf="!cargando" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID Empresa</th>
              <th scope="col">Razón social</th>
              <th scope="col">Nombre de la empresa</th>
              <th scope="col">RFC</th>
              <th scope="col">Fecha registro</th>
              <th scope="col">Estatus</th>
              <th scope="col" *ngIf="!multiseleccion">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let item of arreglo;">
              <td style="color:  #00DED4">{{item.centrocClienteId}} </td>
              <td (click)="verPerfilEmpresa(item)">{{item.razonSocial}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.rfc}}</td>
              <td>{{item.fechaAlta}}</td>
              <td>{{(item.esActivo)?'Activo':'Inactivo'}}</td>
              <td *ngIf="!multiseleccion">
                <button (click)="verdetalleemp(item)" class="btnPersonalizado">
                  <i class="icon_editar text-center bg-light"></i></button>
              </td>
            </tr>



          </tbody>
        </table>
       

        <div *ngIf="cargando" class="col text-center mb-5">
          <img width="60px" height="60px" src="../../../../../assets/imgs/loading_nomina.gif" alt="">
        </div>
      </div>
      




    </div>

  </div>
 

+