<div class="m-3">
    <div class="row">
        <div class="col titulo-outlet">
            <label>LISTA DE EMPLEADOS</label>
        </div>
    </div>
    <div class="row col  mt-2" style="color:white">
        <p class="interlineado" style="color:white">1.-Dar click al nombre del empleado para ir a su perfil.</p>
        <p class="interlineado" style="color:white">2.-Filtrar los empleados por área o por sede, simplemente haciendo click en el menú.</p>
    </div>
</div>

<div class="margen">

    <ul class="nav nav-tabs" id="myTab" role="tablist" id="navegadorTabs">
        <li class="nav-item">
            <a class="nav-link active" id="altasid" data-toggle="tab" href="#altas" role="tab" aria-controls="alta"
                aria-selected="true">Activos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bajaid" data-toggle="tab" href="#baja" role="tab" aria-controls="profile"
                aria-selected="false">Bajas</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="altas" role="tabpanel" aria-labelledby="home-tab">

            <div class="mt-2">

                <div class="form-group margen row "><label class="titulo">BÚSQUEDA</label></div>
                <div class="form group row margen">
                    <div class=" input-group-sm mb-3 col-3 ">
                        <input type="date" class="form-control" placeholder="Nombre completo">
                    </div>
                    <div class=" input-group-sm mb-3 col-3 ">
                        <input type="email" class="form-control" placeholder="Ärea o empresa">
                    </div>
                    <div class=" input-group-sm mb-3 col-3 ">
                        <select name="" id="" class="form-control">
                            <option value="" selected>Filtrar por</option>
                            <option value="">Nombre</option>
                        </select>
                    </div>
                    <div class=" input-group-sm mb-3 col-2 ">
                        <button type="button" class="btn btn-primary button-outlet ">FILTRAR</button>
                    </div>

                </div>


                <div class="row margen">
                    <div class="col titulo">
                      <label>RESULTADOS</label>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-light button-outlet" (click)="agregar()">
                          <i class="fa fa-plus"></i>Agregar
                        </button>
                      </div>
                  </div>


                  <div class="row   margen-tabla background-panel ">
                    <app-tablapaginado [datos]="arreglotabla" [editar]="true"  [imagen]="true" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
                  </div>




            </div>

        </div>
        <div class="tab-pane fade" id="baja" role="tabpanel" aria-labelledby="profile-tab">


           <div class="m-2">

            <div class="row margen">
                <div class="col titulo">
                  <label>RESULTADOS</label>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-light button-outlet" (click)="bajaEmpleado()">
                      <i class="fa fa-plus"></i>Baja empleado
                    </button>
                  </div>
              </div>

            

           </div>

        </div>

    </div>


</div>