<form [formGroup]="myForm" (ngSubmit)="enviarPeticion()">
    <div class="form-group row">
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Nombre de la nómina *</label>
            <input formControlName="nombreNomina"  [class.is-invalid]="f.nombreNomina.errors && f.nombreNomina.touched" type="text" name=""  class="form-control">
            <div *ngIf="f.nombreNomina.errors && f.nombreNomina.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Razón social *</label>
            <select [class.is-invalid]="f.centrocClienteId.errors && f.centrocClienteId.touched" formControlName="centrocClienteId" class="form-control">
                <option *ngFor="let item of arregloCompanias" [value]="item.centrocClienteId">
                    {{item.nombre}}
                </option>
            </select>
            <div *ngIf="f.centrocClienteId.errors && f.centrocClienteId.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Cuenta bancaria *</label>
            <select [class.is-invalid]="f.cuentaBancoId.errors && f.cuentaBancoId.touched" formControlName="cuentaBancoId" class="form-control">
                <option *ngFor="let item of arregloCuentasBancarias" [value]="item.cuentaBancoId">
                   {{item.nombreCuenta}}
                </option>
            </select>
            <div *ngIf="f.cuentaBancoId.errors && f.cuentaBancoId.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
               <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Fecha de la nómina *</label>
            <input [class.is-invalid]="f.fecXReportes.errors && f.fecXReportes.touched" formControlName="fecXReportes"  type="date" name=""  class="form-control">
            <div *ngIf="f.fecXReportes.errors && f.fecXReportes.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Moneda *</label>
            <select formControlName="monedaId" class="form-control">
                <option *ngFor="let item of arregloMonedas " [value]="item.monedaId">
                    {{item.descripcion}}
                </option>
            </select>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <div>
                <label>Selecciona empleados *</label>
                <div >

                    <label class="contenedorInputCheckRadio">Incluir todos los empleados
                        <input formControlName="todos"
                             name="todos" type="radio"
                           value = "1">
                        <span class="radiomark"></span>
                    </label>
                    

                    <label class="contenedorInputCheckRadio">Incluir algunos empleados
                        <input formControlName="todos" #tipo 
                             name="todos" type="radio"
                           value = "2">
                        <span class="radiomark"></span>
                    </label>

                
                 
                </div>

            </div>
        </div>
        <div *ngIf="mostrarAlgunosEmpleados" class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Empleados *</label>
            <app-tag [datos]="arregloEmpleados" [llave]="'nombre'" (salida)="recibirEtiquetas($event)"></app-tag>
        </div>

    </div>
    <div class="text-right margin" style="margin-bottom: 20px;">
    
        <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
        <button type="submit"  class="btn btn-primary button-fill">Guardar</button>
    </div>
    
</form>
