<div>

    <div class="row margen titulosfijos">
        <div class="col titulo-outlet">
            <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa"><button disabled>
                <i  aria-hidden="true" class="fas fa-bars"></i>
            </button></div>
            <label>PAGO COMPLEMENTARIO</label>
        </div>
    </div>

    <div class="scrooll-design">
        <div class="margen">
            <div id="accordionFiltro">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button *ngIf="tamanio < 600" (click)="changeIconDown = !changeIconDown" style="width: 100%;" class="btn btn-link aparece-movil" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <label class="titulo" style="    width: 80%;
                float: left;
                text-align: left;">BÚSQUEDA</label>
                  <i aria-hidden="true" *ngIf="changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                    class="fas fa-chevron-up "></i>
                  <i aria-hidden="true" *ngIf="!changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                    class="fas fa-chevron-down "></i>

                </button>
                                <button *ngIf="tamanio >=600" class="btn btn-link aparece-desktop-inline-block">
                  <label class="titulo">BÚSQUEDA</label>
                </button>

                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" [ngClass]="{'show':tamanio >600}" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form group row margen">
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input type="number" [(ngModel)]="numeroEmpleado" class="form-control" placeholder="Número de empleado">
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input appAlfanumerico type="text" [(ngModel)]="nombreEmpleado" class="form-control" placeholder="Nombre">
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input appAlfanumerico type="text" [(ngModel)]="primerApellidoEmpleado" class="form-control" placeholder="Primer apellido">
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3 ">
                                        <input appAlfanumerico type="text" [(ngModel)]="segundoApellidoEmpleado" class="form-control" placeholder="Segundo apellido">
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <select name="" class="form-control" [(ngModel)]="grupoNomina">
                      <option value="0" selected>Grupo de nómina</option>
                      <option *ngFor="let item of arregloGrupoNomina" [value]="item.idGrupoNomina">{{item.nombreGrupoNomina}}
                      </option>
                    </select>
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <select name="" class="form-control" [(ngModel)]="idEmpresaActual">
                      <option value="0" selected>Empresa</option>
                      <option *ngFor="let item of arregloEmpresa" [value]="item.idEmpresa">{{item.nombreEmpresa}}
                      </option>
                    </select>
                                    </div>

                                    <div class=" input-group-sm mb-3 text-right col-12 col-lg-2  col-xl-12 ">
                                        <button type="button" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row margen">
            <div class="col titulo">
                <label>RESULTADOS</label>
            </div>

        </div>

        <div *ngIf="activarMultiseleccion" class="row text-right margin botonmultiseleccion">

            <div class="col-12">
                <button (click)="guardarMultiseleccion()" type="button" class="btn heartbeathand btn-light button-outlet mr-2"><span>Descargar archivo</span>
        </button>
            </div>
        </div>

        <div class="row margen margen-tabla background-panel ">
            <app-tablapaginado [datos]="arreglotabla" [checkbox]="true" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
        </div>
    </div>
</div>