    <div class="row margen titulosfijos">
        <ul class="nav nav-tabs" role="tablist"  id="navegadorTabsEncab">
            <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa float-left"><button disabled>
                <img src="assets/imgs/menu.png" alt="" srcset="">
            </button>
            </div>  
            <li class="float-left"><a routerLinkActive="active"  routerLink="/inicio" class="nav-link" data-toggle="tab"  role="tab" 
                (click)="inicio()"> {{modulo}}</a>
            </li>
            <li style="padding-top: 10PX;" class="float-left">
                {{subModulo}} 
            </li>
        </ul>
    </div>
    <div class="background-ajustar" appTamanioVentana [pixeles]="100">
    <div class="scrooll-design">
        <div class="margen">
            <div id="accordionFiltro">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button *ngIf="tamanio < 600" (click)="changeIconDown = !changeIconDown" style="width: 100%;" class="btn btn-link aparece-movil" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <label class="titulo" style="    width: 80%;
                float: left;
                text-align: left;">BÚSQUEDA</label>
                </button>
                                <button *ngIf="tamanio >=600" class="btn btn-link aparece-desktop-inline-block">
                  <label class="titulo">BÚSQUEDA</label>
                </button>

                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" [ngClass]="{'show':tamanio >600}" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form group row ">
                                    <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input appAlfanumerico type="text" maxlength="20" [(ngModel)]="numeroEmpleado" id="numeroEmpleadoPPPS" class="form-control" placeholder="Número de empleado">
                                    </div>
                                    <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input type="text" [(ngModel)]="nombreEmpleado" formatos [especial]="true" id="nombreEmpleadoPPPS" class="form-control" placeholder="Nombre">
                                    </div>
                                    <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <input type="text" [(ngModel)]="primerApellidoEmpleado" formatos [especial]="true" id="primerApellidoEmpleadoPPPS" class="form-control" placeholder="Primer apellido">
                                    </div>
                                    <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3 ">
                                        <input type="text" [(ngModel)]="segundoApellidoEmpleado" formatos [especial]="true" id="segundoApellidoEmpleadoPPPS" class="form-control" placeholder="Segundo apellido">
                                    </div>
                                    <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <select name="" class="form-control" [(ngModel)]="grupoNomina" id="grupoNominaPPPS">
                      <option value="0" selected>Grupo de nómina</option>
                      <option *ngFor="let item of arregloGrupoNomina" [value]="item.idGrupoNomina">{{item.nombreGrupoNomina}}
                      </option>
                    </select>
                                    </div>

                                    <div class="input-group-sm mb-3 text-right col-12 col-lg-2  col-xl-12 ">
                                        <button type="submit" class="btn btn-primary button-outlet" id="btnFiltrarPPP" (click)="filtrar()">Filtrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row margen">
            <div class="col titulo">
                <label>RESULTADOS</label>
            </div>

        </div>

        <div *ngIf="activarMultiseleccion && esDescargar " class="row text-right margin botonmultiseleccion">

            <div class="col-12">
                <button (click)="guardarMultiseleccion()" type="button" class="btn heartbeathand btn-light button-outlet mr-2"><span>Descargar archivo</span>
        </button>
            </div>
        </div>

        <div class="row margen margen-tabla background-panel ">
            <app-tablapaginado [datos]="arreglotabla" [checkbox]="esDescargar" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
        </div>
    </div>
</div>
