<div class="logocaja"  [ngClass]="{'errorimagen':errorimagen,'seleccionado':seleccionado,'anulartop':buffer!=undefined}" appManipularfiles (fromManipularFiles)="recibir($event)">

    <p *ngIf="buffer == undefined && !mostrarImagenUrl" class="titulo">Arrastra o sube aquí el archivo</p>
    <p *ngIf="buffer == undefined && !mostrarImagenUrl" class="mostrar"></p>
    <p *ngIf="buffer == undefined && !mostrarImagenUrl" class="mostrar2">Archivo seleccionado no es una imagen.</p>
    <div *ngIf="buffer == undefined && !mostrarImagenUrl" class="col-12 text-right">
        <button (click)="abrirArchivo()" type="button" class="botonestilos"><small><i class="fas fa-upload"></i>Subir archivo</small></button>
    </div>
    <div *ngIf="buffer != undefined || mostrarImagenUrl" class="col-12">
        <img *ngIf="!mostrarImagenUrl"  [src]="sanitize('data:image/jpg;base64, ' + arrayBufferToBase64(buffer))"  alt="" srcset="">
        <img *ngIf="mostrarImagenUrl"  [src]="recibiendoImagen"  >
        <p *ngIf="!mostrarImagenUrl" class="cambia" style="    color: #4cc1b0;"><strong style="font-weight: bolder;">Tamaño </strong> {{tamanio()}}KB</p>
        
        <i (click)="eliminarImagen()" class="far fa-times-circle" id="closeid"></i>
    </div>

</div>