<div class="background-panel">
    <div class="col-5 titulo-outlet-inicio">
        <label>NOVEDADES</label>
    </div>
    <div class="cn-anuncios">
        <div class="cn-anuncio-listado" *ngFor="let noticia of noticias; let indice = index">
            <div class="cn-status-container">
                <div class="cn-anuncio-status" [ngClass]="{'selected': indice == 0}"></div>
            </div>
            <div class="cn-content-container">
                <div class="cn-content">
                    <span class="cn-content-title" (click)="onClicked(noticia)">{{noticia.titulo}}</span>
                    <span class="cn-content-subtitle">{{noticia.subtitulo}}</span>
                </div>
                <div class="cn-type">
                    <span>{{noticia.categoriaId.descripcion}}</span>
                </div>
            </div>
        </div>
    </div>
</div>