<div class="background-panel">
    <div class="col-5 titulo-outlet-inicio">
        <label>NOVEDADES</label>
    </div>
    <div class="cn-anuncios">
        <div class="cn-anuncio-listado" *ngFor="let noticia of noticias;  let i = index">
            <div class="cn-status-container">
                <div class="cn-anuncio-status selected"></div>
            </div>
            <div class="cn-content-container">
                <div class="cn-type">
                    <span>{{noticia.categoria}}</span>                    
                <div class="cn-anuncio-listado" *ngFor="let detalle of noticia.detalles">                   
                    
                    <div class="cn-content">
                        <span [ngClass]="{'cn-content-title': true, 'with-content': tieneContenido(noticia)}" class="colorTextoTitulo">{{detalle.titulo}}</span>
                        <span class="cn-content-subtitle colorTextoSubtitulo">{{detalle.subtitulo}}</span>
                    </div>                    
            </div>
        </div>
            </div>
        </div>
    </div>
</div>