div.cn-anuncios {
    
    max-height: 15rem;
    overflow-y: auto;

    div.cn-anuncio-listado {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 1rem 1.5rem;

        div.cn-status-container {

            padding-top: 0.4rem;

            div.cn-anuncio-status {
                border-radius: 100%;
                width: 0.6rem;
                height: 0.6rem;
                border: solid 1px #00C1AF;
            }

            div.cn-anuncio-status.selected {
                background-color: #00C1AF;
            }
        }

        div.cn-content-container {
            
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: space-between;
            padding-left: 1rem;

            div.cn-content {

                display: flex;
                flex-direction: column;
                flex: 1;                
                
                span.cn-content-title.with-content {
                    cursor: pointer;
                }
                
                span.cn-content-subtitle {
                    font-weight: 290 !important;
                }
            }
            
            div.cn-type {
            
                span {
                    color: #00C1AF;
                    font-style: italic;
                    font-size: 18px !important;                   
                }
            }
        }
    }
}


.colorTextoTitulo {
    color: black !important;
  }

  .colorTextoSubtitulo {
    color: black !important;
  }