button{
    border-radius: 20px;
    height: 36px;
    font-weight: 700; //bold
    font-family: 'roboto';
    font-size: 14px;
}


body{
    height: 100vh;
    overflow: hidden;
    
}

html{
    background-color: $fondo;
}