button{
    border-radius: 20px !important;
    height: 36px !important;
    font-weight: 700 !important; //bold
    font-family: 'roboto' !important;
    font-size: 14px !important;
}


body{
    height: 100vh;
    overflow: hidden;
    
}

html{
    background-color: $fondo;
}

.button-outlet{
     color:$primary !important;
     background-color:white !important;
     border-color: $primary;
}

.button-fill{
    color:white !important;
    background-color: $primary !important;
    border-color: $primary;
}

.titulo-outlet{
  
    background-color: $secondary;
    color:$light;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.background-panel{

    background-color: $light;
    border-radius: 10px;


}


.titulo{
    color:$secondary;
    background-color: transparent;
    display: block;
}
