button{
    border-radius: 20px !important;
    height: 36px !important;
    font-weight: 700 !important; //bold
    font-family: 'roboto' !important;
    font-size: 14px !important;
}


body{
    height: 100vh;
    overflow: hidden;
    
}

html{
    background-color: $fondo;
}

.button-outlet{
     color:$secondary !important;
     background-color:transparent;
     border-color: $secondary !important;
}
.button-outlet:hover{

    background-color:white;
    
}

.button-fill{
    color:white !important;
    background-color: $secondary !important;
    border-color: $secondary !important;
}

.titulo-outlet{
  
    background-color: $secondary;
    color:$light;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.titulo-outlet-inicio{
  
    background-color: $secondary;
    color:$light;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.titulo-outlet-recuadros{

    background-color: #eff1ef;
    //color:$light;
   // padding-top: 25px;
    //border-color: 10px solid $fondo ;
    color:$primary !important;
    border-radius: 10px;
    border-right: 17px solid #fd7e14;
}

.background-panel{

    background-color: $light;
    border-radius: 10px;

    

}




.content::-webkit-scrollbar{
    width: 0 !important;
}
.content{
    overflow:scroll !important;
    
}



.titulo{
    color:$secondary;
    background-color: transparent;
    display: block;
}



#navegadorTabs{
   background-color: transparent;
   margin-left: 20px;
   margin-right: 20px;

   .active {
    color: $primary !important;
    background-color: transparent !important;
    border: 1 !important;
    border-bottom: 6px solid $primary !important;
  }

  a{
      color:$light;
  }

}

#navegadorTabsEncab{

    background-color: $secondary;
    color:$light;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-indent: 15px;
    .nav-link::after {
        content: ">";
      }
    .active {
     //color: $primary !important;
     background-color: transparent !important;
     //border: 1 !important;
     //border-bottom: 6px solid $primary !important;
   }
 
   a{
       color:$light;
   }
 
 }

p.interlineado{
    
    font-size: small !important;
    width: 100% !important;
    
}


.tableimg{
    height: 45px;
    width: 45px;
    border: 0;
    
    
}



.table{
    
     

  .head{
      tr{
          th{
            font-size: 12px !important;
          }
      }
  }
  .body{
      tr{
          td{
              font-size: 12px;
              color:$light_titulo;
          }
      }
  }


 

    font-size: small;
   .opciones{
        width: 170px;
        button{
            background-color: transparent;
            display: inline-block !important;
            outline: none !important;
            border: 0 !important;
        }
        text-align: right !important;
    }
    
}

.class-botones tr > :nth-child(8) {
    align-items: center !important;
}

.class-ref tr > :nth-child(4) {
    display:none !important;
}

.margen-tabla table td button {
    margin-top: 0% !important;

}


.class_check tr > :nth-child(2) {
    display:none !important;
}

.class_promedio .table td, .table th {
    vertical-align: middle !important;
}

.class-isr tr > :nth-child(7) {
    display:none !important;
}
.class-subisn tr > :nth-child(6) {
    display:none !important;
}

.class-subsidio tr > :nth-child(6) {
    display:none !important;
}



.responsive_letter{
    
  

        font-size: smaller;

    
}



article.titulo{
    article,select,input{
      font-size: 14px;
      
      color:black;
    }

    color:$light_titulo;
    font-size: 14px;
    display: inline-block;

    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid $light_titulo;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: $secondary;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid $secondary;
    }
}



#accordionFiltro{
    .card{
        background-color: transparent;
        border:0;
    }

    .card-header{
        margin-left: -19px;
        border-bottom: 0;
    }

     @media only screen and (max-width : $pantallamovil)
    {

        .card{
            border:2px solid $primary;
        }

    }
}


.aparece-desktop{

    display: block;
    @media only screen and (max-width : $pantallamovil)
    {

        display: none;

    }
}

.aparece-movil{

    display: none;
    @media only screen and (max-width : $pantallamovil)
    {

        display: block;

    }
}

.aparece-movil-inline-block{

    display: none;
    @media only screen and (max-width : $pantallamovil)
    {

        display: inline-block;

        margin: 0 20px;
        font-size: 18px;

    }
}


.margen{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}



.scrooll{
    overflow: hidden;
}


.margen-tabla {
    table{
        margin:15px;

        td{
            color:#616060;
            
            white-space: nowrap;
            button{
                //border: 0px solid black;
                border: 0 !important;
                margin-left: 2px;
                
            }
        }
    }
}


app-tablapaginado{
    width: 100%;
}


form{
    label{
        color:$dark;
        font-size: 15px;
    }


    label[class='titulo']{
        font-size: 15px;
    }
}


.pantalla{
    width: 100%;
    height: 100%;
    background-color: $fondo;
    overflow: hidden;
}


.titulosfijos{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #022538;
}


.background-ajustar{
    height: calc(100vh - 270px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 19px;
        height: 16px;
      
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 1px;
        border-right: 1px;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondary; 
      }


      &::-webkit-scrollbar-thumb:hover {
        background: $secondary; 
      }

      
    &::-webkit-scrollbar-track {
        background-color: #bbbbbb;
      }
  
      &::-webkit-scrollbar-button:single-button {
        background-color: #bbbbbb;
        display: block;
        border-style: solid;
        height: 16px;
        width: 16px;
      }
  
      &::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 8px 13px 8px;
        border-color: transparent transparent #555555 transparent;
      }
  
      &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent #777777 transparent;
      }
      &::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 13px 8px 0 8px;
        border-color: #555555 transparent transparent transparent;
      }
      
      &::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: #777777 transparent transparent transparent;
      }
}


#navegadorTabs{
    white-space: nowrap!important; /*Prevents Wrapping*/

    display: inline-block;
    height: 50px!important; 
    overflow-x: auto!important; 
    overflow-y: hidden!important; 
    width: 95%;
    margin-right: 50px;

    li{
        display: inline-block!important;  /*Display inline and maintain block characteristics.*/
        vertical-align: top!important;  /*Makes sure all the divs are correctly aligned.*/
        white-space: normal!important;  /*Prevents child elements from inheriting nowrap.*/
    }

    &::-webkit-scrollbar {
        width: 1px;
        height: 10px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 3px;
        border-right: 17px;
      }

      &::-webkit-scrollbar-thumb {
        background: $primary; 
        border-radius: 3px;
        border-right: 17px;
      }


      &::-webkit-scrollbar-thumb:hover {
        background: $secondary; 
      }


}


#navegadorTabsEncab{
    white-space: nowrap!important; /*Prevents Wrapping*/

    display: inline-block;
    //height: 50px!important; 
    overflow-x: auto!important; 
    overflow-y: hidden!important; 
    width: 100%;
    //margin-right: 50px;

    li{
        display: inline-block!important;  /*Display inline and maintain block characteristics.*/
        vertical-align: top!important;  /*Makes sure all the divs are correctly aligned.*/
        white-space: normal!important;  /*Prevents child elements from inheriting nowrap.*/
    }

    &::-webkit-scrollbar {
        width: 1px;
        height: 10px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 3px;
        border-right: 17px;
      }

      &::-webkit-scrollbar-thumb {
        background: $primary; 
        border-radius: 3px;
        border-right: 17px;
      }


      &::-webkit-scrollbar-thumb:hover {
        background: $secondary; 
      }


}



.menu-hamburgesa{
    width: auto;
    display: inline-block;
    cursor: pointer;
    button{
        background: transparent;
        border: 0px solid  !important;
        color: white;margin-left:-15px;
        i{
            font-size: large;
        }
    }
    button:focus{
       border: 0px solid  !important;
    }
}


.tituloabajoimg{
    height: 80px;
    text-align: center;
    margin-top: -9px;
    article{
        color:$secondary;
        font-size: larger;
        article{
            color:#616060;
            font-size: small;
        }
    }
}

.labelflotante{
    position: fixed;
    left: 128px;
    z-index: 2;
    background: #3ea196;
    color: white;
    width: 100px;
    margin-top: -26px;
    border-radius: 10px;
    border: 1px white solid;
    font-size: small;
}

.labelflotantemenu{
    position: absolute;
    left: 158px;
    z-index: 101;
    background: $dark;
    color: white;
    width: 180px;
    border-radius: 10px;
    border: 1px white solid;
    font-size: small;
    list-style-type: none;
    padding: 0;
    top:0;
    li{
        padding: 10px;
    }

    span{
        display: block;
        text-align: left;

    }
    span:hover{
        color:$primary;
        cursor: pointer;
        
    }
}

.form-control.is-valid,
.form-control.is-invalid {
    background-image: none;
    padding-right: inherit;
}