@mixin icono-imagen($colorpersonalizado,$ruta) {
    background-color: $colorpersonalizado;
    -webkit-mask: url($ruta) no-repeat center;
    mask: url($ruta) no-repeat center;
    width: 25px;
    height:25px;
    display: inline-block;
    
  }


  .icon_home{
    @include icono-imagen($dark,'ICON_home.svg');
  }