.bg_modal1{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #0000006b;
}


.bg_emergente{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #0000006b;
    
        .bodymodal{
            background-color: white;
            max-width: 800px;
            max-height: 452px;
            
            top:15%; 
            position: relative;
            margin-right:57px;
            border-radius: 10px;
        }
    

}



.alertanotificacion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000ab;
    z-index: 100;
    display: none;
    .exitoso{
        background-color: #31bda4;
    }
    .error{
        background-color: #ffffff;
    }
    .cuerpo{
        margin: auto;
        margin-top: 30px;
        width: 50%;
        padding: 20px;
        color:white;
        border-color: white;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        img{
            float: left;
            margin-top: -4px;
        }
        .titulo{
            font-size: larger;
            color:white
        }
        .contenido{
            text-align: justify;
        }
        .footer{
            text-align: center;
            button{
                width: 30%;
                margin-top: 12px;
            }
        }
    }

    .slide-in-blurred-top {
        -webkit-animation: slide-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }
@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  

  .btn-light{
          background-color: var(--principal);
          color:white;
  }



.direccionderecha{
        float: right ;
        font-size: larger ;

  }
  .direccionizquierda{
    float: left ;
    font-size: larger;
}


  .operacioneexitosa{
        width: 100%;
        float: right;
        font-size: larger;
        text-align: center;
  }



  
}

