.nav-inside{
    div{
        color:rgb(179, 179, 179);
    }

    .activado{
        color:$secondary !important;
        border-color:  $secondary;
        background: var(--principalhide100);

    }
}