<div class="col-12">

    <div class="header">
        <h5 class="titulo">TABLA SUBSIDIO ISR {{periodo | uppercase}}</h5>

    </div>
    <hr>

    <div class="col-12">

        <div class="row margen">
            <div class="col titulo">
                <label>RESULTADOS</label>
            </div>
            <div class="col text-right">
            </div>
        </div>
        <div class="row margen margen-tabla background-panel scrooll class-subsidio" style="position: relative;">
            <app-tablapaginado [datos]="arreglotablaSubcidio" [cargando]="cargando">
            </app-tablapaginado>
        </div>



    </div>

    <div class="text-right margin" style="margin-bottom: 20px;">

        <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
    </div>
</div>