<div class="form-group row margen">
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Grupo de nómina</label>
        <select class="form-control">
            <option value="">Elegir grupo de nómina</option>
        </select>
    </div>
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Fecha de inicio</label>
        <input type="date" name="" id="" class="form-control">
    </div>
    <hr>
    <div class="form-group mt-3 row margen"><label class="titulo">Rango de incidencias</label></div>
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Desde</label>
        <input type="date" name="" id="" class="form-control">
    </div>
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Hasta</label>
        <input type="date" name="" id="" class="form-control">
    </div>
</div>
<div class="text-center margin" style="margin-bottom: 20px;">

    <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
    <button type="submit" class="btn btn-primary button-fill">Guardar</button>
</div>

