<form [formGroup]="myForm" (ngSubmit)="enviarPeticion()">
    <div class="form-group row">
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Grupo de nómina *</label>
            <select [class.is-invalid]="f.grupoNomina.errors && f.grupoNomina.touched" formControlName="grupoNomina" class="form-control">
                <option *ngFor="let item of arreglogruposnomina" [value]="item.id">{{item.nombre}}</option>
            </select>
            <div *ngIf="f.grupoNomina.errors && f.grupoNomina.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Nombre de la nómina *</label>
            <input formControlName="nombreNomina"  [class.is-invalid]="f.nombreNomina.errors && f.nombreNomina.touched" type="text" name=""  class="form-control">
            <div *ngIf="f.nombreNomina.errors && f.nombreNomina.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Fecha de inicio *</label>
            <input [class.is-invalid]="f.fechaIniPeriodo.errors && f.fechaIniPeriodo.touched" formControlName="fechaIniPeriodo"  type="date" name=""  class="form-control">
            <div *ngIf="f.fechaIniPeriodo.errors && f.fechaIniPeriodo.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Fecha de fin *</label>
            <input [max]="fechaMaxima" (change)="validaFechaFinCaptura()" formControlName="fechaFinPeriodo" #fechafin [class.is-invalid]="f.fechaFinPeriodo.errors && f.fechaFinPeriodo.touched" type="date" name=""  class="form-control">
            <div *ngIf="f.fechaFinPeriodo.errors && f.fechaFinPeriodo.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
    </div>
    <div class="text-right margin" style="margin-bottom: 20px;">
    
        <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
        <button type="submit"  class="btn btn-primary button-fill">Guardar</button>
    </div>
    
</form>
