<div class="row margen">
  <div class="col titulo-outlet">
      <label >CONFIGURACIÓN DE COMPAÑIA</label>
  </div>
</div>


<hr>

<form>

  <div class="background-panel margen" >
    <br>
      <div class="form-group row margen"><label class="titulo">INFORMACIÓN DE COMPAÑIA</label></div>
      <div class="form-group row margen">
      
          <div class=" input-group-sm mb-3 col-4 ">
              <label for="exampleInputEmail1">Nombre de la compañia *</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="exampleInputEmail1">Razón social *</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="exampleInputEmail1">RFC *</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="exampleInputEmail1">Estatus *</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
            <label for="exampleInputEmail1">logo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="">

        </div>
      </div>
  </div>


  

  <div class="background-panel margen">
    <br>
      <div class="form-group row margen"><label class="titulo">INFORMACIÓN DE CONTACTO</label></div>
      <div class="form group row margen">

          <div class=" input-group-sm mb-3 col-4">
              <label for="exampleInputEmail1">Nombre *</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="exampleInputEmail1">Primer apellido *</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="exampleInputEmail1">Segundo apellido</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="exampleInputEmail1">CURP</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class="input-group-sm mb-3 col-4">
              <label for="exampleInputEmail1">Correo empresarial *</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class="input-group-sm mb-3 col-4">
            <label for="exampleInputEmail1">Correo personal *</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="">

        </div>
        <div class="input-group-sm mb-3 col-4">
          <label for="exampleInputEmail1">Teléfono *</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="">

      </div>
      <div class="input-group-sm mb-3 col-4">
        <label for="exampleInputEmail1">Fecha de registro</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="">

    </div>
    <div class="input-group mb-3 col-3">
       
        <input type="text" class="form-control" placeholder="Archivo" aria-label="Username" aria-describedby="basic-addon1">
        <div class="input-group-prepend" style="height: fit-content; background-color: #022538;">
            <span (click)="subirarchivos()" style="background: white;
            color: white;
            cursor: pointer;margin-top: 10px;
        margin-left: 10px;" class="input-group-text icon_upload" id="basic-addon1" >  </span>
          </div>
      </div>
      </div>
  
  
  </div>


  <div class="text-center margin">
      <button type="button" class="btn btn-outline-primary button-outlet" data-dismiss="modal">Continuar despúes</button>
      <button type="button" class="btn btn-primary button-fill">Guardar</button>
  </div>

</form>