<form [formGroup]="myForm" (ngSubmit)="enviandoFormulario()">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 mb-3 mt-3 ">
            <div class="row"><label class="titulo">INFORMACIÓN BÁSICA</label><i aria-hidden="true" *ngIf="!editarcampos && !esKiosko" class="icon_24editar primary-bg" (click)="editarcampos = true;accionarMostrar()" style="width: 10%;text-align: right; cursor: pointer;"></i></div>
            <div class="row mb-4">
                <article [class.ajustar]="editarcampos" class="titulo  col">
                    Nombre <span *ngIf="editarcampos">*</span>
                    <article *ngIf="!editarcampos">{{empleado.nombre}}</article>
                    <article *ngIf="editarcampos">
                        <input [ngClass]="{'is-invalid':f.nombre.errors && submitEnviado}" formControlName="nombre" maxlength="32" type="text" formatos [especial]="true" [control]="f.nombre" name="" class="form-control">
                        <div *ngIf="f.nombre.errors " class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article [class.ajustar]="editarcampos" class="titulo   col">
                    Primer apellido <span *ngIf="editarcampos">*</span>
                    <article *ngIf="!editarcampos">{{empleado.apellidoPaterno}}</article>
                    <article *ngIf="editarcampos">
                        <input [ngClass]="{'is-invalid':f.apellidoPaterno.errors && submitEnviado}" formControlName="apellidoPaterno" maxlength="48" formatos [especial]="true" [control]="f.apellidoPaterno" type="text" name="" class="form-control">
                        <div *ngIf="f.apellidoPaterno.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article [class.ajustar]="editarcampos" class="titulo   col">
                    Segundo apellido
                    <article *ngIf="!editarcampos">{{empleado.apellidoMaterno}}</article>
                    <article *ngIf="editarcampos">
                        <input formControlName="apellidoMaterno" maxlength="48" formatos [especial]="true" [control]="f.apellidoMaterno" type="text" name="" class="form-control">
                    </article>
                </article>

            </div>
            <div class="row">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Genero
                </article>
            </div>

            <div class="row">  
                <article *ngIf="!editarcampos" class="titulo col">
                    <article>{{generoName}}</article>
                </article>
 
                    <article *ngIf="editarcampos">
                        <label style="margin-top: 10px; margin-inline-start: 15px;" class="contenedorInputCheckRadio">Femenino
                            <input formControlName="genero" id="femenino"  name="genero" value="true"  type="radio">
                            <span class="radiomark"></span>
                        </label>
                        <label style="margin-inline-start: 15px;" class="contenedorInputCheckRadio">Masculino
                            <input formControlName="genero" id="masculino" type="radio" name="genero" value="false">
                            <span class="radiomark"></span>
                        </label>
                    </article>

                </div>      
                
            <br>    
            <div class="row">
                <article [class.ajustar]="editarcampos" class="titulo mr-1 col">
                    Fecha de nacimiento <span *ngIf="editarcampos">*</span>
                </article>

            </div>
            <div class="row">
                <article *ngIf="editarcampos" class="titulo col">
                    <article>
                        <input [class.is-invalid]="f.fechaNacimiento.errors && submitEnviado" #fechaNacimiento (focusout)="validarfechNacimiento(fechaNacimiento.value)" formControlName="fechaNacimiento" type="date" name="" id="fn1" class="form-control">
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Día
                    <article>{{empleado.fechaNacimiento| date :'dd'}}</article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Mes
                    <article>{{empleado.fechaNacimiento | date:'MMMM'}}</article>
                </article>
                <article *ngIf="!editarcampos" class="titulo col">
                    Año
                    <article>{{empleado.fechaNacimiento | date:'yyyy'}}</article>
                </article>
            </div>

            <hr>

            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    CURP <span *ngIf="editarcampos">*</span>
                    <article *ngIf="!editarcampos">{{empleado.curp}}</article>
                    <article *ngIf="editarcampos">
                        <input formatos [nochar]="true" [curp]="true" [control]="f.curp" [ngClass]="{'is-invalid':(f.curp.errors?.required && submitEnviado) || f.curp.errors?.pattern && f.curp.touched}" formControlName="curp" type="text" name="" class="form-control">
                        <div *ngIf="f.curp.errors?.required && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                        <div *ngIf="f.curp.errors?.pattern && f.curp.touched" class="invalid-feedback">
                            CURP inválido, favor de verificar
                        </div>
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    RFC <span *ngIf="editarcampos">*</span>
                    <article *ngIf="!editarcampos">
                        {{empleado.rfc}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formatos [nochar]="true" [rfc]="true" [control]="f.rfc" [ngClass]="{'is-invalid':(f.rfc.errors?.required && submitEnviado) || (f.rfc.errors?.pattern && f.rfc.touched)}" formControlName="rfc" maxlength="13" type="text" name="" class="form-control">
                        <div *ngIf="f.rfc.errors?.required && f.rfc.touched" class="invalid-feedback">
                            Campo requerido
                        </div>
                        <div *ngIf="f.rfc.errors?.pattern && f.rfc.touched" class="invalid-feedback">
                            RFC inválido, favor de verificar
                        </div>
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Seguro Social <span *ngIf="editarcampos">*</span>
                    <article *ngIf="!editarcampos">
                        {{empleado.nss}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="nss" maxlength="11" [class.is-invalid]="f.nss.errors" type="text" name="" class="form-control">
                        <div *ngIf="(f.nss.errors?.required && submitEnviado)" class="invalid-feedback">
                            Campo requerido
                        </div>
                        <div *ngIf="(f.nss.errors && f.nss.touched)" class="invalid-feedback">
                            Número de seguro social invalido.
                        </div>
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Correo empresarial <span *ngIf="editarcampos">*</span>
                    <article *ngIf="!editarcampos">
                        {{empleado.emailCorporativo}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formatos [correo]="true" [control]="f.emailCorporativo" [ngClass]="{'is-invalid':f.emailCorporativo.errors && f.emailCorporativo.touched}" formControlName="emailCorporativo" type="text" name="" class="form-control">
                        <div *ngIf="f.emailCorporativo.errors?.required && f.emailCorporativo.touched" class="invalid-feedback">
                            Campo obligatorio
                        </div>
                        <div *ngIf="f.emailCorporativo.errors?.email && f.emailCorporativo.touched" class="invalid-feedback">
                            Correo empresarial inválido
                        </div>
                    </article>
                </article>
            </div>

            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Correo personal
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoInicialEmailPersonal}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formatos [correo]="true" [control]="f.contactoInicialEmailPersonal" formControlName="contactoInicialEmailPersonal" type="text" [ngClass]="{'is-invalid':(f.contactoInicialEmailPersonal.errors?.required && submitEnviado) || (f.contactoInicialEmailPersonal.errors?.email && f.contactoInicialEmailPersonal.touched)}"
                            class="form-control">
                        <div *ngIf="f.contactoInicialEmailPersonal.errors?.required && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                        <div *ngIf="f.contactoInicialEmailPersonal.errors?.email && f.contactoInicialEmailPersonal.touched" class="invalid-feedback">
                            Correo personal inválido
                        </div>
                    </article>
                </article>
            </div>


        </div>
        <div class="col-12 col-lg-6 col-xl-6  mb-3 mt-3">
            <div class="row"><label class="titulo">INFORMACIÓN ADICIONAL</label></div>

            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Nacionalidad <span *ngIf="editarcampos">*</span>
                    <article *ngIf="!editarcampos">
                        {{empleado.nacionalidadId?.descripcion}}
                    </article>
                    <article *ngIf="editarcampos">
                        <select formControlName="nacionalidadId" name="" [ngClass]="{'is-invalid':f.nacionalidadId.errors && submitEnviado}" class="form-control">
                            <option *ngFor="let item of (arreglonacionalidad | async)?.datos"
                                [value]="item.nacionalidadId">{{item.descripcion}}</option>
                        </select>
                        <div *ngIf="f.nacionalidadId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Teléfono <span *ngIf="editarcampos">*</span>
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoInicialTelefono}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoInicialTelefono" maxlength="10" class="form-control" appSolonumeros [ngClass]="{'is-invalid':f.contactoInicialTelefono.errors && submitEnviado}">
                        <div *ngIf="f.contactoInicialTelefono.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>

            </div>
            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Estado Civil
                    <article *ngIf="!editarcampos">
                        {{empleado.estadoCivilDescripcion}}
                    </article>
                    <article *ngIf="editarcampos">

                        <select formControlName="estadoCivil" name="" class="form-control">
                            <option value="S">Soltero(a)</option>
                            <option value="C">Casado(a)</option>
                            <option value="D">Divorciado(a)</option>
                            <option value="V">Viudo(a)</option>
                        </select>
                    </article>
                </article>
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Hijos
                    <article *ngIf="!editarcampos">
                        {{empleado.numeroHijos}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="numeroHijos" type="number" name="" class="form-control">
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Celular
                    <article *ngIf="!editarcampos">
                        {{empleado.celular}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input type="text" formControlName="celular" appSolonumeros maxlength="10" class="form-control" [ngClass]="{'is-invalid':f.celular.errors && submitEnviado}">
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <label class="titulo">DIRECCIÓN</label>
            </div>    
            <div class="row mb-2">
                <!-- <div class="row"><label class="titulo">DIRECCIÓN</label></div>   -->  
                <article [class.ajustar]="editarcampos" class="titulo col">
                    <article *ngIf="!editarcampos">
                        {{domicilioArreglo?.calle}} # {{domicilioArreglo?.numeroExterior}} Col. {{domicilioArreglo?.colonia}}, {{domicilioArreglo?.municipio}}, C.P. {{domicilioArreglo?.codigoPostal}} , {{domicilioArreglo?.entidadFederativa}}
                    </article>

                    <article *ngIf="editarcampos">

                        <div class="row">
                            <div class="col-12">
                                <div class="form group row  ">

                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                                        <label>Código postal *</label>
                                        <input maxlength="5" #codigopostal formControlName="codigo" (focusout)="buscar(codigopostal.value)" type="text" class="form-control" [ngClass]="{'is-invalid':(f.codigo.errors?.required && submitEnviado) || f.codigo.errors?.pattern && f.codigo.touched}"
                                            placeholder="">
                                        <div *ngIf="f.codigo.errors?.required && submitEnviado" class="invalid-feedback">
                                            Campo requerido
                                        </div>
                                        <div *ngIf="f.codigo.errors?.pattern && f.codigo.touched" class="invalid-feedback">
                                            Código postal incorrecto, formato númerico
                                        </div>

                                        <div *ngIf="noCoincide !== ''" class="mt-2"> {{noCoincide}}</div>


                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                                        <label>Entidad federativa *</label>
                                        <input formControlName="estado" type="email" [ngClass]="{'is-invalid':f.estado.errors?.required && submitEnviado}" class="form-control disabled bg-light" placeholder="">
                                        <div *ngIf="f.estado.errors?.required && submitEnviado" class="invalid-feedback">
                                            Campo requerido
                                        </div>

                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                                        <label>Municipio o alcadía *</label>
                                        <input formControlName="municipio" type="email" [ngClass]="{'is-invalid':f.municipio.errors?.required && submitEnviado}" class="form-control disabled bg-light" placeholder="">
                                        <div *ngIf="f.municipio.errors?.required && submitEnviado" class="invalid-feedback">
                                            Campo requerido
                                        </div>

                                    </div>

                                </div>

                                <div class="form group row ">
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                                        <label>Colonia *</label>
                                        <select formControlName="asentamientoId" name="" [ngClass]="{'is-invalid':f.asentamientoId.errors && submitEnviado}" class="form-control">
                                            <option *ngFor="let item of domicilioCodigoPostal" [value]="item.asentamientoCpCons">{{item.asentamiento}}</option>
                                        </select>
                                        <div *ngIf="f.asentamientoId.errors && submitEnviado" class="invalid-feedback">
                                            Campo requerido
                                        </div>

                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-8">
                                        <label>Calle *</label>
                                        <input maxlength="86" formControlName="calle" type="text" [ngClass]="{'is-invalid':f.calle.errors && submitEnviado}" class="form-control" placeholder="">
                                        <div *ngIf="f.calle.errors && submitEnviado" class="invalid-feedback">
                                            Campo requerido
                                        </div>
                                    </div>
                                </div>

                                <div class="form group row ">
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                                        <label>Número exterior *</label>
                                        <input maxlength="10" formControlName="numExterior" type="text" name="" [ngClass]="{'is-invalid':f.numExterior.errors && submitEnviado}" class="form-control">
                                        <div *ngIf="f.numExterior.errors && submitEnviado" class="invalid-feedback">
                                            Campo requerido
                                        </div>
                                    </div>
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                                        <label>Número interior</label>
                                        <input maxlength="10" formControlName="numInterior" type="text" class="form-control" placeholder="">

                                    </div>
                                </div>

                            </div>
                        </div>



                    </article>
                </article>
            </div>
            <div class="row">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Perfil de Linkedin
                    <article *ngIf="!editarcampos">
                        {{empleado.urlLinkedin}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="url" type="text" name="" class="form-control">
                    </article>
                </article>
            </div>



            <div class="row mt-5"><label class="titulo">CONTACTO DE EMERGENCIA</label></div>

            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Nombre
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoEmergenciaNombre}} {{empleado.contactoEmergenciaApellidoPaterno}} {{empleado.contactoEmergenciaApellidoMaterno}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoEmergenciaNombre" maxlength="32" type="text" [ngClass]="{'is-invalid':f.contactoEmergenciaNombre.errors && submitEnviado}" class="form-control">
                        <div *ngIf="f.contactoEmergenciaNombre.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article *ngIf="editarcampos" [class.ajustar]="editarcampos" class="titulo col">
                    Primer apellido
                    <article>
                        <input formControlName="contactoEmergenciaApellidoPaterno" maxlength="48" type="text" name="" [ngClass]="{'is-invalid':f.contactoEmergenciaApellidoPaterno.errors && submitEnviado}" class="form-control">
                        <div *ngIf="f.contactoEmergenciaApellidoPaterno.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article *ngIf="editarcampos" [class.ajustar]="editarcampos" class="titulo col">
                    Segundo apellido
                    <article>
                        <input formControlName="contactoEmergenciaApellidoMaterno" maxlength="48" type="text" name="" class="form-control">
                    </article>
                </article>

            </div>

            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Parentesco
                    <article *ngIf="!editarcampos">
                        {{empleado.parentescoId?.descripcion}}
                    </article>
                    <article *ngIf="editarcampos">
                        <select formControlName="contactoEmergenciaParentesco" name="" class="form-control">
                            <option *ngFor="let item of (arregloParenteesco | async)?.datos" [value]="item.parentescoId">{{item.descripcion}}</option>
                        </select>
                    </article>
                </article>
            </div>

            <div class="row mb-2">
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Correo
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoEmergenciaEmail}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoEmergenciaEmail" type="text" name="" class="form-control" [ngClass]="{'is-invalid':f.contactoEmergenciaEmail.errors?.email && f.contactoEmergenciaEmail.touched}">
                        <div *ngIf="f.contactoEmergenciaEmail.errors?.email && f.contactoEmergenciaEmail.touched" class="invalid-feedback">
                            Correo inválido
                        </div>
                    </article>
                </article>
                <article [class.ajustar]="editarcampos" class="titulo col">
                    Celular
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoEmergenciaTelefono}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoEmergenciaTelefono" type="text" appSolonumeros  maxlength="10" class="form-control">
                    </article>
                </article>
            </div>


        </div>

    </div>


    <div class="row" *ngIf="editarcampos">
        <div class="col-12">
            <div class="text-right " style="margin-bottom: 20px; margin-right: 16px;">

                <button (click)="editarcampos = false;accionarCancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
                <button type="submit" class="btn btn-primary button-fill">Guardar</button>
            </div>
        </div>
    </div>
</form>