<form [formGroup]="myForm" (ngSubmit)="enviandoFormulario()">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-4 mb-3 mt-3 ">
            <div class="row"><label class="titulo">INFORMACIÓN BÁSICA</label><i *ngIf="!editarcampos"
                    class="fas fa-pencil-alt primary" (click)="editarcampos = true;accionarMostrar()"
                    style="width: 10%;text-align: right; cursor: pointer;"></i></div>
            <div class="row mb-4">
                <article class="titulo  col">
                    Nombre
                    <article *ngIf="!editarcampos">{{empleado.nombre}}</article>
                    <article *ngIf="editarcampos">
                        <input [ngClass]="{'is-invalid':f.nombre.errors && submitEnviado}" formControlName="nombre"
                            type="text" name="" id=""  class="form-control">
                        <div *ngIf="f.nombre.errors " class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article class="titulo   col">
                    Apellido paterno
                    <article *ngIf="!editarcampos">{{empleado.apellidoPaterno}}</article>
                    <article *ngIf="editarcampos">
                        <input [ngClass]="{'is-invalid':f.apellidoPaterno.errors && submitEnviado}"
                            formControlName="apellidoPaterno" type="text" name=""  id=""
                            class="form-control">
                        <div *ngIf="f.apellidoPaterno.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article class="titulo   col">
                    Apellido materno
                    <article *ngIf="!editarcampos">{{empleado.apellidoMaterno}}</article>
                    <article *ngIf="editarcampos">
                        <input formControlName="apellidoMaterno" type="text" name=""  id=""
                            class="form-control">
                    </article>
                </article>

            </div>
            <div class="row mb-4">
                <article class="titulo col">
                    Genero
                    <article>
                        <input formControlName="genero" id="femenino" type="radio" name="genero" value="true"><label
                            for="femenino">&nbsp; Femenino &nbsp;</label>
                        <input formControlName="genero" id="masculino" type="radio" name="genero" value="false"><label
                            for="masculino">&nbsp; Masculino</label>
                    </article>

                </article>
            </div>
            <div class="row">
                <article class="titulo mr-1 col">
                    Fecha de nacimiento
                </article>

            </div>
            <div class="row">
                <article *ngIf="editarcampos" class="titulo col">
                    <article>
                        <input formControlName="fechaNacimiento" type="date" name="" id="fn1" class="form-control">
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo col">
                    Año
                    <article>{{anio}}</article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Mes
                    <article>{{mes}}</article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Día
                    <article>{{dia}}</article>
                </article>

            </div>

            <hr>

            <div class="row mb-2">
                <article class="titulo col">
                    CURP
                    <article *ngIf="!editarcampos">{{empleado.curp}}</article>
                    <article *ngIf="editarcampos">
                        <input
                            [ngClass]="{'is-invalid':(f.curp.errors?.required && submitEnviado) || f.curp.errors?.pattern && f.curp.touched}"
                            formControlName="curp" type="text" name=""  id=""
                            class="form-control">
                        <div *ngIf="f.curp.errors?.required && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                        <div *ngIf="f.curp.errors?.pattern && f.curp.touched" class="invalid-feedback">
                            CURP inválido, favor de verificar
                        </div>
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article class="titulo col">
                    RFC
                    <article *ngIf="!editarcampos">
                        {{empleado.rfc}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input
                            [ngClass]="{'is-invalid':(f.rfc.errors?.required && submitEnviado) || (f.rfc.errors?.pattern && f.rfc.touched)}"
                            formControlName="rfc" maxlength="13" type="text" name=""  id=""
                            class="form-control">
                        <div *ngIf="f.rfc.errors?.required && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                        <div *ngIf="f.rfc.errors?.pattern && f.rfc.touched" class="invalid-feedback">
                            RFC inválido, favor de verificar
                        </div>
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article class="titulo col">
                    Seguro Social
                    <article *ngIf="!editarcampos">
                        {{empleado.nns}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="nss" type="text" name="" id="" class="form-control">
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article class="titulo col">
                  Correo personal
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoInicialEmailPersonal}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoInicialEmailPersonal" type="text"
                            [ngClass]="{'is-invalid':(f.contactoInicialEmailPersonal.errors?.required && submitEnviado) || (f.contactoInicialEmailPersonal.errors?.email && f.contactoInicialEmailPersonal.touched)}"
                            class="form-control">
                        <div *ngIf="f.contactoInicialEmailPersonal.errors?.required && submitEnviado"
                            class="invalid-feedback">
                            Campo requerido
                        </div>
                        <div *ngIf="f.contactoInicialEmailPersonal.errors?.email && f.contactoInicialEmailPersonal.touched"
                            class="invalid-feedback">
                            Correo personal inválido
                        </div>
                    </article>
                </article>
            </div>
            <div class="row ">
                <article class="titulo col">
                  Correo empresarial
                    <article *ngIf="!editarcampos">
                        {{empleado.emailCorporativo}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="emailCorporativo" type="text" name=""
                            id="" class="form-control">
                        <div *ngIf="f.emailCorporativo.errors?.email && f.emailCorporativo.touched"
                            [ngClass]="{'is-invalid':f.emailCorporativo.errors?.email && f.emailCorporativo.touched}"
                            class="invalid-feedback">
                          Correo empresarial inválido
                        </div>
                    </article>
                </article>
            </div>

        </div>
        <div class="col-12 col-lg-6 col-xl-4  mb-3 mt-3">
            <div class="row"><label class="titulo">INFORMACIÓN ADICIONAL</label></div>

            <div class="row mb-2">
                <article class="titulo col">
                    Nacionalidad
                    <article *ngIf="!editarcampos">
                        {{empleado.nacionalidadId?.descripcion}}
                    </article>
                    <article *ngIf="editarcampos">
                        <select formControlName="nacionalidadId" name=""
                            [ngClass]="{'is-invalid':f.nacionalidadId.errors && submitEnviado}" class="form-control">
                            <option *ngFor="let item of (arreglonacionalidad | async)?.datos"
                                [value]="item.nacionalidadId">{{item.descripcion}}</option>
                        </select>
                        <div *ngIf="f.nacionalidadId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article class="titulo col">
                    Teléfono
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoInicialTelefono}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoInicialTelefono" maxlength="10" class="form-control"
                            [ngClass]="{'is-invalid':f.contactoInicialTelefono.errors && submitEnviado}">
                        <div *ngIf="f.contactoInicialTelefono.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article class="titulo col">
                    Estado Civil
                    <article *ngIf="!editarcampos">
                        {{empleado.estadoCivilDescripcion}}
                    </article>
                    <article *ngIf="editarcampos">

                        <select formControlName="estadoCivil" name="" class="form-control">
                            <option value="S">Soltero(a)</option>
                            <option value="C">Casado(a)</option>
                            <option value="D">Divorciado(a)</option>
                            <option value="V">Viudo(a)</option>
                        </select>
                    </article>
                </article>
                <article class="titulo col">
                    Hijos
                    <article *ngIf="!editarcampos">
                        {{empleado.numeroHijos}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="numeroHijos" type="number" name="" class="form-control">
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article class="titulo col">
                    Dirección
                    <article *ngIf="!editarcampos">
                        {{domicilioArreglo?.calle}} # {{domicilioArreglo?.numeroExterior}} Col. {{domicilioArreglo?.colonia}} {{domicilioArreglo?.entidadFederativa}}
                    </article>

                    <article *ngIf="editarcampos">
                        <input  type="text" name="" id=""
                            class="form-control">
                    </article>
                </article>
            </div>
            <div class="row">
                <article class="titulo col">
                    Perfil de Linkedin
                    <article *ngIf="!editarcampos">
                        {{empleado.urlLinkedin}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="url" type="text" name="" class="form-control">
                    </article>
                </article>
            </div>



            <div class="row mt-5"><label class="titulo">CONTACTO DE EMERGENCIA</label></div>

            <div class="row mb-2">
                <article class="titulo col">
                    Nombre
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoEmergenciaNombre}} {{empleado.contactoEmergenciaApellidoPaterno}}
                        {{empleado.contactoEmergenciaApellidoMaterno}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoEmergenciaNombre" type="text"
                            [ngClass]="{'is-invalid':f.contactoEmergenciaNombre.errors && submitEnviado}"
                            class="form-control">
                        <div *ngIf="f.contactoEmergenciaNombre.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article *ngIf="editarcampos" class="titulo col">
                    Apellido paterno
                    <article>
                        <input formControlName="contactoEmergenciaApellidoPaterno" type="text" name=""
                            [ngClass]="{'is-invalid':f.contactoEmergenciaApellidoPaterno.errors && submitEnviado}"
                            class="form-control">
                        <div *ngIf="f.contactoEmergenciaApellidoPaterno.errors && submitEnviado"
                            class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article *ngIf="editarcampos" class="titulo col">
                    Apellido materno
                    <article>
                        <input formControlName="contactoEmergenciaApellidoMaterno" type="text" name=""
                            class="form-control">
                    </article>
                </article>

            </div>

            <div class="row mb-2">
                <article class="titulo col">
                    Parentesco
                    <article *ngIf="!editarcampos">
                        {{empleado.parentescoId?.descripcion}}
                    </article>
                    <article *ngIf="editarcampos">
                        <select formControlName="contactoEmergenciaParentesco" name=""  class="form-control">
                            <option *ngFor="let item of (arregloParenteesco | async)?.datos" [value]="item.parentescoId">{{item.descripcion}}}</option>
                        </select>
                    </article>
                </article>
            </div>

            <div class="row mb-2">
                <article class="titulo col">
                  Correo
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoEmergenciaEmail}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoEmergenciaEmail" type="text" name=""  class="form-control" [ngClass]="{'is-invalid':f.contactoEmergenciaEmail.errors?.email && f.contactoEmergenciaEmail.touched}">
                        <div *ngIf="f.contactoEmergenciaEmail.errors?.email && f.contactoEmergenciaEmail.touched" class="invalid-feedback">
                            Correo inválido
                        </div>
                    </article>
                </article>
                <article class="titulo col">
                    Celular
                    <article *ngIf="!editarcampos">
                        {{empleado.contactoEmergenciaTelefono}}
                    </article>
                    <article *ngIf="editarcampos">
                        <input formControlName="contactoEmergenciaTelefono" type="text" maxlength="10"  class="form-control">
                    </article>
                </article>
            </div>


        </div>
        <!-- <div class="col-12 col-lg-6 col-xl-4  mb-3 mt-3">
            <div class="row"><label class="titulo">PREFERENCIAS</label></div>
            <div class="row mb-2">
                <article class="titulo col">
                    Alimentación
                    <article>
                        Mixta
                    </article>
                </article>
                <article class="titulo col">
                    Color Favorito
                    <article>
                        Azul
                    </article>
                </article>
            </div>
            <div class="row mb-2">
                <article class="titulo col">
                    Alergias
                    <article>
                        Ninguna
                    </article>
                </article>
                <article class="titulo col">
                    Dulce Favorito
                    <article>
                        Paleta de caramelo
                    </article>
                </article>
            </div>
        </div> -->
    </div>


    <div class="row" *ngIf="editarcampos">
        <div class="col-12">
            <div class="text-right " style="margin-bottom: 20px; margin-right: 16px;">

                <button (click)="editarcampos = false;accionarCancelar()" type="button"
                    class="btn btn-primary button-outlet mr-2">Cancelar</button>
                <button type="submit" class="btn btn-primary button-fill">Guardar</button>
            </div>
        </div>
    </div>
</form>
