<br>
<div >
  <div class="col-10">
    <div *ngIf="aparecemodalitoempleado" [style.top]="scrolly" class="ventanaemergente" [style.width]="modalWidth">
     <div class="adentro">
        <button (click)="aparecemodalitoempleado = false"  type="button" class="close btnclosemodal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div  class="header"><h5 class="titulo">ADMINISTRACIÓN DE POLITÍCAS</h5>
        
          
        </div>
      <hr>
      <div  class="body">
  
  
        <div *ngIf="cargandodetallearea" class="col text-center mb-5">
          <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
        </div>
  
       <div *ngIf="!cargandodetallearea">
        <table  class="table m-3 table-hober table-sm " style="width: 90%;">
          <thead>
            <tr>
              <th scope="col">Nombre de empleado</th>
              <th scope="col">Número de empleado</th>
              <th scope="col">Puesto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arreglodetalleemp">
              <td>{{item.nombre}} {{item.apellidoPat}} {{item.apellidoMat}}</td>
              <td>{{item.numEmpleado}}</td>
              <td>{{item.puesto}}</td>
            </tr>
          </tbody>
        </table>
       </div>
  
      </div>
      <hr>
      <div  class="footer">
        <div class="row">
          <div class="col-12 text-center"><button (click)="aparecemodalitoempleado = false" type="submit" class="btn btn-primary button-fill agrandarloading">Cerrar</button></div>
        </div>
      </div>
  
      </div>
    </div>
</div>
<div class="col-12">
<div *ngIf="aparecemodalito" [style.top]="scrolly" class="ventanaemergente" [style.width]="modalWidth">
  <div class="adentro">
    <button (click)="aparecemodalito = false"  type="button" class="close btnclosemodal" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div  class="header"><h5 class="titulo">TABLA DE BENEFICIOS</h5>
    
      
    </div>
  <hr>
  <div  class="body">


    <div *ngIf="cargandodetallearea" class="col text-center mb-5">
      <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
    </div>

   <div *ngIf="!cargandodetallearea">
    <table  class="table m-3 table-hober table-sm " style="width: 90%;">
      <thead>
        <tr>
          <th scope="col">Años de antiguedad</th>
          <th scope="col">Días de aguinaldo</th>
          <th scope="col">Días de vacaciones</th>
          <th scope="col">Prima vacacional</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arreglodetalle">
          
          <td>{{item.aniosAntiguedad}}</td>
          <td>{{item.diasAguinaldo}}</td>
          <td>{{item.diasVacaciones}}</td>
          <td>{{item.primaVacacional}}</td>
        </tr>
      </tbody>
    </table>
   </div>

  </div>
  <hr>
  <div  class="footer">
    <div class="row">
      <div class="col-12 text-center"><button (click)="aparecemodalito = false" type="submit" class="btn btn-primary button-fill agrandarloading">Cerrar</button></div>
    </div>
  </div>

  </div>
</div>
</div>
     <div class="row margen">
        <div class="col titulo">
            <label >RESULTADOS</label>
        </div>
        <div class="row" style="  margin-top: 10px;  width: 100%;">
          <div class="col text-right">
            <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i class="fa fa-plus"></i> Agregar politíca
            </button>
          </div>
        </div>
    </div>

    <div id="vetanaprincipaltabla"  class="row margen margen-tabla background-panel scrooll" style="position: relative;"  >

            <table *ngIf="!cargando && arreglo !== undefined" class="table table-hover">
              <thead>
                <tr>
                    <th scope="col">Nombre de política</th>
                    <th scope="col" *ngIf="tamanio >=600" >Número de empleados</th>
                    <th scope="col">Tabla de beneficios</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of arreglo;let indice = index;">
                    <tr>
                        <td>{{item.nombre}} </td>
                        <td (click)="traerModalEmpleo(indice)" style="color:  #00DED4" *ngIf="tamanio >=600">{{item.count}}</td>
                        <td >
                          <button style="background-color: transparent;" (click)="traerModal(indice)"><i class="icon_ver primary-bg"></i>
                          </button>
                        </td>
                        <td class="opciones" >
                          <button (click)="verdetalle(item)"><i class="icon_editar primary-bg"></i></button>
                          <button (click)="eliminar(item)"><i class="icon_eliminar danger-bg"></i></button>
                          <button (click)="apagando(indice); "><i *ngIf="!item.seleccionado" class="fas fa-chevron-down primary" style="font-size: 14px;
                              margin: 9px;"></i><i *ngIf="item.seleccionado" class="fas fa-chevron-up primary" style="font-size: 14px;
                              margin: 9px;"></i></button>
                        </td>
                      </tr>

                      <tr *ngIf="item.seleccionado" class="slide-in-bck-center">
                        <td colspan="5">
                          <div class="row mb-4">
                            <article class="titulo  col">
                                Días económicos 
                                <article>{{item.diasEconomicos}}</article>
                            </article>
                            <article class="titulo   col">  
                                Prima vacacional al aniversario
                                <article>{{(item.primaAniversario)?'Si':'No'}}</article>
                            </article>
                            <article class="titulo   col" >
                                Se descuentan faltas
                                <article>{{(item.descuentaFaltas)?'Si':'No'}}</article>
                            </article>
                        
                        </div>
                        <div class="row mb-4">
                          <article class="titulo  col">
                              Se descuentan incapacidades
                              <article>{{(item.descuentaIncapacidades)?'Si':'No'}}</article>
                          </article>
                          <article class="titulo   col">
                              Costo vales de restaurante
                              <article>{{(item.costoValesRestaurante)?'Si':'No'}}</article>
                          </article>
                          <article class="titulo   col" >
                              Descuento proporción séptimo día
                              <article>{{(item.descuentoPropDia)?'Si':'No'}}</article>
                          </article>
                      
                      </div>
                      <div class="row mb-4">
                      <article class="titulo   col" >
                        Cálculos en base a :
                          <article>{{(item.calculoAntiguedadx=='C')?'Fecha de inicio de contrato':'Fecha de antigüedad'}}</article>
                      </article>
                      </div>

                      </td>
                      </tr>
              
                    </ng-container>              
                </tbody>
              </table>
              <div *ngIf="!cargando && arreglo === undefined" class="alert col text-center">
                <strong>En este momento no existen registros</strong>
              </div>
              <div *ngIf="cargando" class="col text-center mb-5">
                <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
              </div>
    </div>
    
  </div>

  <app-alert-questions *ngIf="modal" [titulo]="strTitulo" [iconType]="iconType" (eventoFunciones)="recibir($event)"></app-alert-questions>

  
  
  
  
  