<div class="scrooll-designempresa">
    <div class="col-9">
        <div *ngIf="aparecemodalitoempleado" [style.top]="scrolly" class="ventanaemergente" [style.width]="modalWidth">
            <div class="adentro">
                <button (click)="aparecemodalitoempleado = false" type="button" class="close btnclosemodal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <div class="header">
                    <h5 class="titulo">ADMINISTRACIÓN DE POLITÍCAS</h5>


                </div>
                <hr>
                <div class="body">


                    <div *ngIf="cargandodetallearea" class="col text-center mb-5">
                        <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
                    </div>

                    <div *ngIf="!cargandodetallearea">
                        <table aria-hidden="true" class="table m-3 table-hober table-sm " style="width: 90%;">
                            <thead>
                                <tr>
                                    <th id="" class="text-center" scope="col">Nombre de empleado</th>
                                    <th id="" class="text-center" scope="col">Número de empleado</th>
                                    <th id="" class="text-center" scope="col">Puesto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of arreglodetalleemp">
                                    <td>{{item.nombrecompleto}}</td>
                                    <td class="text-center">{{item.numEmpleado}}</td>
                                    <td>{{item.puesto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <hr>
                <div class="footer">
                    <div class="row">
                        <div class="col-12 text-center"><button (click)="aparecemodalitoempleado = false" type="submit" class="btn btn-primary button-fill agrandarloading">Cerrar</button></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-9">
        <div *ngIf="aparecemodalito" [style.top]="scrolly" class="ventanaemergente" [style.width]="modalWidth">
            <div class="adentro">
                <button (click)="aparecemodalito = false" type="button" class="close btnclosemodal" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
                <div class="header">
                    <h5 class="titulo">TABLA DE BENEFICIOS</h5>


                </div>
                <hr>
                <div class="body">


                    <div *ngIf="cargandodetallearea" class="col text-center mb-5">
                        <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
                    </div>

                    <div *ngIf="!cargandodetallearea">
                        <table aria-hidden="true" class="table m-3 table-hober table-sm " style="width: 90%;">
                            <thead>
                                <tr>
                                    <th id="" class="text-center" scope="col">Años de antiguedad</th>
                                    <th id="" class="text-center" scope="col">Días de aguinaldo</th>
                                    <th id="" class="text-center" scope="col">Días de vacaciones</th>
                                    <th id="" class="text-center" scope="col">Prima vacacional</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of arreglodetalle">

                                    <td class="text-center">{{item.aniosAntiguedad}}</td>
                                    <td class="text-center">{{item.diasAguinaldo}}</td>
                                    <td class="text-center">{{item.diasVacaciones}}</td>
                                    <td class="text-center">{{item.primaVacacional}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <hr>
                <div class="footer">
                    <div class="row">
                        <div class="col-12 text-center"><button (click)="aparecemodalito = false" type="submit" class="btn btn-primary button-fill agrandarloading">Cerrar</button></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row margen">
        <div class="col titulo">
            <label style="margin-left: 20px;">RESULTADOS</label>
        </div>
        <div class="row" style="  margin-top: 10px;  width: 100%;">
            <div class="col text-right">
                <button *ngIf="esRegistrar" type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i aria-hidden="true" class="icon_24agregar primary-bg"></i> Agregar politíca
            </button>
            </div>
        </div>
    </div>

    <div id="vetanaprincipaltabla" class="row margen margen-tabla background-panel scrooll" style="position: relative;">
        <app-tablapaginado [desglosar]="true" [arreglotablaDesglose]="arreglotablaDesglose" [datos]="arreglotabla" [tablabeneficios]="true" [editar]="esEditar" [eliminar]="esEliminar" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
    </div>

</div>
