<br>
<div >
   
   
    
    <div class="row margen">
        <div class="col titulo">
            <label >RESULTADOS</label>
        </div>
        <div class="row" style="  margin-top: 10px;  width: 100%;">
          <div class="col text-right">
            <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i class="fa fa-plus"></i> Agregar politíca
            </button>
          </div>
        </div>
    </div>
     <div class="row margen margen-tabla background-panel scrooll">


            <table *ngIf="!cargando && arreglo !== undefined" class="table table-hover">
              <thead>
                <tr>
                    <th scope="col">Nombre de política</th>
                    <th scope="col" *ngIf="tamanio >=600">Número de Empleados</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of arreglo;let indice = index;">
                    <tr>
                        <td>{{item.nombre}} </td>
                        <td *ngIf="tamanio >=600">{{item.count}}</td>
                        <td class="opciones">
                          <button (click)="traerModal(indice)"><i class="icon_ver primary-bg"></i></button>
                          <button (click)="verdetalle(item)"><i class="fas fa-pen primary"></i></button>
                          <button (click)="eliminar(item)"><i class="icon_eliminar danger-bg"></i></button>
                          <button (click)="apagando(indice); "><i *ngIf="!item.seleccionado" class="fas fa-chevron-down primary" style="font-size: 14px;
                              margin: 9px;"></i><i *ngIf="item.seleccionado" class="fas fa-chevron-up primary" style="font-size: 14px;
                              margin: 9px;"></i></button>
                        </td>
                      </tr>

                      <tr *ngIf="item.seleccionado" class="slide-in-bck-center">
                        <td colspan="5">
                          <div class="row mb-4">
                            <article class="titulo  col">
                                Días económicos 
                                <article>{{item.diasEconomicos}}</article>
                            </article>
                            <article class="titulo   col">  
                                Prima vacacional al aniversario
                                <article>
                                <input type="checkbox" disabled="true" [(ngModel)]="item.primaAniversario"></article>
                            </article>
                            <article class="titulo   col" >
                                Se descuentan faltas
                                <article><input type="checkbox" disabled="true" [(ngModel)]="item.descuentaFaltas"></article>
                            </article>
                        
                        </div>
                        <div class="row mb-4">
                          <article class="titulo  col">
                              Se descuentan incapacidades
                              <article><input type="checkbox" disabled="true" [(ngModel)]="item.descuentaIncapacidades"></article>
                          </article>
                          <article class="titulo   col">
                              Costo vales de restaurante
                              <article><input type="checkbox" disabled="true"[(ngModel)]="item.costoValesRestaurante"></article>
                          </article>
                          <article class="titulo   col" >
                              Descuento proporción séptimo día
                              <article><input type="checkbox" disabled="true" [(ngModel)]="item.descuentoPropDia"></article>
                          </article>
                      
                      </div>
                      <div class="row mb-4">
                        <article class="titulo  col">
                            Cálculos en base a :
                            <article><input type="radio" disabled="true" [(ngModel)]="item.descuentoPropDia"></article>
                        </article>
                      </div>
                      </td>
                      </tr>
              
                    </ng-container>              
                </tbody>
              </table>
              <div *ngIf="!cargando && arreglo === undefined" class="alert alert-warning col text-center">
                <strong>Sin empresas</strong> La tabla de empresas esta vacía.
              </div>
              <div *ngIf="cargando" class="col text-center mb-5">
                <img width="60px" height="60px" src="../../../../../assets/imgs/loading_nomina.gif" alt="">
              </div>
    </div>
    
  </div>

  
  
  
  
  