div.cm-noticia-detalle {
    
    display: flex;
    flex: 1;
    padding: 2rem;
    flex-direction: column;

    h1, h2, h3, h4, h5, span, p {
        color: white;
    }

    hr {
        background-color: white;
    }
}