<div class="row titulosfijos mb-5 ml-2 mr-2" style="background-color: transparent;">
    <div class="col titulo-outlet">
        <label>NÓMINA PARTICIPACIÓN DE LOS TRABAJADORES EN LAS UTILIDADES</label>
    </div>
</div>


<div class="row ml-1">
    <div class="col text-left">
        <button type="button" class="btn btn-light button-outlet" (click)="agregar()">
            <i class="fa fa-plus"></i> Nueva nómina
        </button>
    </div>
</div>


<div class="scrooll-design">

   
    <div class="row   m-2 background-panel fade-in" *ngFor="let item of arreglo; let indice = index;" >
        <div class="col-6 mt-3">
            <article>{{item.nominaPtu?.nombreNomina}}
                <article>Período de {{item.nominaPtu?.fechaInicio | date:'dd MMM'}} hasta {{item.nominaPtu?.fechaFin | date:'dd MMM'}}</article>
            </article>
    
        </div>
        <div  class="col-6 mt-2">
            <table *ngIf="!item.inicial" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Empleados</th>
                        <th>Percepciones</th>
                        <th>Deducciones</th>
                        <th>Total</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>{{item.nominaPtu?.empleados}}</td>
                        <td>{{item.nominaPtu?.percepciones | currency}}</td>
                        <td>{{item.nominaPtu?.deducciones | currency}}</td>
                        <td>{{item.nominaPtu?.total | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-9 segundaseccion" style="    border-bottom-left-radius: 20px;">
            <div *ngIf="!item.inicial" class="col-12 margennav" >
    
                <nav class="nav-inside">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link " id="nav-home-tab" role="tab" aria-controls="nav-home"
                            aria-selected="true">1. Calcular</a>
                        <a class="nav-item nav-link " id="nav-profile-tab" role="tab" aria-controls="nav-profile"
                            aria-selected="false">2. Dispersar</a>
                        <!-- <a class="nav-item nav-link " [ngClass]="{'activado':activado[2].tab,'disabled':activado[2].disabled}" id="nav-contact-tab"  role="tab" aria-controls="nav-contact" aria-selected="false">3. Preferencias</a> -->
                        <a class="nav-item nav-link " id="nav-contact-tab" role="tab" aria-controls="nav-empleo"
                            aria-selected="false">3. Timbrar</a>
                        <a class="nav-item nav-link " id="nav-contact-tab" role="tab" aria-controls="nav-detalle"
                            aria-selected="false">4. Completar</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    
                    </div>
                    <div class="tab-pane fade" id="nav-empleo" role="tabpanel" aria-labelledby="nav-empleo-tab">
    
                    </div>
                    <div class="tab-pane fade" id="nav-detalle" role="tabpanel" aria-labelledby="nav-detalle-tab">
                    </div>
                </div>
            </div>
            <a (click)="eliminar(item.nominaPtu,indice)" style="color:#56dfd4;text-decoration: underline;"  class="dropdown-toggle mt-3">
                <i style="background-color: #56dfd4 !important;" class="icon_eliminar "></i>
                Eliminar</a>
    
        </div>
        <div class="col-3 text-right segundaseccion" style="    border-bottom-right-radius: 20px;">
            <button *ngIf="!item.inicial" (click)="continuar(item)"  class="btn btn-primary button-fill mr-2 mt-2">Continuar</button>
            <button *ngIf="item.inicial" (click)="calcularNomina(item)" type="button" class="btn btn-primary button-outlet mr-2 mt-2">Calcular</button>
        </div>
        
    </div>
    <div  class="row   m-2 background-panel "  >
        <div *ngIf="cargando"  class="col text-center mb-5">
            <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
          </div>
          <div *ngIf="!cargando && arreglo == undefined" class="alert  col text-center">
            <strong>En este momento no existen nóminas activas</strong>
          </div>
    </div>
   
</div>
