<br><br>


<form [formGroup]="myForm" class="form-desing" (ngSubmit)="enviarPeticion()">

    <input type="hidden" formControlName="conceptoPercepcionId">

    <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="340">
        <br>
        <div class="form-group row margen">
            <label class="titulo">INFORMACIÓN DE LA PERCEPCIÓN</label>
        </div>
        <div class="form-group row margen">
            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                <label>Nombre de la percepción *</label>
                <input formControlName="nombre" maxlength="100" type="text" name="" class="form-control"
                    [ngClass]="{'is-invalid':f.nombre.errors && submitInvalido}" placeholder="">
                <div *ngIf="submitInvalido && f.nombre.errors" class="invalid-feedback">
                    Campo requerido
                </div>
            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                <label>Tipo de percepción *</label>
                <select formControlName="tipoPeriodicidad" name="" class="form-control"
                    [ngClass]="{'is-invalid':f.tipoPeriodicidad.errors && submitInvalido}">
                    <option value="P">Periódica</option>
                    <option value="E">Estándar</option>
                </select>
                <div *ngIf="submitInvalido && f.tipoPeriodicidad.errors" class="invalid-feedback">
                    Campo requerido
                </div>
            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6" style="position: relative;">
                <label>Catálogo SAT *</label>
                <select formControlName="tipoPercepcionId" class="form-control"
                    [ngClass]="{'is-invalid':f.tipoPercepcionId.errors && submitInvalido}">
                    <option *ngFor="let item of arregloTipoPercepcion" [value]="item.tipoPercepcionId">
                        {{item.descripcion}}</option>
                </select>
            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                <label>Cuenta contable</label>
                <input formControlName="cuentaContable" maxlength="100" appMayusculas type="text" class="form-control"
                    id="cuentaContable" aria-describedby="cuentaContable" placeholder="">

            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                <label>Estatus</label>
                <select name="" class="form-control" formControlName="esActivo">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6"></div>
            <div class="input-group-sm mb-3 col-6 col-sm-6 col-lg-6">
                <label class="contenedorInputCheckRadio">Grava ISR
                    <input formControlName="gravaIsr" type="checkbox" name="" id="gravaIsr">
                    <span class="checkmark"></span>
                </label>

                <label class="contenedorInputCheckRadio">Grava ISN
                    <input formControlName="gravaIsn" type="checkbox" name="" id="gravaIsn">
                    <span class="checkmark"></span>
                </label>

                <label class="contenedorInputCheckRadio">Integra IMSS
                    <input formControlName="integraImss" type="checkbox" name="" id="integraImss">
                    <span class="checkmark"></span>
                </label>

            </div>

            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                <label>Tipo concepto:</label><br>

                <label class="contenedorInputCheckRadio"> Ordinario
                    <input value="Ordinario" formControlName="tipoConcepto" type="radio" name="tipoConcepto">
                    <span class="radiomark"></span>
                </label>

                <label class="contenedorInputCheckRadio"> Extraordinario
                    <input value="Extraordinario" formControlName="tipoConcepto" type="radio" name="tipoConcepto">
                    <span class="radiomark"></span>
                </label>

            </div>
        </div>

    </div>
    <div class="text-center margin" style="margin-bottom: 20px;">
        <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red"
            (click)="cancelar()">Cancelar</button>
        <button type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
    </div>

</form>