<div class="row margen cn-banner-kiosko">
    <div class="cn-banner-card-section background-panel">
        <div class="cn-banner-card-section">
            <div class="cn-banner-content" [style.transform]="clientCarrouselTranslation">
                <div class="cn-banner-container" *ngFor="let noticia of noticias; let indice = index"
                    (click)="onClicked(noticia)">
                    <img class="cn-carousel-image" [src]="noticia.imagen" alt="banner-image">
                </div>
            </div>
            <div class="cn-banner-navigator">
                <div class="cn-banner-navigator-step" *ngFor="let noticia of noticias; let indice = index"
                    [ngClass]="{'Selected': stepClientCarrousel == indice}" (click)="chooseClientCarrouselStep(indice)">
                </div>
            </div>
        </div>
    </div>
</div>