<div class="row margen">

  <div class="col titulo-outlet">

      <label><i class="fas fa-chevron-left aparece-movil-inline-block"></i>ADMINISTRACIÓN DE CATÁLOGOS</label>
  </div>
</div>


<hr>

<form [formGroup]="myForm" class="form-desing"  (ngSubmit)="enviarPeticion()">

  <input type="hidden" formControlName="catalogoId">

  <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="340">
    <br>
      <div class="form-group row margen">
        <label class="titulo">INFORMACIÓN DE CATÁLOGO</label></div>

      <div class="form-group row margen">
          <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
              <label>Clave *</label>
              <input formControlName="" type="text" class="form-control">
          </div>

         <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
              <label>Descripción *</label>
              <input appMayusculas formControlName="" type="text" class="form-control"
                   placeholder="">
              <!--<div *ngIf="f.nombre.errors && summitenviado" class="invalid-feedback">
                  Campo requerido
              </div>-->
          </div>
          <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <label>Estatus</label>
            <select name=""  class="form-control" formControlName="">
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
          </div>

      </div>        
  </div>




  <div class="text-center margin" style="margin-bottom: 20px;">

      <button (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
      <button  type="submit" class="btn btn-primary button-fill">Guardar</button>
  </div>

</form>
