
    <div *ngIf="!cargando && arreglo !== undefined " class="row  margen mt-3" style="margin-bottom: -25px;">
        <div class="input-group mb-3 mostrarelementos ">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Elementos</label>
          </div>
          <select [(ngModel)]="numeroitems" class="custom-select" id="inputGroupSelect01" (change)="cambia()">
            <option value="5" selected>5</option>
            <option value="20" selected>20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
         
        </div>
        
      </div>
      
      <table  *ngIf="!cargando && arreglo !== undefined"  class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col" >Apellido Paterno</th>
            <th scope="col" >Apellido Materno</th>
            <th scope="col" >Centro de costos</th>
            <th scope="col" >Correo Empresarial</th>
            <th scope="col" >Fecha de registro</th>
            <th scope="col" >Activo</th>
            <th scope="col ">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color:  #00DED4">nombre</td>
            <td>apellido</td>
            <td>nombre</td>
            <td>apellido</td>
            <td>apellido amter</td>
            <td>casodf</td>
            <td>fdg</td>
            <td>dsf</td>
            <td class="opciones">
              <button ><i class="icon_ver primary-bg"></i></button>
              <button (click)="verdetalle('item')" ><i class="icon_editar primary-bg"></i></button>
            </td>
          </tr>
    
    
    
        </tbody>
      </table>
      <div *ngIf="!cargando && arreglo === undefined"   class="alert alert-warning col text-center">
        <strong>Sin datos</strong> la tabla se encuentra vacía.
      </div>
    