.mostrarelementos {
    width: 180px;
    label {
        background: #022538;
        color: white;
        font-size: smaller;
    }
}

.search {
    max-width: 15px;
}

.btn-search {
    border-radius: 0 !important;
}

input[type="text"] {
    background-color: #F5F7F8;
    max-width: 60%;
    border: 0 none transparent;
}

input[type="text"]:disabled {
    background-color: #F5F7F8;
    max-width: 70px;
    border: 0 none transparent;
}

.right {
    text-align: right;
}

.row-between {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 100%;
}

.estiloid {
    color: #56dfd4;
    cursor: pointer;
}

.td-center {
    text-align: center !important;
}

.anchura {
    width: 95%;
}

.ocultarcolumna {
    display: none!important;
}

table {
    th {
        text-align: center;
    }
    td {
        text-align: left;
        // max-width: 500px;
    }
}

.wrap {
    max-width: 150px;
    text-align: justify;
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

.pagination .page-item.active .page-link {
    background-color: #4cc1b0 !important;
    border-radius: 50% !important;
}

.centrar {
    text-align: center!important;
}

.table .opciones button {
    background-color: transparent !important;
    border: 0 !important;
}

.flechaarriba {
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    color: #b7b7b7;
}

.flechaabajo {
    position: absolute;
    right: 0;
    bottom: calc(50% - 10px);
    color: #b7b7b7;
}

.colorear {
    color: #53d2bf !important;
}

.titulo1xml {
    font-size: 10px;
    color: rgb(100, 100, 100);
}

.tablaTimbrado {
    width: 100%;
    .totalesTimbrado {
        text-align: left !important;
        color: #56dfd4!important;
    }
    th {
        text-align: left !important;
        border: 1px solid white;
    }
    td {
        border: 1px solid white;
    }
}

.texto::after{
    content: 'Timbrar' !important;
}