.mostrarelementos{
    width:180px;
 label{
    background: #022538;
    color: white;
    font-size: smaller;
 }
}

.estiloid{
   color: #56dfd4;
}

.anchura{
   width: 95%;
}

.ocultarcolumna{
   display: none!important;
}