<div class="row titulosfijos mt-1 ml-2 mr-2" style="background-color: transparent;">
    <div class="col titulo-outlet">
        <label>NÓMINAS HISTÓRICAS</label>
    </div>
</div>
<div class="form-desing ">
    <div class="row m-1 background-panel background-ajustar" appTamanioVentana [pixeles]="160">


        <div class="row margen background-panel " style="    width: 100%;
        margin: 50px;">
            <app-tablapaginado [esNominaHistorica]="true" [datos]="arreglotabla" [cargando]="cargando" [desglosar]="true" (salida)="recibirTabla($event)"></app-tablapaginado>
        </div>
    </div>
</div>