<br><br>


  <form [formGroup]="myForm" class="form-desing"  (ngSubmit)="enviarPeticion()">

    <input formControlName="personaId" type="hidden" >

    <div  class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="340">
      <br>
      
        <div class="form-group row margen">
          <label class="titulo">INFORMACIÓN DE CONTACTOS RRHH</label></div>
        <div class="form group row margen">

            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Nombre *</label>
                <input #nombre formControlName="nombre" type="text" appMayusculas class="form-control" [ngClass]="{'is-invalid':f.nombre.errors && subbmitActive}"  placeholder="">
                <div *ngIf="f.nombre.errors && subbmitActive" class="invalid-feedback">
                    Campo requerido
                  </div>
              </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Primer apellido *</label>
                <input formControlName="apellidoPat" appMayusculas type="text" class="form-control" [ngClass]="{'is-invalid':f.apellidoPat.errors && subbmitActive}"  placeholder="">
                <div *ngIf="f.apellidoPat.errors && subbmitActive" class="invalid-feedback">
                  Campo requerido
                  </div>
              </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Segundo apellido</label>
                <input formControlName="apellidoMat" appMayusculas type="text" class="form-control"  placeholder="">
              </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>CURP *</label>
                <input formControlName="curp" maxlength="18" type="text" class="form-control" [ngClass]="{'is-invalid':(f.curp.errors?.required && subbmitActive) || (f.curp.errors?.pattern && f.curp.touched)}" placeholder="">
                <div *ngIf="f.curp.errors?.required && subbmitActive" class="invalid-feedback">
                  Campo requerido
                </div>
                <div *ngIf="f.curp.errors?.pattern && f.curp.touched" class="invalid-feedback">
                  CURP inválida, favor de verificar.
                </div>

              </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>RFC *</label>
                <input #rfc formControlName="rfc" type="text" class="form-control" [ngClass]="{'is-invalid':f.rfc.errors && subbmitActive}"  placeholder="">
                <div *ngIf="f.rfc.errors && subbmitActive" class="invalid-feedback">
                    Campo requerido
                  </div>
              </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Correo empresarial *</label>
                <input formControlName="emailCorp"  type="text" class="form-control" [ngClass]="{'is-invalid':(f.emailCorp.errors?.required && subbmitActive) || (f.emailCorp.errors?.email && f.emailCorp.touched)}"   placeholder="">
                <div *ngIf="f.emailCorp.errors?.required && subbmitActive" class="invalid-feedback">
                  Campo requerido
                </div>
                <div *ngIf="f.emailCorp.errors?.email && f.emailCorp.touched" class="invalid-feedback">
                  Correo empresarial inválido
                </div>
              </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Correo personal </label>
                <input formControlName="ciEmailPersonal"  type="text" class="form-control" [ngClass]="{'is-invalid':(f.ciEmailPersonal.errors?.email && f.ciEmailPersonal.touched)}"  placeholder="">
                <div *ngIf="f.ciEmailPersonal.errors?.email && f.ciEmailPersonal.touched" class="invalid-feedback">
                  Correo personal inválido
                </div>
              </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Teléfono *</label>
                <input appSolonumeros formControlName="ciTelefono" maxlength="10" type="text" class="form-control" [ngClass]="{'is-invalid':f.ciTelefono.errors && subbmitActive}"  placeholder="">
                <div *ngIf="f.ciTelefono.errors && subbmitActive" class="invalid-feedback">
                  Campo requerido
                </div>
              </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label >Celular</label>
                <input appSolonumeros formControlName="celular" maxlength="10"  type="text" class="form-control"
                    placeholder="">
      
            </div>
              <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Extensión</label>
                <input appSolonumeros maxlength="8" formControlName="ciExtension"  type="text" class="form-control"  placeholder="">
              </div>
              <!--<div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label >Fecha de registro</label>
                <input formControlName="fechaAlta"  type="text" class="form-control"
                    placeholder="">

            </div>-->


        </div>

    </div>
    <div  class="text-center margin" style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red" (click)="cancelar()" >Cancelar</button>
      <button  type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
  </div>

  </form>


