<div class="row">
    <div class="col-12 col-lg-12 col-xl-7 mb-3 mt-3 ">
        <div class="row"><label class="titulo">DETALLE</label></div>
        <div class="row">
            <article class="titulo mr-1 col">
                VACACIONES
            </article>
        
        </div>
        <div class="row mb-4">
            <article class="titulo  col">
                Días utilizados
                <article>0</article>
            </article>
            <article class="titulo   col">
                Días aprobados
                <article>0</article>
            </article>
            <article class="titulo   col" >
                Días disponibles
                <article>18.78</article>
            </article>
            <article class="titulo   col" >
                Aprobaciones pendientes
                <article>0</article>
            </article>
        
        </div>

        <div class="row">
            <article class="titulo mr-1 col">
                INCAPACIDADES
            </article>
        
        </div>
        <div class="row mb-4">
            <article class="titulo  col">
                Días utilizados
                <article>0</article>
            </article>
            <article class="titulo   col">
                Días aprobados
                <article>0</article>
            </article>
            <article class="titulo   col" >
                Días rechazados
                <article>0</article>
            </article>
            <article class="titulo   col" >
                Aprobaciones pendientes
                <article>0</article>
            </article>
        
        </div>
        <div class="row">
            <article class="titulo mr-1 col">
                HORAS EXTRA
            </article>
        
        </div>
        <div class="row mb-4">
            <article class="titulo  col">
                Horas utilizadas
                <article>0</article>
            </article>
            <article class="titulo   col">
                Horas aprobadas
                <article>0</article>
            </article>
            <article class="titulo   col" >
                Horas rechazadas
                <article>0</article>
            </article>
            <article class="titulo   col" >
                Aprobaciones pendientes
                <article>0</article>
            </article>
        
        </div>
        <div class="row">
            <article class="titulo mr-1 col">
                DÍAS ECONÓMICOS
            </article>
        
        </div>
        <div class="row mb-4">
            <article class="titulo  col">
                Días utilizados
                <article>0</article>
            </article>
            <article class="titulo   col">
                Días aprobados
                <article>0</article>
            </article>
            <article class="titulo   col" >
                Días disponibles
                <article>0</article>
            </article>
            <article class="titulo   col" >
                Aprobaciones pendientes
                <article>0</article>
            </article>
        
        </div>
    </div>
    <div class="col-12 col-lg-12 col-xl-5 mb-3 mt-3 ">
        <div class="row"><label class="titulo">Política</label></div>
        <div class="row">
            <article class="titulo mr-1 col-12">
                El empleado está asociado a la política <a href="http://">Política uno</a>, que contiene los siguientes beneficios:
            </article>
        
        </div>
        <div class="row mb-4">
            <article class="titulo  col">
                Descuento proporción séptimo día
                <article>No</article>
            </article>
            <article class="titulo   col">
                Días económicos
                <article>10 días</article>
            </article>     
        </div>
        <div class="row mb-4">
            <article class="titulo  col">
                Se descuentan incapacidades
                <article>Sí</article>
            </article>
            <article class="titulo   col">
                Días de vacaciones
                <article>18 días</article>
            </article>     
        </div>
        <div class="row mb-4">
            <article class="titulo  col">
                Se descuentan faltas
                <article>Sí</article>
            </article>
            <article class="titulo   col">
                Prima vacacional
                <article>0.25</article>
            </article>     
        </div>
        <div class="row mb-4">
            <article class="titulo  col">
                Prima vacacional al aniversario
                <article>Sí</article>
            </article>
            <article class="titulo   col">
                Días de Aguinaldo
                <article>15</article>
            </article>     
        </div>

    </div>
</div>

