.aniversarios.checkmark{
    background-color:#67bf89 !important;
  }
.cumpleanios.checkmark{
    background-color:#4cc1b0 !important;
  }
.diaseconomicos.checkmark{
    background-color: #5db2c9 !important;
  }
.faltas.checkmark{
      background-color: #7973ba !important;
  }
.horasextras.checkmark{
      background-color: #deaa57 !important;
  }
.incapacidades.checkmark{
      background-color: #e17b5b !important;
  }
.vacaciones.checkmark{
    background-color: #bec3cd !important;
  }

.contenedorInputCheckRadio{
  color:rgb(129, 129, 129) !important;
  
}