

<div class="ml-3 mr-3 mb-3">
    <div class="row mb-2">
        <div class="col titulo-outlet">
            <label>
                EVENTOS
            </label>
        </div>
    </div>



<div class="row   margen-tabla background-panel  background-ajustar" appTamanioVentana [pixeles]="145">
    <div class="col-12">

        
        <div id="accordion" class="acordion_desplegable show">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button (click)="colapsarmtd()" style="width: 90%;" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Calendario
                  </button>
                  <i (click)="colapsarmtd()" *ngIf="colapsar == false" style="float: right; color:#00C1AF;margin-top: 7px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-up "></i>
                  <i (click)="colapsarmtd()" *ngIf="colapsar == true" style="float: right; color:#00C1AF;margin-top: 7px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-down "></i>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                  <div class="row">
                    <div class="col-2">
                      <label class="primary">GESTIONAR EVENTOS</label>
                      <div>
                          <label class="contenedorInputCheckRadio aniversarios">Aniversarios
                              <input  (change)="cambiaValor()" checked type="checkbox" name="" id="">
                              <span class="checkmark aniversarios"></span>
                            </label>     
                      </div>
                      <div>
                          <label class="contenedorInputCheckRadio cumpleanios">Retardos
                              <input  (change)="cambiaValor()" checked type="checkbox" name="" id="">
                              <span class="checkmark cumpleanios"></span>
                            </label>     
                      </div>
                      <div>
                          <label class="contenedorInputCheckRadio diaseconomicos">Días economicos
                              <input  (change)="cambiaValor()" checked type="checkbox" name="" id="">
                              <span class="checkmark diaseconomicos"></span>
                            </label>     
                      </div>
                      <div>
                          <label class="contenedorInputCheckRadio faltas">Faltas
                              <input  (change)="cambiaValor()"checked  type="checkbox" name="" id="">
                              <span class="checkmark faltas"></span>
                            </label>     
                      </div>
                      <div>
                          <label class="contenedorInputCheckRadio horasextras">Horas extras
                              <input  (change)="cambiaValor()" checked type="checkbox" name="" id="">
                              <span class="checkmark horasextras"></span>
                            </label>     
                      </div>
                      <div>
                          <label class="contenedorInputCheckRadio incapacidades">Incapacidades
                              <input (change)="cambiaValor()" checked  type="checkbox" name="" id="">
                              <span class="checkmark incapacidades"></span>
                            </label>     
                      </div>
                      <div>
                          <label class="contenedorInputCheckRadio vacaciones">Vacaciones
                              <input (change)="cambiaValor()" checked type="checkbox" name="" id="">
                              <span class="checkmark vacaciones"></span>
                            </label>     
                      </div>
                  </div>
                      <div class="col-10">
                        <app-calendario [eventos]="eventos" [arregloEventos]="arregloEventos" [arregloAreas]="arregloAreas"  (salida)="recibirTabla($event)"></app-calendario>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
    </div>
    
    <div class="col-12">

        <app-tablapaginado [datos]="arreglotabla"  [cargando]="cargando" (salida)="recibirTabla($event)" ></app-tablapaginado>
                      
    </div>
</div>


    
</div>


