

<div class="ml-3 mr-3 mb-3">
    <div class="row mb-2">
        <div class="col titulo-outlet">
            <label>
                EVENTOS
            </label>
        </div>
    </div>



<div class="row   margen-tabla background-panel  background-ajustar" appTamanioVentana [pixeles]="145">
    <div class="col-4 mt-2">

        <div class="col-12">
            <button  class="btn btn-primary button-outlet mr-2">carga masiva</button>
        <button (click)="apareceListadoEventos = !apareceListadoEventos" style="position:relative"  class="btn btn-primary button-fill">Gestionar evento
           <div *ngIf="apareceListadoEventos" style="width: 100%; height: 200px; background-color: white;position: absolute;left: 0; z-index: 4;">
            <div class="list-group" style="    color: #40a39b; font-size: smaller; text-align: left;">
                <a href="#"  (click)="agregarEvento(1)"  class="list-group-item list-group-item-action">Vacaciones</a>
                <a href="#"  (click)="agregarEvento(2)" class="list-group-item list-group-item-action">Incapacidad</a>
                <a href="#"  (click)="agregarEvento(3)" class="list-group-item list-group-item-action">Horas extras</a>
                <a href="#"  (click)="agregarEvento(4)" class="list-group-item list-group-item-action">Días económicos</a>
                <a href="#"  (click)="agregarEvento(5)" class="list-group-item list-group-item-action">Faltas</a>
              </div>
        </div>
        </button>
        </div>
        <hr>

        <div class="col-12">
            <label class="primary">GESTIONAR EVENTOS</label>
            <div>
                <label class="contenedorInputCheckRadio aniversarios">Aniversarios
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark aniversarios"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio cumpleanios">Cumpleaños
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark cumpleanios"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio diaseconomicos">Días economicos
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark diaseconomicos"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio faltas">Faltas
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark faltas"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio horasextras">Horas extras
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark horasextras"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio incapacidades">Incapacidades
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark incapacidades"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio vacaciones">Vacaciones
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark vacaciones"></span>
                  </label>     
            </div>
        </div>
        
        

    </div>
    <div class="col-8">
        <app-calendario></app-calendario>
    </div>
    <div class="col-12">
        <hr>
        <app-tablapaginado [datos]="arreglotabla"></app-tablapaginado>

    </div>
</div>


    
</div>


