

<div class="ml-3 mr-3 mb-3">
    <div class="row mb-2">
        <div class="col titulo-outlet">
            <label>
                EVENTOS
            </label>
        </div>
    </div>



<div class="row   margen-tabla background-panel  " >
    <div class="col-4 mt-2">

        <div class="col-12">
            <button  class="btn btn-primary button-outlet mr-2">carga masiva</button>
        <button  class="btn btn-primary button-fill">Gestionar evento</button>
        </div>
        <hr>

        <div class="col-12">
            <label class="primary">GESTIONAR EVENTOS</label>
            <div>
                <label class="contenedorInputCheckRadio aniversarios">Aniversarios
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark aniversarios"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio cumpleanios">Cumpleaños
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark cumpleanios"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio diaseconomicos">Días economicos
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark diaseconomicos"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio faltas">Faltas
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark faltas"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio horasextras">Horas extras
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark horasextras"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio incapacidades">Incapacidades
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark incapacidades"></span>
                  </label>     
            </div>
            <div>
                <label class="contenedorInputCheckRadio vacaciones">Vacaciones
                    <input   type="checkbox" name="" id="">
                    <span class="checkmark vacaciones"></span>
                  </label>     
            </div>
        </div>
        
        

    </div>
    <div class="col-8">
        <app-calendario></app-calendario>
    </div>
</div>
    
</div>


