<div>

    <div class="row margen titulosfijos">
        <div class="col titulo-outlet">
            <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa"><button disabled>
                <img src="assets/imgs/menu.png" alt="" srcset="">
            </button></div>
            <label>ADMINISTRACIÓN DE CATÁLOGOS</label>
        </div>
    </div>



    <div class="scrooll-design">
        <div class="margen">

            <div id="accordionFiltro">

                <div id="accordion">
                    <div class="card">

                        <div id="collapseOne" class="collapse" [ngClass]="{'show':tamanio >600}" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form group row margen">
                                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
                                        <label style="color:white">Catálogo</label>
                                        <select name="" class="form-control disabled bg-light" [(ngModel)]="id_catalogo">
                        <option value="0" selected>Seleccionar catalogo</option>
                        <option *ngFor="let item of arregloListaCatalogos" [value]="item.listaCatalogosId">{{item.nombreCatalogo}}
                        </option>
                      </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row margen">
            <div class="col titulo">
                <label>RESULTADOS</label>
            </div>
            <div class="row" style="margin: 10px;">
                <div class="col-12 col-lg-12 text-right">
                    <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i aria-hidden="true" class="icon_24agregar primary-bg"></i> Agregar
            </button>
                </div>
            </div>
        </div>

        <div class="row margen margen-tabla background-panel ">

            <app-tablapaginado [datos]="arreglotabla" [editar]="true" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
        </div>

        <div class="text-right margin" style="margin-bottom: 20px;">
            <button (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Regresar</button>
        </div>
    </div>
</div>