<div>

    <div class="row margen titulosfijos">
        <ul class="nav nav-tabs" role="tablist"  id="navegadorTabsEncab">
            <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa" style="margin-left: 13px;"><button disabled>
                <img src="assets/imgs/menu.png" alt="" srcset="">
            </button>
            </div>  
            <li ><a routerLinkActive="active"  routerLink="/inicio" class="nav-link" data-toggle="tab"  role="tab" 
                > {{modulo}}</a>
            </li>
            <li >
                <a routerLinkActive="active" class="nav-link" data-toggle="tab"  role="tab" 
                (click)="cancelar()" >{{subModulo}}</a>
            </li>
            <li style="padding-top: 10PX;">
                {{id_catalogo}}
            </li>
        </ul> 
    </div>

    <div class="scrooll-design">
        <div class="margen"  *ngIf="this.objdetcat.listaCatalogosId !== 15 && this.objdetcat.listaCatalogosId !== 17 && this.objdetcat.listaCatalogosId !== 18 && this.objdetcat.listaCatalogosId !== 19">

            <div id="accordionFiltro">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button *ngIf="tamanio < 600" (click)="changeIconDown = !changeIconDown" style="width: 100%;" class="btn btn-link aparece-movil" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <label class="titulo" style="    width: 80%;
                float: left;
                text-align: left;">BÚSQUEDA</label>
                  <i aria-hidden="true" *ngIf="changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                    class="icon_24flechaarriba bg-primary"></i>
                  <i aria-hidden="true" *ngIf="!changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                    class="icon_24flechaabajo bg-primary "></i>

                </button>
                                <button *ngIf="tamanio >=600" class="btn btn-link aparece-desktop-inline-block">
                  <label class="titulo">BÚSQUEDA</label>
                </button>

                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" [ngClass]="{'show':tamanio >600}" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form group row margen">
                                    <div class=" input-group-sm mb-3 col-12 col-sm-4 col-lg-4 col-xl-4">
                                        <input type="text" [(ngModel)]="descripcion" id="descripcionCat" class="form-control" placeholder="Descripción">
                                    </div>
                                    <div class=" input-group-sm mb-3 text-right col-12 col-lg-2  col-xl-12 ">
                                        <button type="button" id="btoFiltarCatalogos" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row margen">
            <div class="col titulo">
                <label>RESULTADOS</label>
            </div>
            <div class="row" style="margin: 10px;">
                <div class="col-12 col-lg-12 text-right">
                    <button (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Regresar</button>
                    <button *ngIf="esRegistrar" type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i aria-hidden="true" class="icon_24agregar primary-bg"></i> Agregar
            </button>
                </div>
            </div>
        </div>

        <div class="row margen margen-tabla background-panel ">

            <app-tablapaginado [datos]="arreglotabla" [editar]="esEditar" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
        </div>

    </div>
</div>