.especialrow{
    background: #e8e8e8;
    margin: 12px 0;

   
}

.estiloextralink{
    display: inline-block !important;
    color:#56dfd4 !important;
    text-decoration: underline !important;
    
}


article{
    font-size: medium;
    font-weight: bold;
    article{
        font-size: smaller;
        font-weight: normal;
        color:gray;
        
    }
}