 
@import '../../../../../styles.scss';



%bloque{
    float: left;
    text-align: center;
}






.mt-5{


    margin-top: 12%!important;

}


.imgblock{
    @extend %bloque;
    width: 40%;

    img{
        max-width: 250px;
        height: auto;
        
    }
}



.formblock{
    @extend %bloque;
    width: 60%;
    text-align: left;
}

.letra{
  width: 100%;
}


.form{
    width:13em  !important;
    margin: auto !important;
}


a{
    color:$primary;
    text-decoration: underline;
}

.boton
{
    text-align: center;

    button{
        width: 160px;
    }
}




span{
  font-size: x-small;

}


  