<div class="loginComponent">
<div class="displaymovil">
  <div class="imgblock mt-5 fade-in ">
    <img src="assets/imgs/logo.png" alt="" srcset="">



  </div>

  <div id="formulario" class="formblock mt-5 fade-in ">
    <label *ngIf="!ventanapass" class="text-center letra títulos_roboto-—-25pt ">BIENVENIDO, INGRESA TUS DATITOS
    </label>
    <label *ngIf="ventanapass" class="text-center letra títulos_roboto-—-25pt ">¿OLVIDASTE TU CONTRASEÑA?
    </label>
    <div *ngIf="!ventanapass && error" class="alert alert-danger"  role="alert">
      Email y/o contraseña inválidos
    </div>
    <form class="form" [formGroup]="myForm" (ngSubmit)="enviarformulario()">
      <div class="form-group">
        <label class="text-light" for="usuariologin"><small *ngIf="!ventanapass">Email</small><small *ngIf="ventanapass">Ingresa tu email y te enviaremos un link para restablecerla</small></label>
        <input *ngIf="!ventanapass" formControlName="email" type="email" class="form-control " id="usuariologin"
          aria-describedby="emailHelp">

      </div>
      <div class="form-group" *ngIf="!ventanapass">
        <label class="text-light" for="loginpassword"><small>Contraseña</small></label>
        <input formControlName="password" type="password" class="form-control" id="loginpassword">
      </div>
      <div class="form-group" *ngIf="ventanapass">
        <label class="text-light" for="exampleInputPassword1"><small>Email</small></label>
        <input #emailrestablecer type="email" class="form-control" id="exampleInputPassword1">
      </div>
      <a style="    color: #00c0af;" *ngIf="!ventanapass"  (click)="ventanapass=true"><small> <u>¿Olvidaste tu contraseña?</u> </small></a>

      <br id="#lugar"><br><br>
      <div class="boton" *ngIf="!ventanapass">
        <button *ngIf="!correcto" type="submit" [disabled]="myForm.invalid" class="btn btn-info heartbeat"><span
            *ngIf="!cargando && !ventanapass">INGRESAR</span>
          <div *ngIf="cargando" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
        <button *ngIf="correcto" type="submit" class="btn btn-success button-fill"><span>CORRECTO</span></button>

      </div>

      <div class="boton" *ngIf="ventanapass">
        <button  type="button" class="btn btn-info heartbeat"><span
            *ngIf="!cargando">ENVIAR</span>
          <div *ngIf="cargando" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
        <button *ngIf="correcto" type="submit" class="btn btn-success button-fill"><span>CORRECTO</span></button>

      </div>

      <span *ngIf="!ventanapass" class="text-light ">¿No tienes cuenta? <a href="#" [routerLink]="['/auth','solicitar']">Solicitala
          aquí</a></span>

    </form>

  </div>
</div>
</div>



<!-- <div class="modal fade" id="modalshare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title primary" id="exampleModalLabel" >Seleccionar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div  *ngIf="!cargandoEmpresa" class="row">
                 <div   (click)="seleccionarEmpresa(item)" [ngClass]="{'seleccionado':item.seleccionado}" *ngFor="let item of arregloCompanias" class="col-3" style="padding: 10px;text-align: center;cursor: pointer;">
                      <img src="../../../../../assets/imgs/empresa_03.png" alt="" srcset="">
                      <p>{{item.nombre}}</p>
                 </div>
               </div>
               <div class="row">
                <div  *ngIf="cargandoEmpresa" class="col text-center mb-5">
                  <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
                </div>
               </div>
               <div *ngIf="aparecerCheck" class="row">
                 <div class="col">
                  <label class="contenedorInputCheckRadio">Seleccionar empresa
                    <input [(ngModel)]="aparecerListaempresas"  type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                 </div>
               </div>
              <div *ngIf="aparecerListaempresas">
                <hr>
                <div class="row">
                  <div class="col primary">
                       Seleccionar empresa
                  </div>
                </div>
                <div *ngIf="!cargandoEmpresaCompania && arregloEmpresas !== undefined" class="row">
                 <div (click)="seleccionarempresaCompania(item)" [ngClass]="{'seleccionado':item.seleccionado}" *ngFor="let item of arregloEmpresas" class="col-3" style="padding: 10px;text-align: center;cursor: pointer;">
                      <img src="../../../../../assets/imgs/empresa_03.png" alt="" srcset="">
                      <p>{{item.nombre}}</p>
                 </div>
               </div>
               <div *ngIf="!cargandoEmpresaCompania && arregloEmpresas == undefined" class="row">
                 <div class="col">
                  <div  class="alert  col text-center">
                    <strong>El cliente seleccionada no contiene empresas asociadas</strong>
                  </div>
                 </div>
               </div>
               <div class="row">
                <div  *ngIf="cargandoEmpresaCompania" class="col text-center mb-5">
                  <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
                </div>
               </div>
              </div>
            </div>
            <div class="modal-footer">
                <button (click)="finalizadoSeleccion()"  type="button" class="btn btn-primary button-fill">Seleccionar</button>
            </div>
        </div>
    </div>
</div> -->

