<div class="loginComponent">
  <div style="    margin-top: calc(50vh - 200px);" *ngIf="cargandoLogin">
    <img class="centrarLogo" src="assets/imgs/Gif_fondo.gif" alt="" srcset="">
  </div>
  <div *ngIf="!cargandoLogin">
    <div class="displaymovil">
      <div class="imgblock mt-5 fade-in ">
        <img src="assets/imgs/logo.png" alt="" srcset="">
      </div>

      <div id="formulario" *ngIf="login" class="formblock mt-5 fade-in ">
        <label *ngIf="!ventanapass" class="text-center letra títulos_roboto-—-25pt ">BIENVENIDO, INGRESA TUS DATOS
        </label>
        <label *ngIf="ventanapass" class="text-center letra títulos_roboto-—-25pt ">¿OLVIDASTE TU CONTRASEÑA?
        </label>
        <div *ngIf="!ventanapass && error" class="alert alert-danger" role="alert">
          Email y/o contraseña inválidos
        </div>
        <form class="form" [formGroup]="myForm" (ngSubmit)="enviarformulario()">
          <div class="form-group">
            <label class="text-light" for="usuariologin"><small *ngIf="!ventanapass">Email</small><small
                *ngIf="ventanapass">Ingresa tu email y te enviaremos un link para restablecerla</small></label>
            <input *ngIf="!ventanapass" formControlName="email" type="email" class="form-control " id="usuariologin"
              aria-describedby="emailHelp">

          </div>
          <div class="form-group" *ngIf="!ventanapass">
            <label class="text-light" for="loginpassword"><small>Contraseña</small></label>
            <input formControlName="password" type="password" class="form-control" id="loginpassword">
          </div>
          <div class="form-group" *ngIf="ventanapass">
            <label class="text-light" for="exampleInputPassword1"><small>Email</small></label>
            <input #emailrestablecer type="email" class="form-control" id="exampleInputPassword1">
          </div>
          <a style="    color: #00c0af;" *ngIf="!ventanapass" (click)="ventanapass=true"><small> <u>¿Olvidaste tu
                contraseña?</u> </small></a>

          <br id="#lugar"><br><br>
          <div class="boton" *ngIf="!ventanapass">
            <button *ngIf="!correcto" type="submit" [disabled]="myForm.invalid" class="btn btn-info heartbeat"><span
                *ngIf="!cargando && !ventanapass">INGRESAR</span>
              <div *ngIf="cargando" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
            <button *ngIf="correcto" type="submit" class="btn btn-success button-fill"><span>CORRECTO</span></button>

          </div>

          <div class="boton" *ngIf="ventanapass">
            <button type="button" class="btn btn-info heartbeat"><span *ngIf="!cargando">ENVIAR</span>
              <div *ngIf="cargando" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
            <button *ngIf="correcto" type="submit" class="btn btn-success button-fill"><span>CORRECTO</span></button>

          </div>

          <span *ngIf="!ventanapass" class="text-light ">¿No tienes cuenta? <a href="#"
              [routerLink]="['/auth','solicitar']">Solicitala
              aquí</a></span>

        </form>

      </div>
      <div *ngIf="multiempresa" class="formblock mt-5 fade-in ">
        <label class="text-center letra títulos_roboto-—-25pt ">ELEGIR COMPAÑIA</label>

        <div class="contenedor">
          <div (click)="seleccionadoCompania(item)" [class.seleccionado]="item.seleccionado" *ngFor="let item of arregloCompanias" class="caja">
            <span>Titulo de empresa</span>
            <img src="assets/imgs/logo2.png" alt="" srcset="">
          </div>
        </div>

        <br id="#lugar"><br><br>
        <div class="boton" *ngIf="!ventanapass">
          <button [disabled]="empresaSeleccionadaBool" type="submit" class="btn btn-info heartbeat"><span>INGRESAR</span>
            <div *ngIf="cargando" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
          <button *ngIf="correcto" type="submit" class="btn btn-success button-fill"><span>CORRECTO</span></button>

        </div>

      </div>
    </div>
  </div>
</div>

