<div class="imgblock mt-5 fade-in">
    <img src="./../../../../../assets/imgs/logo.png" width="250px" height="250px" alt="" srcset="">



</div>

<div class="formblock mt-5 fade-in">
    <label class="text-center letra títulos_roboto-—-25pt " >BIENVENIDO, INGRESA TUS DATOS</label>
    <div class="alert alert-danger" *ngIf="error" role="alert">
      Email y/o contraseña invalidos
    </div>
    <form class="form"  [formGroup]="myForm" (ngSubmit)="enviarformulario()">
        <div class="form-group">
          <label class="text-light" for="exampleInputEmail1"><small>Email</small></label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
          
        </div>
        <div class="form-group">
          <label class="text-light" for="exampleInputPassword1"><small>Contraseña</small></label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <a href="" ><small>¿Olvidaste tu contraseña?</small></a>
        <br><br><br>
        <div class="boton">
            <button *ngIf="!correcto" type="submit" [disabled]="myForm.invalid" class="btn btn-info heartbeat"><span *ngIf="!cargando">INGRESAR</span><div *ngIf="cargando" class="spinner-border" role="status">
              <span class="sr-only" >Loading...</span>
            </div></button>
            <button *ngIf="correcto" type="submit"  class="btn btn-success heartbeat scale-in-center"><span >CORRECTO</span></button>
            
        </div>

        <span class="text-light ">¿No tienes cuenta? <a href="#" [routerLink]="['/auth','solicitar']">Solicitala aquí</a></span>
        
      </form>

</div>



