

.centrarLogo{
    width: 250px;
    margin: auto;
    display: inherit;
}


.contenedor{
 display: flex;   
 flex-wrap: wrap;
 align-content:space-between;

 .caja:hover{
    width: 130px;
    height: 130px;
    img{
        width: 100px;
        height: 100px;
    }
 }
 
 .caja{
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    cursor: pointer;

   *{
       display: block;
   }  
   img{
       width: 80px;
       height: 80px;
       border-radius: 50%;
       padding: 10px;
       margin: auto;
   }

   span{
       margin-top: 10px;
       text-align: center;
       font-size: small;
       font-weight: 600;
       color:#16a1b7;
   }
   background: #e5e8ea;
   border-radius: 20px;
   border:1px dotted solid;
   
}

.seleccionado{
    background: #fbfbb5;
}
}