.estiloextralink{
    display: inline-block !important;
    color:var(--principal) !important;
    text-decoration: underline !important;
    
}
.fa, .fas {
    font-weight: 600 !important;
}

.spanEyes{
    width: 25px;
    height: 38px;
    font-size: 15px;
    
}

.imgEyes{

    margin-left: -9px;
    color: var(--principal) !important;
}