<form [formGroup]="myform" (ngSubmit)="enviarFormulario()">
    <input type="hidden" formControlName="centrocClienteId">


    <div class="row mt-3">
        <div class="col-8">
            <div class=" row">
                <div class="col-12">
                    <div class=" row ">

                        <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                            <label>Nombre de la empresa *</label>
                            <input #nombre formControlName="nombre" type="text" class="form-control"
                                [class.is-invalid]="f.nombre.errors && f.nombre.touched">
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                            <label>Razón social  <span *ngIf="!mostrarAsterisco">*</span></label>
                            <input maxlength="250" [class.is-invalid]="f.razonSocial.errors && f.razonSocial.touched"
                                formControlName="razonSocial" type="text" max="18" class="form-control">
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <div class=" input-group-sm mb-4 col-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Actividad económica nivel 1 *</label>
                            <input autocomplete="off" #actividad (focusout)="validarActividad2(actividad.value)"
                                [value]="f.actividadEconomicaId.value | show: arregloactividad : 'actividadEconomicaId': 'descripcion'"
                                formControlName="actividadEconomicaId" type="text" class="form-control"
                                [class.is-invalid]="f.actividadEconomicaId.errors && f.actividadEconomicaId.touched"
                                list="nivelUno" name="browser" id="browser">
                            <datalist id="nivelUno">
                                <option *ngFor="let item of arregloactividad" [value]="item.descripcion">
                                    {{item.descripcion}}</option>
                            </datalist>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>

                        </div>
                        <div class="input-group-sm mb-4 col-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Actividad económica nivel 2 *</label>
                            <input autocomplete="off" formControlName="actividadEconomicaId2" type="text"
                                class="form-control"
                                [value]="f.actividadEconomicaId2.value | show: arregloactividad2 : 'actividadEconomicaId': 'descripcion'"
                                [class.is-invalid]="f.actividadEconomicaId2.errors && f.actividadEconomicaId2.touched"
                                list="nivelDos" name="browser" id="browser">
                            <datalist id="nivelDos">
                                <option *ngFor="let item of arregloactividad2 " [value]="item.descripcion">
                                    {{item.descripcion}}
                                </option>
                            </datalist>

                            <div  class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <div class=" input-group-sm mb-4 col-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Régimen fiscal * </label>
                            <select formControlName="regimenfiscalId" type="text" class="form-control"
                                [class.is-invalid]="f.regimenfiscalId.errors && f.regimenfiscalId.touched">
                                <option value=""></option>
                                <option *ngFor="let item of arregloregimen" [value]="item.regimenfiscalId">
                                    {{item.descripcion}}</option>
                            </select>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                            <label>RFC *</label>
                            <input placement="top" [mdbTooltip]="'rfc' | tooltip" formatos [nochar]="true" [rfc]="true"
                                [control]="f.rfc" maxlength="13"
                                [class.is-invalid]="(f.rfc.errors?.required && f.rfc.touched) || (f.rfc.errors?.pattern && f.rfc.touched)"
                                formControlName="rfc" type="text" class="form-control" name="">
                            <div *ngIf="f.rfc.errors?.required && f.rfc.touched" class="invalid-feedback">
                                Campo requerido
                            </div>
                            <div *ngIf="f.rfc.errors?.pattern && f.rfc.touched" class="invalid-feedback">
                                RFC inválido, favor de verificar
                            </div>

                        </div>
                        <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                            <label>CURP de la razón social <span *ngIf="mostrarAsterisco">*</span></label>
                            <input formatos [nochar]="true" [curp]="true" [control]="f.curp" maxlength="18"
                                [class.is-invalid]="f.curp.errors && f.curp.touched" formControlName="curp" type="text"
                                class="form-control">
                            <div *ngIf="f.curp.errors?.required && f.curp.touched" class="invalid-feedback">
                                Campo requerido
                            </div>
                            <div *ngIf="f.curp.errors?.pattern && f.curp.touched" class="invalid-feedback">
                                CURP inválido, favor de verificar
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form group row">
                <div class="col-12 col-md-12 col-xl-2">
                    <div class=" input-group-sm mb-3 col-12">
                        <label>Logo</label>
                        <app-subirarchivo [cargando]="cargandoImg" (emiteimagen)="recibirImagen($event)"
                            [recibiendoImagen]="urlLogo"></app-subirarchivo>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class=" row">
                <div class="col-12">
                    <div class=" row">
                        <div class="input-group-sm mb-3 col-12 col-sm-12 col-lg-12">
                            <label>Certificado de sello digital *</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" formControlName="cer"
                                    [class.is-invalid]="f.cer.errors && f.cer.touched">
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                <div (click)="abrirCer()" class="input-group-append" style="cursor: pointer;">
                                    <span style="font-size: small;" class="input-group-text dark" id="basic-addon2"><i
                                            aria-hidden="true" class="icon_upload"></i> Subir archivo</span>
                                </div>
                              
                            </div>
                        </div>
                        <div class="input-group-sm mb-3 col-12 col-sm-12 col-lg-12">
                            <label>Llave de certificado de sello digital *</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" formControlName="key"
                                    [class.is-invalid]="f.key.errors && f.key.touched">     
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                <div class="input-group-append" style="cursor: pointer;">
                                    <span style="font-size: small;" (click)="abrirKey()" class="input-group-text dark"
                                        id="basic-addon2"><i aria-hidden="true" class="icon_upload"></i> Subir
                                        archivo</span>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class=" row">
                <div class="col-12">
                    <div class=" row">

                        <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                            <label>Contraseña de certificado de sello digital *</label>
                            <input formControlName="contrasenia" maxlength="30" type="password" class="form-control"
                                [class.is-invalid]="f.contrasenia.errors && f.contrasenia.touched" placeholder="">
                            <div  class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>

                        <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                            <label for="exampleFormControlSelect1">Estado de empresa *</label>
                            <select formControlName="esActivo" class="form-control">
                                <option value="true" selected>ACTIVO</option>
                                <option value="false">INACTIVO</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-right margin" style="margin-bottom: 20px;">

        <button (click)="cancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
        <button type="submit" class="btn btn-primary button-fill">Guardar</button>
    </div>

</form>