<br><br>
<hr>
<form [formGroup]="myForm" (ngSubmit)="enviarPeticion()">

  <input type="hidden" formControlName="grupoNominaId">

  <div class="background-panel margen">
    <br>
    <div class="form-group row margen">
      <label class="titulo">INFORMACIÓN DE JORNADA</label></div>
    <div class="form-group row margen">

      <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
        <label>Nombre *</label>
        <input #nombre formControlName="nombre" [ngClass]="{'is-invalid':f.nombre.errors && submitInvalido}"  type="text" class="form-control" placeholder="">
        <div *ngIf="submitInvalido && f.nombre.errors" class="invalid-feedback">
          Campo requerido
        </div>
      </div>

      <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
        <label>Tipo de Jornada *</label>
        <select formControlName = "esquemaPagoId" [ngClass]="{'is-invalid':f.esquemaPagoId.errors && submitInvalido}"  class="form-control">
          <option value="1">Diurna </option>
          <option value="2">Nocturna </option>
          <option value="3">Mixta </option>
        </select>
        <div *ngIf="submitInvalido && f.esquemaPagoId.errors" class="invalid-feedback">
          Campo requerido
        </div>
      </div>
      <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
        <label>Suma de horas para jornada *</label>
        <select formControlName = "esquemaPagoId" [ngClass]="{'is-invalid':f.esquemaPagoId.errors && submitInvalido}"  class="form-control">
          <option value="1">48</option>
        </select>
        <div *ngIf="submitInvalido && f.esquemaPagoId.errors" class="invalid-feedback">
          Campo requerido
        </div>
      </div>
      <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6"></div>
      <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
        <label class="contenedorInputCheckRadio">Usar el mismo horario de trabajo para todos los días
          <input formControlName="isrAguinaldoReglamento" type="checkbox" name="" id="irsaguinaldo">
          <span class="checkmark"></span>
        </label>
      </div>
      
      <div  class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
        <label class="contenedorInputCheckRadio">Agregar horario de comida 
          <input #ajusteisr (click)="activar(ajusteisr)" type="checkbox" name="" id="ajusteirs">
          <span class="checkmark"></span>
        </label>
       
      </div>

    </div>



  </div>
  <div class="text-center margin" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red"
      (click)="cancelar()">Cancelar</button>
    <button type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
  </div>

</form>

<app-alert-questions *ngIf="modal" [titulo]="strTitulo" [iconType]="iconType" 
  (eventoFunciones)="recibir($event)"></app-alert-questions>