<div class="row">
    <div class="col-12">
        <h6>Registros dispersados exitosamente: {{(recibidos?.dispersados|| 0)}}     Registros con errores: {{(recibidos?.enviados|| 0) - (recibidos?.dispersados||0)}}</h6>

    </div>
    <div *ngIf="recibidos?.dispersados !== recibidos?.enviados" class="col-12">
        <a (click)="descargarErrores()" class="botonestilo aparece-desktop estiloextralink"><small *ngIf="!cargandoIcon"><i aria-hidden="true"
            class="fas fa-download"></i> Descargar registros con errores en dispersión</small>
    <div *ngIf="cargandoIcon" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</a>
    </div>
</div>
<div class="text-center margin" style="margin-bottom: 20px;">
    <button type="submit" (click)="guardar()" class="btn btn-primary button-fill">Cerrar</button>
</div>