<div>

  <div class="row margen">
    <div class="col titulo-outlet">
      <label>LISTA DE USUARIOS</label>
    </div>
  </div>



  <div class="margen">
    <div class="form-group margen row "><label class="titulo">BÚSQUEDA</label></div>
    <div class="form group row margen">
      <div class=" input-group-sm mb-3 col-3 ">
        <input type="number" [(ngModel)]="idUsuario" class="form-control" placeholder="Id usuario">
      </div>
      <div class=" input-group-sm mb-3 col-3 ">
        <input type="text" [(ngModel)]="nombre" class="form-control" placeholder="Nombre">
      </div>
      <div class=" input-group-sm mb-3 col-3 ">
        <input type="text" [(ngModel)]="apellidoPat" class="form-control" placeholder="Apellido Paterno">
      </div>
      <div class=" input-group-sm mb-3 col-3 ">
        <input type="text" [(ngModel)]="apellidoMat" class="form-control" placeholder="Apellido Materno">
      </div>
      <div class=" input-group-sm mb-3 col-3 ">
        <input type="Date" [(ngModel)]="fechaRegistro" class="form-control" placeholder="Fecha de registro">
      </div>
      <div class=" input-group-sm mb-3 col-3 ">
        <select name="" id="" class="form-control" [(ngModel)]="id_company">
          <option value="0" selected>Seleccionar compañia</option>
          <option *ngFor="let item of arregloCompany" [value]="item.centrocClienteId">{{item.nombre}}</option>
        </select>
      </div>
      <div class=" input-group-sm mb-3 col-3 ">
        <input type="email" [(ngModel)]="correoempresarial" class="form-control" placeholder="Correo Empresarial">
      </div>
      <div class=" input-group-sm mb-3 col-3 ">
        <input type="email" class="form-control" placeholder="Tipo de usuario">
      </div>
      <div class=" input-group-sm mb-3 col-3 ">
        <select class="form-control" [(ngModel)]="activo">

          <option value="">Ambos</option>
          <option value="true">Activo</option>
          <option value="false">Inactivo</option>

        </select>
      </div>
      <div class=" input-group-sm mb-3 col-2 ">
        <button type="button" class="btn btn-primary button-outlet " (click)="filtrar()">FILTRAR</button>
      </div>
    </div>
  </div>

  <div class="row margen">
    <div class="col titulo">
      <label>RESULTADOS</label>
    </div>
  </div>
  <div class="row margen margen-tabla background-panel scrooll">
    <div *ngIf="multiseleccion" class="form-check ml-4 mt-4">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Seleccionar todos</label>
    </div>
    <div *ngIf="!multiseleccion" class="row" style="  margin-top: 10px;  width: 100%;">
      <div class="col text-right">
        <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
          <i class="fa fa-plus"></i>Agregar
        </button>
      </div>
    
    </div>

    <div *ngIf="!cargando && arreglo !== undefined" class="row margen" style="margin-bottom: -25px;">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Elementos</label>
        </div>
        <select [(ngModel)]="numeroitems" class="custom-select" id="inputGroupSelect01" (change)="cambia()">
          <option value="2" selected>2</option>
          <option value="20" selected>20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
       
      </div>
    </div>
    
    <table  *ngIf="!cargando && arreglo !== undefined"  class="table table-hover">
      <thead>
        <tr>
          <th scope="col"> <span *ngIf="multiseleccion">Activo</span> </th>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">Centro de costos</th>
          <th scope="col">Correo Empresarial</th>
          <th scope="col">Fecha de registro</th>
          <th scope="col">Activo</th>
          <th scope="col" *ngIf="!multiseleccion">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr (dblclick)="activarMultiseleccion()" *ngFor="let item of arreglo;">
          <th scope="row"><i *ngIf="!multiseleccion" class="icon_perfil"></i> <input *ngIf="multiseleccion"
              type="checkbox" name="inlineRadioOptions" id="radio1" value="option1"> </th>
          <td style="color:  #00DED4">{{item.personaId}} </td>
          <td>{{item.nombre}} </td>
          <td>{{item.apellidoPat}}</td>
          <td>{{item.apellidoMat }}</td>
          <td>{{item.representanteLegalCentrocClienteId}}</td>
          <td>{{item.emailCorp}}</td>
          <td>{{item.fechaAlta }}</td>
          <td>{{(item.esActivo)?'Activo':'Inactivo'}}</td>
          <td *ngIf="!multiseleccion" class="opciones">
            <button (click)="verdetalle(item)" class="btnPersonalizado"><i
                class="icon_ver text-center bg-light"></i></button>
                <button (click)="verdetalle(item)" class="btnPersonalizado"><i
                  class="icon_editar text-center bg-light"></i></button>
          </td>
        </tr>



      </tbody>
    </table>
    <div *ngIf="!cargando && arreglo === undefined"   class="alert alert-warning col text-center">
      <strong>Sin usuarios</strong> La tabla de usuario esta vacía.
    </div>
   <div  *ngIf="!cargando && arreglo !== undefined" class="row" style="width: 100%;">
     <div class="col" > 
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Antes</a>
          </li>
          <li class="page-item " [ngClass]="{'active':item.activado}" *ngFor="let item of arreglopaginas" (click)="paginacambiar(item)"><a class="page-link" >{{item.mostrar}}</a></li>
          <li class="page-item disabled">
            <a class="page-link">Siguiente</a>
          </li>
        </ul>
      </nav></div>
   </div>
   
    <div *ngIf="multiseleccion" class="row text-center margin botonmultiseleccion" style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary button-outlet mr-2" style="color:red" (click)="cancelarMulti()"
        *ngIf="!multiseleccionloading">Cancelar</button>
      <button (click)="guardarMultiseleccion()" type="button" class="btn btn-primary button-fill agrandarloading"><span
          *ngIf="!multiseleccionloading">Guardar</span>

        <div *ngIf="multiseleccionloading" role="status">
          <span class="spinner-border"></span>
        </div>
      </button>

    </div>
    <div *ngIf="cargando" class="col text-center mb-5">
      <img width="60px" height="60px" src="../../../../../assets/imgs/loading_nomina.gif" alt="">
    </div>
  </div>



</div>