.margen{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.button-outlet{
    background-color: transparent!important;
}




table{
    border-radius: 10px;
}

.margen-tabla table{
    margin:40px
}


td{
    color:rgb(49, 49, 49);

    button{
        border: 0px solid black;
        margin-left: 2px;
    }
}

