<div class="row titulosfijos mb-5 ml-2 mr-2" style="background-color: transparent;">
    <div class="col titulo-outlet">
        <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa"><button disabled>
            <i  aria-hidden="true" class="fas fa-bars"></i>
        </button></div> <label>ADMINISTRACIÓN DE DISPERSIÓN Y TIMBRADO</label>
    </div>
</div>


<div class="scrooll-design" style="margin-top: -22px;">
    <div class="margen " id="vetanaprincipaltabla">

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="altas" role="tabpanel" aria-labelledby="home-tab">

                <div class="mt-2">

                    <div class="form-group margen row "><label class="titulo">BÚSQUEDA</label></div>

                    <div class="form group row margen">
                        <div class=" input-group-sm mb-3 col-3 ">
                            <select #companiaSelect (focusout)="validarCompania(companiaSelect.value)"  placeholder="Cliente" name="" class="form-control" [(ngModel)]="idCliente">
                                <option value="0" selected>Selecciona cliente</option>
                                <option *ngFor="let item of arregloCompania"  [value]="item.centrocClienteId">{{item.nombre}}
                                </option>
                              </select>
                        </div>
                        <div class=" input-group-sm mb-3 col-3 ">
                            <select placeholder="Cliente" name="" class="form-control" [(ngModel)]="idEmpresaFiltro">
                                <option value="0" selected>Selecciona empresa</option>
                                <option *ngFor="let item of arregloEmpresa"  [value]="item.centrocClienteId">{{item.nombre}}
                                </option>
                              </select>
                        </div>
                        <div class=" input-group-sm mb-3 text-right col-12 col-lg-2  col-xl-12 ">
                            <button type="submit" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
                        </div>


                    </div>

                    <div class="col-5">
                        <div *ngIf="aparecemodalito" [style.top]="scrolly" class="ventanaemergente" [style.width]="modalWidth">


                            <div class="adentro">

                                <button (click)="aparecemodalito = false" type="button" class="close btnclosemodal" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                                <div class="header">
                                    <h5 class="titulo">TIMBRES</h5>


                                </div>
                                <hr>
                                <div class="body">


                                    <div *ngIf="cargandolistatimbres" class="col text-center mb-5">
                                        <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
                                    </div>

                                    <div *ngIf="!cargandolistatimbres">
                                        <table aria-hidden="true" class="table m-3 table-hober table-sm " style="width: 90%;">
                                            <thead>
                                                <tr>
                                                    <th id="" class="text-center" scope="col">Proveedor de timbrado</th>
                                                    <th id="" class="text-center" scope="col">Timbres disponibles</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                <tr *ngFor="let item of arreglotimbresProveedoresTab">
                                                    <td>{{item.proveedor}}</td>
                                                    <td>{{item.timbres_disponibles}}</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <hr>
                                <div class="footer">
                                    <div class="row">
                                        <div class="col-12 text-center"><button (click)="aparecemodalito = false" type="submit" class="btn btn-primary button-fill agrandarloading">Cerrar</button></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <br><br>
                    <div class="row margen">
                        <div class="col titulo">
                            <label>RESULTADOS</label>
                        </div>
                    </div>
                    <div class="   margen-tabla background-panel ">
                        <br>

                        <div class="col-11">
                            <div class="text-right margin">
                                <nav *ngIf="aparecemodalito == false" aria-label="cosmonaut">
                                    <a (click)="traerModal(undefined)" class="botonestilo heartbeathand estiloextralink"><i aria-hidden="true" 
                                        class="icon_24alerta primary-bg"></i> Timbres
                                    </a>
                                </nav>
                                <nav *ngIf="aparecemodalito == true" aria-label="cosmonaut">
                                    <a class="botonestilo heartbeathand estiloextralink disabled"><i aria-hidden="true" 
                                        class="icon_24alerta primary-bg"></i> Timbres
                                    </a>
                                </nav>
                            </div>
                        </div>

                        <app-tablapaginado [datos]="arreglotabla" [editar]="esEditar" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>

                    </div>




                </div>

            </div>

        </div>


    </div>
</div>