<div class="bg_emergente fade-in-second"  [style.top]="scrollTop+'px'">
    <div style="overflow: auto;" [ngClass]="{'disenioextra':ventanaalerta}" class="bodymodal slide-in-top" id="bodyemergente"  [style.left]="leftP+'px'">

        <button *ngIf="!ventanaalerta" (click)="cerrarModal()" style="position: absolute;
        right: 0;z-index: 1;"  type="button" class="close btnclosemodal mr-2"
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        
        </button>

    <div class="row">
        <div class="col  m-3">
            <h4 *ngIf="!ventanaalerta" class="primary">{{titulo}}</h4>
            <hr *ngIf="!ventanaalerta">
            
            <app-ventana-nuevanomina *ngIf="mostrar.nuevanomina" (salida)="recibirEmergente($event)"></app-ventana-nuevanomina>
            <app-nominaactiva-fechatimbrado  *ngIf="mostrar.timbrado" (salida)="recibirEmergente($event)"></app-nominaactiva-fechatimbrado>
            <app-nominaactiva-timbrar  *ngIf="mostrar.timbrar" (salida)="recibirEmergente($event)"></app-nominaactiva-timbrar>
            <app-subir-foto-perfil *ngIf="mostrar.fotoperfil" (salida)="recibirEmergente($event)"></app-subir-foto-perfil>
            <app-ventana-percepciones *ngIf="mostrar.percepciones" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-percepciones> 
            <app-ventana-adminTimDisper *ngIf="mostrar.adminTimbradoDispersion" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-adminTimDisper>
            <app-ventana-deducciones *ngIf="mostrar.deducciones" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-deducciones>
            <app-ventana-resumen-dispersion  *ngIf="mostrar.ndispersion" [datos]="datos" (salida)="recibirEmergente($event)"></app-ventana-resumen-dispersion>
            <app-ventana-resumen-timbrado  *ngIf="mostrar.ntimbrado"     [datos]="datos" (salida)="recibirEmergente($event)"></app-ventana-resumen-timbrado>
            <app-ventana-subirdocumento  *ngIf="mostrar.subirdocumento" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-subirdocumento>
            <app-ventana-nominanuevaextraordinaria  *ngIf="mostrar.nuevanominaextraordinaria" (salida)="recibirEmergente($event)"></app-ventana-nominanuevaextraordinaria>
            <app-nominanueva-ptu *ngIf="mostrar.nuevanominaptu" (salida)="recibirEmergente($event)" [datos]="datos"></app-nominanueva-ptu>
            <app-ventana-tablaisr *ngIf="mostrar.tablaisr" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-tablaisr>
            <app-ventana-tablaisn *ngIf="mostrar.tablaisn" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-tablaisn>
            <app-ventana-subcidio *ngIf="mostrar.subcidio" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-subcidio>
            <app-ventana-nominanuevafiniquitoliquidacion  *ngIf="mostrar.nuevanominafiniquitoliquidacion" (salida)="recibirEmergente($event)"></app-ventana-nominanuevafiniquitoliquidacion>
            <app-editarmensaje-chat *ngIf="mostrar.mensajechat" (salida)="recibirEmergente($event)" [datos]="datos"></app-editarmensaje-chat>
            <app-lista-empleados *ngIf="mostrar.listaempleados" [datos]="datos"></app-lista-empleados>
            <app-ventana-detallecuenta *ngIf="mostrar.detallecuenta" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-detallecuenta>
            <app-ventana-detallecompesacion *ngIf="mostrar.detallecompesacion" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-detallecompesacion>
            <app-ventana-eventos *ngIf="mostrar.eventos" (salida)="recibirEmergente($event)" [datos]="datos"></app-ventana-eventos>

        </div>
    </div>

    </div>

    <br><br><br><br><br><br><br>
    
</div>
