

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(168, 168, 168); 
    border-radius: 3px;
  }


  ::-webkit-scrollbar-thumb:hover {
    background: rgb(226, 226, 226); 
  }


  .bodymodal{
    overflow: unset  !important;
    max-height: unset !important;
  }

  .bg_emergente{
    overflow: auto !important;
    z-index: 100 !important;
  }