<div class="bg_emergente fade-in-second"  [style.top]="scrollTop+'px'">
    <div style="overflow: auto;"  class="bodymodal slide-in-top" id="bodyemergente"  [style.left]="leftP+'px'">

        <button (click)="cerrarModal()" style="color:rgb(0, 0, 0)"  type="button" class="close btnclosemodal mr-2"
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        
    </button>

    <div class="row">
        <div class="col  m-3">
            <h4 *ngIf="!ventanaalerta" class="primary">{{titulo}}</h4>
            <hr *ngIf="!ventanaalerta">
            <app-ventana-nuevanomina *ngIf="mostrar.nuevanomina" (salida)="recibirEmergente($event)"></app-ventana-nuevanomina>
            <app-nominaactiva-fechatimbrado  *ngIf="mostrar.timbrado" (salida)="recibirEmergente($event)"></app-nominaactiva-fechatimbrado>
        </div>
    </div>

    </div>

    <br><br><br><br><br><br><br>
    
</div>
