<div class="bg_emergente fade-in-second"  [style.top]="scrollTop+'px'">
    <div style="overflow: auto;"  class="bodymodal slide-in-top" id="bodyemergente"  [style.left]="leftP+'px'">

        <button (click)="cerrarModal()" style="color:rgb(0, 0, 0)"  type="button" class="close btnclosemodal mr-2"
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        
    </button>

    <div class="row">
        <div class="col  m-3">
            <h4 class="primary">{{titulo}}</h4>
            <hr>
            <app-ventana-solicitud-carga-masiva-eventos *ngIf="mostrar.cargamasiva"></app-ventana-solicitud-carga-masiva-eventos>
            <app-ventana-solicitud-vacaciones *ngIf="mostrar.solicitudvacacaciones" (salida)="recibirEmergente($event)"></app-ventana-solicitud-vacaciones>
            <app-ventana-solicitud-incapacidad *ngIf="mostrar.solicitudIncapacidad" (salida)="recibirEmergente($event)"></app-ventana-solicitud-incapacidad>
            <app-ventana-solicitud-horas-extras *ngIf="mostrar.solicitudHorasExtras" (salida)="recibirEmergente($event)"></app-ventana-solicitud-horas-extras>
            <app-ventana-solicitud-dias-economicos  *ngIf="mostrar.solicitudDiasEconomicos" (salida)="recibirEmergente($event)"></app-ventana-solicitud-dias-economicos>
            <app-ventana-registro-faltas *ngIf="mostrar.registrofaltas" (salida)="recibirEmergente($event)"></app-ventana-registro-faltas>
        </div>
    </div>

    </div>
    
</div>
