

.ventanaemergente{
    z-index: 1;
    display: block;
    overflow: auto;
    width: 50%;
    border-radius: 5px;
    border:1px solid rgb(102, 102, 102);
    height: auto;
    background-color: white !important;
    -webkit-box-shadow: 5px 2px 5px 1px rgba(0,0,0,0.42); 
box-shadow: 5px 2px 5px 1px rgba(0,0,0,0.42);

position: absolute;

right: 3%;
    bottom: 9%;



.sendchat{
    border:1px solid rgb(214, 214, 214);
    height: 40px;
    border-radius: 10px;
    position: relative;
    color: #949292;
    .adjunto{
        position: absolute;
        right: 0;
        top: 3px;
        font-size: x-large;
        cursor: pointer;
    }
    .adjunto2{
        position: absolute;
        left: 0;
        top: 1px;
        font-size: x-large;
        cursor: pointer;
    }
    .limiteschat{
        padding-right: 33px;
    }
}
.btnclosemodal{
    top: 0   !important;
    position: absolute  !important;
    right: 11px   !important;
    

    span{
        color: white;
        font-size: x-large;
    }
}


.dialogo{
    background-color: #4cc1b0;
    height: 70px;
}

.titulos{
    float:left
}

.header,.body,.footer{
    width: 100%;
    padding: 10px;
    padding-right: 17px;
padding-left: 23px;
padding-bottom: 24px;
}

.header{
    color:white;
}

h5{
    font-size: medium;
}
h6{
    font-size: small;
}


.imagen{

    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.chat{
    height: 250px;
    overflow: auto;
    .enviado{
        width: 100%;
        color: #7d7d7d;
        float: right;
        text-align: right;
        margin-bottom: 10px;
        margin-right: 10px;
        .ajustandoenviado{
            background: #b1eae3;
            padding: 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            display: inline-block;
            border-bottom-left-radius: 8px;
        }
    }

    .recibido{
        width: 100%;
        color: #7d7d7d;
        float: left;
        margin-bottom: 10px;
        .ajutandorecibido{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            display: inline-block;
            background: #e0e0e0;
            padding: 10px;
        }
    }

    .hora{
        display: block;
                      font-size: x-small;
    }
}


}

.a1{
 fill:rgb(138, 138, 138) !important;
}



.swing-in-bottom-fwd {
	-webkit-animation: swing-in-bottom-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-2 15:49:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-bottom-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  @keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  

