.loginComponent{

   
$pantallamovil:600px;


%bloque{
    float: left;
    text-align: center;
}






.mt-5{


    margin-top: 12%!important;

}


.imgblock{
    @extend %bloque;
    width: 40%;

    img{
        max-width: 250px;
        height: auto;
        
        
    }

    @media only screen and (max-width : $pantallamovil)
    {


        float: none;


    }
}

.displaymovil{

    @media only screen and (max-width : $pantallamovil)
    {


        width: 100%!important;
        .letra {
            font-size: 14px!important;
        }

        img{
            max-width: 130px;
        }

        top: 0!important;
        position: absolute !important;
        bottom: 0 !important;
        overflow: auto !important;
        left: 0;
        right: 0;
        #formulario{
            width: 100%;
        }
    }
    div{

        margin: auto;

    }

  
}







.formblock{
    @extend %bloque;
    width: 60%;
    text-align: left;
}

.letra{
  width: 100%;
}


.form{
    width:13em  !important;
    margin: auto !important;
}


a{
    color:$primary;
    text-decoration: underline;
}

.boton
{
    text-align: center;

    button{
        width: 160px;
    }
}




span{
  font-size: x-small;

}

.spanEyes{
    width: 25px;
    height: 38px;
    font-size: 15px;
    
}

.imgEyes{

    margin-left: -9px;
    color: #00c0af !important;
}


  
}