<form [formGroup]="myForm" class="form-desing" (ngSubmit)="enviarPeticion()">
    <input type="hidden">
<div class="form-group row">

    <div class="input-group-sm mb-3 col-4">
        <label for="exampleFormControlSelect1">Nombre de deducción *</label>
        <select #conceptoDeduccionId (focusout)="validarConceptoDeduccion(conceptoDeduccionId.value)" 
        formControlName="nomDeduccion" type="text" class="form-control">
            <option value=""></option>
            <option *ngFor="let item of obtenerPercepcion"  [value]="item.tipoDeduccionId?.tipoDeduccionId">{{item.nombre}}</option>
        </select>
    </div>
    <div class="input-group-sm mb-3 col-4">
        <label>Fecha inicio de descuento *</label>
        <input formControlName="fechaInicioDescto" type="date" class="form-control">

    </div>

    <div *ngIf="infonavit" class="input-group-sm mb-3 col-4">
        <label>Fecha fin de descuento *</label>
        <input formControlName="fechaFinDescuento" type="date" class="form-control">

    </div>
    <div *ngIf="prestamo" class=" input-group-sm mb-3 col-4">
        <label for="exampleFormControlSelect1">Tipo de descuento *</label>
        <select #tipoMonto (focusout)="validarNomMonto(tipoMonto.value)" formControlName="baseCalculoId" type="text" class="form-control">
            <option value=""></option>
            <option *ngFor="let item of arregloTipoMonto"  [value]="item.baseCalculoId">{{item.descripcion}}</option>
        </select>
    </div>

    <div class="input-group-sm mb-3 col-12"></div> 
    <div *ngIf="normalDeduccion" class=" input-group-sm mb-3 col-4">
        <label for="exampleFormControlSelect1">Tipo de descuento *</label>
        <select #tipoMonto (focusout)="validarNomMonto(tipoMonto.value)" formControlName="baseCalculoId" type="text" class="form-control">
            <option value=""></option>
            <option *ngFor="let item of arregloTipoMonto"  [value]="item.baseCalculoId">{{item.descripcion}}</option>
        </select>
    </div>
    
    <div *ngIf="infonavit" class=" input-group-sm mb-3 col-4">
        <label for="exampleFormControlSelect1">Tipo de descuento INFONAVIT *</label>
        <select #tipoMonto (focusout)="validarNomMontoInfonavit(tipoMonto.value)" formControlName="tipoDescuentoInfonavitId" type="text" class="form-control">
            <option value=""></option>
            <option *ngFor="let item of arregloDescuentoInfonavit"  [value]="item.tipoDescuentoInfonavitId">{{item.descripcion}}</option>
        </select>
    </div>
    <div *ngIf="prestamo"  class="  input-group-sm mb-3 col-4">
        <label>Monto *</label>
        <input #monto (focusout)="validarMontoTotal(monto.value)"  formControlName="montoTotal" type="text" class="form-control">

    </div>

    <div  *ngIf="prestamo" class="  input-group-sm mb-3 col-4">
        <label >Número de cuotas *</label>
        <input #numero (focusout)="validarNumeroCuotas(numero.value)" formControlName="numeroCuotas" type="text" class="form-control" >

    </div>
    <div *ngIf="valor" class="  input-group-sm mb-3 col-4">
        <label *ngIf="porcentual" >Porcentaje *</label>
        <label *ngIf="fijo" >Monto *</label>
        <label *ngIf="montopago" >Monto de cada pago *</label>
        <input formControlName="valor" type="text" class="form-control">

    </div>

    <div *ngIf="valorDescuento" class="  input-group-sm mb-3 col-4">
        <label>Valor de descuento *</label>
        <input formControlName="interesPorcentaje" type="text" class="form-control">

    </div>
 

    <div class="input-group-sm mb-3 col-4">
        <label>Estatus *</label>
        <select name="" id="" class="form-control" formControlName="esActivo">
          <option value="true" >Activo</option>
          <option value="false">Inactivo</option>
        </select>
      </div>
      <div *ngIf="prestamo" class="input-group-sm mb-3 col-6"></div>
      <div *ngIf="infonacot" class="input-group-sm mb-3 col-4"></div>
      <div *ngIf="submenu"  class="form-group mt-3 row margen"><label class="titulo">Detalle de la deducción</label></div>
      <div class="input-group-sm mb-3 col-6"></div>

      <div *ngIf="prestamo" class="input-group-sm mb-3 col-6">
        <label>Fecha de otorgamiento del préstamo *</label>
        <input formControlName="fechaRecepcionAvisoRetencion" type="date" class="form-control">

    </div>

      <div *ngIf="pensionAlimenticia" class="input-group-sm mb-3 col-6">
        <label>Fecha de demanda *</label>
        <input formControlName="fechaRecepcionAvisoRetencion" type="date" class="form-control">

    </div>

      <div *ngIf="infonavit" class="input-group-sm mb-3 col-6">
        <label>Fecha fin de recepción del aviso de retención *</label>
        <input formControlName="fechaRecepcionAvisoRetencion" type="date" class="form-control">

    </div>

    <div *ngIf="numFolio" class="  input-group-sm mb-3 col-6">
        <label *ngIf="credito">Número de crédito *</label>
        <label *ngIf="referencia">Referencia *</label>
        <input formControlName="numeroFolio" type="text" class="form-control" >

    </div>
    <div *ngIf="infonacot" class="  input-group-sm mb-3 col-4">
        <label>Número de crédito *</label>
        <input formControlName="numeroFolio" type="text" class="form-control" >

    </div>
    <div *ngIf="infonacot"  class="  input-group-sm mb-3 col-4">
        <label>Monto del crédito *</label>
        <input formControlName="montoTotal" type="text" class="form-control">

    </div>
    <div *ngIf="infonacot" class="  input-group-sm mb-3 col-4">
        <label >Monto por período *</label>
        <input formControlName="valor" type="text" class="form-control">

    </div>
    <div  *ngIf="infonavit" class="  input-group-sm mb-3 col-6">
        <label >Número de folio del aviso de retención *</label>
        <input formControlName="folioAvisoRetencion" type="text" class="form-control" >

    </div>
    <div *ngIf="infonavit" class="input-group-sm mb-3 col-6">
        <label>Aviso de retención </label>
        <div class="input-group mb-2">
          <input type="hidden" >
          <input #cer type="text" class="form-control disabled bg-light" >
          <div class="input-group-append" style="cursor: pointer;">
            <span style="font-size: small;" class="input-group-text dark" id="basic-addon2"><i class="icon_upload"></i> Subir archivo</span>
          </div>
        </div>
      </div>
      <div  *ngIf="infonavit" class="  input-group-sm mb-3 col-6">
        <label >Número de folio del aviso de suspensión </label>
        <input formControlName="folioAvisoSuspension" type="text" class="form-control" >

    </div>

    <div *ngIf="infonavit" class="input-group-sm mb-3 col-6">
        <label>Aviso de suspensión </label>
        <div class="input-group mb-2">
          <input type="hidden" >
          <input #cer type="text" class="form-control disabled bg-light" >
          <div class="input-group-append" style="cursor: pointer;">
            <span style="font-size: small;" class="input-group-text dark" id="basic-addon2"><i class="icon_upload"></i> Subir archivo</span>
          </div>
        </div>
      </div>
      <div *ngIf="infonavit" class="input-group-sm mb-3 col-6">
        <label>Fecha fin de recepción del aviso de suspensión </label>
        <input formControlName="fechaRecepcionAvisoSuspension" type="date" class="form-control">

    </div>

</div>
<div class="text-right margin" style="margin-bottom: 20px;">

    <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
    
    <button type="submit" class="btn btn-primary button-fill">Guardar</button>
</div>

</form>