<div class="container">

<div class="row">
    <div class="row"><label class="titulo">DOCUMENTOS</label></div>
</div>

<div class="row">

  <div class="form group row margen">
    <div class=" input-group-sm mb-3 col-12 col-md-8 col-lg-8">
      <input type="text"  class="form-control" 
      placeholder="Tipo de documento">
    </div>
    <div class=" input-group-sm mb-3 text-center col-12 col-sm-2 ">
      <button type="button" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
    </div>

  </div>


</div>


<div class="row ">

    <div class="col">

      <div class="row margen">
        <div class="col titulo">
          <label>RESULTADOS</label>
        </div>
        <div class="col text-right">
          <button type="button" class="btn btn-light button-outlet" (click)="agregar()">
             Subir documento
          </button>
        </div>
      </div>
      <div class="row margen margen-tabla background-panel">
        <app-tablapaginado [datos]="arreglotabla" [descargar]="true" [editar]="true" [eliminar]="true" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
      </div>

    </div>
</div>
</div>