<br>
<div >
   
   
    
    <div class="row margen">
        <div class="col titulo">
            <label >RESULTADOS</label>
        </div>
        <div *ngIf="!multiseleccion" class="row" style="  margin-top: 10px;  width: 100%;">
          <div class="col text-right">
            <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i class="fa fa-plus"></i> Agregar puesto
            </button>
          </div>
        </div>
    </div>
    <div class="row margen margen-tabla background-panel scrooll">        
        <div *ngIf="multiseleccion" class="form-check ml-4 mt-4">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Seleccionar todos</label>
          </div>

          <div  *ngIf="!cargando" class="row margen" style="margin-bottom: -25px;">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Elementos</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option value="1" selected>20</option>
                <option value="2">50</option>
                <option value="3">100</option>
              </select>
             
            </div>
          </div>
            <table *ngIf="!cargando" class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th scope="col"> <span *ngIf="multiseleccion">Activo</span> </th>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col" *ngIf="tamanio >=600">Apellido Paterno</th>
                    <th scope="col" *ngIf="tamanio >=600">Apellido Materno</th>
                    <th scope="col" *ngIf="tamanio >=600">CURP</th>
                    <th scope="col" *ngIf="tamanio >=600">Correo Empresarial</th>
                    <th scope="col" *ngIf="tamanio >=600">Fecha de registro</th>
                    <th *ngIf="tamanio >=600" scope="col">Estatus</th>
                    <th scope="col" *ngIf="!multiseleccion">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <tr (dblclick)="activarMultiseleccion()" *ngFor="let item of arreglo;">
                        <th scope="row"><i *ngIf="!multiseleccion" class="icon_perfil"></i> <input *ngIf="multiseleccion"
                            type="checkbox" name="inlineRadioOptions" id="radio1" value="option1"> </th>
                        <td style="color:  #00DED4">{{item.personaId}} </td>
                        <td>{{item.nombre}} </td>
                        <td *ngIf="tamanio >=600">{{item.apellidoPat}}</td>
                        <td *ngIf="tamanio >=600">{{item.apellidoMat }}</td>
                        <td *ngIf="tamanio >=600">{{item.curp}}</td>
                        <td *ngIf="tamanio >=600">{{item.emailCorp}}</td>
                        <td *ngIf="tamanio >=600">{{item.fechaAlta }}</td>
                        <td *ngIf="tamanio >=600">{{(item.esActivo)?'Activo':'Inactivo'}}</td>
                        <td *ngIf="!multiseleccion" class="opciones">
                          <button (click)="verdetalle(item)" class="btnPersonalizado"><i
                              class="icon_ver text-center bg-light"></i></button>
                              <button (click)="verdetalle(item)" class="btnPersonalizado"><i
                                class="icon_editar text-center bg-light"></i></button>
                        </td>
                      </tr>
                  
                </tbody>
              </table>
              <div  *ngIf="!cargando" class="row" style="width: 100%;">
                <div class="col" > 
                 <nav aria-label="Page navigation example">
                   <ul class="pagination justify-content-center">
                     <li class="page-item disabled">
                       <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Antes</a>
                     </li>
                     <li class="page-item"><a class="page-link" >1</a></li>
                     <li class="page-item"><a class="page-link" >2</a></li>
                     <li class="page-item"><a class="page-link" >3</a></li>
                     <li class="page-item">
                       <a class="page-link">Siguiente</a>
                     </li>
                   </ul>
                 </nav></div>
              </div>
  
            <div *ngIf="cargando" class="col text-center mb-5">
              <img width="60px" height="60px" src="../../../../../assets/imgs/loading_nomina.gif" alt="">
            </div>
    </div>
    <div class="row">
  
    <div *ngIf="multiseleccion" class="row text-center margin botonmultiseleccion" style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red" (click)="cancelarMulti()" *ngIf="!multiseleccionloading">Cancelar</button>
      <button (click)="guardarMultiseleccion()" type="button" class="btn btn-primary button-fill agrandarloading"><span *ngIf="!multiseleccionloading">Guardar</span>
      
          <div *ngIf="multiseleccionloading"  role="status">
              <span class="spinner-border"></span>
            </div>
      </button>
    </div>
      
  </div>
    
  </div>

  
  
  
  
  