<div style="height: 100px; background-color: #00C1AF;" class="text-center">

    <div class="containerimg">
        <img src="assets/imgs/limpiar.png" width="75px" height="75px" alt="" srcset="">
    </div>
</div>
<div style="background-color: #ffffff;     padding-top: 49px;" class="text-center m-2">

    <h5 class="titulo">Comenzar a timbrar</h5>
    <br>
    <span>¿Estas seguro de querer timbrar <strong>1 de 1 </strong> empleados?</span><br>
    <div class="imagenestimbraado">
        <img src="assets/imgs/limpiar.png"  alt="" srcset="">
        <span>1.- Timbrado</span>
    </div>
    <div class="imagenestimbraado">
        <img src="assets/imgs/folios.png"  alt="" srcset="">
        <span>2.- Folios y recibos</span>
    </div>
    <div class="imagenestimbraado">
        <img src="assets/imgs/final.png"  alt="" srcset="">
        <span>3.- Folios y recibos</span>
    </div>
    <br><br>
</div>

<div class="text-center margin" style="margin-bottom: 20px;">

    <button (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
    <button (click)="aceptar()" class="btn btn-primary button-fill">Continuar</button>
</div>


