.background-panel{
    background-color: white;
}


article{
    font-size: medium;
    font-weight: bold;
    article{
        font-size: smaller;
        font-weight: normal;
        color:gray;
        
    }
}


.selecciona{
    color: #619694 !important;
    border-color: #1EC1AF;
    background: #1EC1AF34;
    font-size: larger;
}