.background-panel{
    background-color: white;
}


article{
    font-size: medium;
    font-weight: bold;
    article{
        font-size: smaller;
        font-weight: normal;
        color:gray;
        
    }
}