.background-panel{
    background-color: white;
}


article{
    font-size: medium;
    font-weight: bold;
    article{
        font-size: smaller;
        font-weight: normal;
        color:gray;
        
    }
}


.selecciona{
    color: white !important;
    border-color: var(--principal);
    background: var(--principal);
    
}


#nav-tabContent{
    height: calc(100vh - 270px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 19px;
        height: 16px;
      
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 1px;
        border-right: 1px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--principal); 
      }


      &::-webkit-scrollbar-thumb:hover {
        background: var(--principal); 
      }

      
    &::-webkit-scrollbar-track {
        background-color: #bbbbbb;
      }
  
      &::-webkit-scrollbar-button:single-button {
        background-color: #bbbbbb;
        display: block;
        border-style: solid;
        height: 16px;
        width: 16px;
      }
  
      &::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 8px 13px 8px;
        border-color: transparent transparent #555555 transparent;
      }
  
      &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent #777777 transparent;
      }
      &::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 13px 8px 0 8px;
        border-color: #555555 transparent transparent transparent;
      }
      
      &::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: #777777 transparent transparent transparent;
      }
}


.titulonomina{
    article,span{
        float:left;
    }

    article:last-child(){
        float:right;
    }

   
}