<div class="row margen">
    <div class="col titulo-outlet">
        <label><i aria-hidden="true" class="fas fa-chevron-left aparece-movil-inline-block" ></i>PROMEDIO DE VARIABLES</label>
    </div>
</div>

<hr>

<form [formGroup]="myForm" *ngIf="fromPromediar" (ngSubmit)="enviarPeticion()" class="form-desing">

    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="background-panel margen">
                <br>
                <div class="form-group row margen">
                    <label class="titulo">CALCULAR PROMEDIO DE VARIABLES</label>
                </div>
                <div class="form-group row margen">

                    <div class="  input-group-sm mb-3 col-10">
                        <label>Razón social </label>
                        <input formControlName="razonSocial" maxlength="250" type="text" class="form-control disabled bg-light">

                    </div>

                    <div class="  input-group-sm mb-3 col-10" data-bs-toggle="tooltip" data-bs-placement="top" [title]="'bimestre' | tooltip">
                        <label>Bimestre a calcular *</label>
                        <input formControlName="bimestre" maxlength="300" type="text" class="form-control disabled bg-light">

                    </div>

                    <div class="input-group-sm mb-3 col-10" data-bs-toggle="tooltip" data-bs-placement="top" [title]="'dias' | tooltip">
                        <label>Días a promediar *</label>
                        <input formControlName="diaspromediar" [class.is-invalid]="(f.diaspromediar.errors?.required && f.diaspromediar.touched) || (f.diaspromediar.errors?.min )" type="text" class="form-control">
                        <div *ngIf="f.diaspromediar.errors?.required && f.diaspromediar.touched" class="invalid-feedback">
                            Campo requerido
                        </div>
       
                    </div>

                    <div class="  input-group-sm mb-3 col-10">
                        <label>Fecha de aplicación *</label>
                        <input formControlName="fecha" type="text" class="form-control disabled bg-light">

                    </div>

                </div>

                <br>
                <div class="text-center margin" style="margin-bottom: 20px;">
    
                    <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
                    
                    <button (click)="enviarPeticion()" class="btn btn-primary button-fill">Aplicar</button>
                </div>
                <br>
            </div>
        </div>
    </div>

</form>

<div class="scrooll-design" style="margin-top: -22px;" *ngIf="listaVariabilidad">
    <div class="margen ">

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="altas" role="tabpanel" aria-labelledby="home-tab">

                <div class="mt-2">

                    <div class="form-group margen row " *ngIf="listaVariable"><label class="titulo">BÚSQUEDA</label></div>
                    <div class="form group row margen" *ngIf="listaVariable">
                        <div class=" input-group-sm mb-3 col-3 ">
                            <select class="form-control" [(ngModel)]="razonSocialEmpresa" name="">
                                <option value="0" selected >Razón social</option>
                                <option *ngFor="let item of arreglo" [value]="item.razonSocial">{{item.razonSocial}}</option>
                            </select>

                        </div>
                        <div class=" input-group-sm mb-3 col-3 ">
                            <input type="number" class="form-control" [(ngModel)]="anioFiltro" placeholder="Filtrar por año">
                        </div>
                        <div class=" input-group-sm mb-3 col-3 ">
                            <input type="number" class="form-control" [(ngModel)]="bimestre" placeholder="Filtrar por bimestre">

                        </div>

                        <div class=" input-group-sm mb-3 text-right col-12 col-lg-2  col-xl-12 ">
                            <button type="button" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
                        </div>


                    </div>


                    <div class="row margen">
                        <div class="col titulo">
                            <label>RESULTADOS</label>
                        </div>
                        <div class="row text-right margin botonmultiseleccion" *ngIf="listaVariable">
                            <button (click)="promedioVariabilidad()" type="button" class="btn heartbeathand btn-light button-outlet mr-2"><span>Promediar variables</span>
                            </button>
                        </div>
                        <div class="row text-right margin botonmultiseleccion" *ngIf="listaPromedio">
                            <button (click)="desgargarArchivo()" type="button"
                            class="btn heartbeathand btn-light button-outlet mr-2"><span>Descargar reporte</span>
                          </button>

                        </div>

                    </div>


                    <div class="   margen-tabla background-panel " *ngIf="listaVariable">
                        <br>
                        <app-tablapaginado [datos]="arreglotabla" [descargar]="true" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
                    </div>

                    <div class="   margen-tabla background-panel " *ngIf="listaPromedio">
                        <br>
                        <app-tablapaginado [datos]="arreglotablaListaEmpleadosPromedio" [cargando]="cargando"></app-tablapaginado>
                    </div>
                    <br>

                    <div class="text-center margin" style="margin-bottom: 20px;" *ngIf="listaPromedio">

                        <button type="button" (click)="cancelarPromedio()" class="btn btn-primary button-outlet mr-2">Cancelar</button>

                        <button (click)="aplicarPromedio()" class="btn btn-primary button-fill">Aplicar</button>
                    </div>

                </div>

            </div>

        </div>