<div class="background-ajustar" appTamanioVentana [pixeles]="30">
<div class="row margen titulosfijos">
    <ul class="nav nav-tabs" role="tablist"  id="navegadorTabsEncab">
        <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa" style="margin-left: 13px;"><button disabled>
            <img src="assets/imgs/menu.png" alt="" srcset="">
        </button>
        </div>  
        <li ><a routerLinkActive="active"  class="nav-link" data-toggle="tab"  role="tab" 
            (click)="inicio()"> {{modulo}}</a>
        </li>
        <li style="padding-top: 10PX;">
            {{subModulo}} 
        </li>
    </ul>
</div>


<div class="scrooll-design">
    <div class="row margen">

        <div class="col text-right">
            <button *ngIf="esRegistrar" type="button" class="btn btn-light button-outlet" (click)="detalle(undefined)">
          <i aria-hidden="true" class="icon_24agregar primary-bg"></i>Agregar rol
        </button>
        </div>
    </div>
    <div class="row margen margen-tabla background-panel">
        <app-tablapaginado [datos]="arreglotabla" [editar]="esEditar" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
    </div>
</div>
</div>