.margennav{
    margin-top: 39px;
}



.bordeEmpleada{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 12px;
    width: 94px;
}

.button-outlet{

    color:#022538 !important;
    border-color: #022538 !important;

}


#perfilEmpleada{
    position: relative;
}

.botonestilo{
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 115px;
    color:#022538;
    background-color: white;
    border: 1px solid #022538;
    width: 150px;
    display: block;
    @media only screen and (max-width : 800px)
    {

        small{
            font-size: 10px;
        }
        width: 100px;

    }
    @media only screen and (max-width : 683px)
    {

        small{
            font-size: 9px;
        }
        width: 80px;

    }
    @media only screen and (max-width : 600px)
    {

        small{
            font-size: 10px;
        }
        width: 100px;
        right: auto;
        left: 20px;

    }
  
}


.scrooll{
    overflow: auto;
}




.ocultar{
    display: none;
}

.marginImage{
    margin-top: 12px;
    margin-left: 25px;
}


.estiloextralink{
    border: 0 !important;
    background: transparent !important;
    color: #4cc1b0 !important;
    text-decoration: underline !important;
    max-width: 112px !important;
    text-align: center;
}


.selecciona{
    color: #619694 !important;
    border-color: #1EC1AF;
    background: #1EC1AF34;
}