<form [formGroup]="myForm" (ngSubmit)="enviarFormulario()">
    <input type="hidden" formControlName="domicilioId">

    <div class="row mt-3">
        <div class="col-10">
            <div class="form group row">

                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                    <label>Código postal *</label>
                    <input maxlength="5" #codigopostal formControlName="codigo" (focusout)="buscar(codigopostal.value)" type="text" class="form-control" [ngClass]="{'is-invalid':(f.codigo.errors?.required && submitEnviado) || f.codigo.errors?.pattern && f.codigo.touched}"
                        placeholder="">
                    <div *ngIf="f.codigo.errors?.required && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                    <div *ngIf="f.codigo.errors?.pattern && f.codigo.touched" class="invalid-feedback">
                        Código postal incorrecto, Formato númerico
                    </div>


                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                    <label>Entidad federativa *</label>
                    <input formControlName="estado" type="email" [ngClass]="{'is-invalid':f.estado.errors?.required && submitEnviado}" class="form-control disabled bg-light" placeholder="">
                    <div *ngIf="f.estado.errors?.required && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                    <label>Municipio o alcadía *</label>
                    <input formControlName="municipio" type="email" [ngClass]="{'is-invalid':f.municipio.errors?.required && submitEnviado}" class="form-control disabled bg-light" placeholder="">
                    <div *ngIf="f.municipio.errors?.required && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </div>
            </div>

            <div class="form group row ">
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                    <label>Colonia *</label>
                    <select formControlName="asentamientoId" name="" [ngClass]="{'is-invalid':f.asentamientoId.errors && submitEnviado}" class="form-control">
                        <option *ngFor="let item of domicilioCodigoPostal" [value]="item.asentamientoCpCons">{{item.asentamiento}}</option>
                    </select>
                    <div *ngIf="f.asentamientoId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-8">
                    <label>Calle *</label>
                    <input formControlName="calle" type="text" [ngClass]="{'is-invalid':f.calle.errors && submitEnviado}" class="form-control" placeholder="">
                    <div *ngIf="f.calle.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
            </div>

            <div class="form group row ">
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                    <label>Número exterior *</label>
                    <input formControlName="numExterior" type="text" name="" [ngClass]="{'is-invalid':f.numExterior.errors && submitEnviado}" class="form-control">
                    <div *ngIf="f.numExterior.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                    <label>Número interior</label>
                    <input formControlName="numInterior" type="email" class="form-control text-lowercase" placeholder="">

                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-12">
            <div class="text-right margin" style="margin-bottom: 20px;">
                <button (click)="cancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
                <button *ngIf="habGuardar" (click)="enviarFormulario()" class="btn btn-primary button-fill mr-2">Guardar</button>
                <button *ngIf="habContinua" type="submit" (click)="activarContunuar()" class="btn btn-primary button-fill">Continuar</button>
            </div>
        </div>
    </div>
</form>

<!--<table aria-hidden="true" *ngIf="listaSedeNuevo" class="table table-hover table-sm">

    <thead>
      <tr>
        <th scope="col " >  
            <div class="col-12 col-lg-12 text-right">
            <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i aria-hidden="true" class="fa fa-plus"></i> Agregar sede
            </button>
          </div>
        </th>
      </tr>
    </thead> 
  </table>-->

<div class="scrooll-designempresa">

    <div class="mt-3">
        <div class="row margen">
            <div class="col titulo">
                <label>RESULTADOS</label>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
            <i aria-hidden="true" class="fa fa-plus"></i> Agregar sede
          </button>
            </div>
        </div>
        <div class="row margen margen-tabla background-panel scrooll">
            <app-tablapaginado [datos]="arreglotabla" [editar]="true" [eliminar]="true" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
        </div>
    </div>


</div>
<!--<div *ngIf="listaSedeModificar" class="scrooll-designempresa">

    <div class="mt-3">
      <div class="row margen">
        <div class="col titulo">
          <label>RESULTADOS</label>
        </div>
        <div class="col text-right">
          <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
            <i aria-hidden="true" class="fa fa-plus"></i> Agregar sede
          </button>
        </div>
      </div>
      <div id="vetanaprincipaltabla"  class="row margen margen-tabla background-panel scrooll" style="position: relative;"  >

        <table aria-hidden="true" *ngIf="!cargando && arregloListaSede !== undefined" class="table table-hover table-sm">
           <thead>
             <tr>
               <th scope="col">Nombre de la sede</th>
               <th scope="col">Código postal</th>
               <th scope="col">Municipio o alcadía</th>
               <th scope="col">Entidad Federativa</th>
               <th scope="col ">Acciones</th>
             </tr>
           </thead>
           <tbody>
             <ng-container *ngFor="let item of arregloListaSede;let indice = index;">
               <tr>
                 <td>{{item.sedeNombre}} </td>
                 <td>{{item.codigoPostal}} </td>
                 <td>{{item.municipio}} </td>
                 <td>{{item.entidadFederativa}} </td>
                 <td class="opciones">
                   <button (click)="verdetalle(item)"><i aria-hidden="true" class="icon_editar primary-bg"></i></button>
                   <button (click)="eliminar(item)" ><i aria-hidden="true" class="icon_eliminar danger-bg"></i></button>
     
                 </td>
               </tr>
               </ng-container>
         
       
           </tbody>
         </table>
         <div *ngIf="cargando" class="col text-center mb-5">
          <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
        </div>
         <div *ngIf="!cargando && arregloListaSede === undefined" class="alert  col text-center">
           <strong>En este momento no existen registros</strong>
         </div>
      
       </div>
    </div>
    
    
    </div>-->