
    <div class="form-group mt-3 row margen"><label class="titulo">Preferencias</label></div>
<div class="row">
    <div class="col-9">
        <div class="form group row margen">

            <div *ngFor="let item of arregloPreferencias" class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>{{item.tipoPreferenciaId.descripcion}}</label>
                <input type="text" [(ngModel)]="item.valor" name=""  class="form-control">
            </div>
        </div>
        
      
        
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="text-right margin" style="margin-bottom: 20px;">

            <button (click)="cancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
            <button  type="button" (click)="enviarPreferencias()"  class="btn btn-primary button-fill">Guardar</button>
        </div>
    </div>
</div>
