

.button-outlet{
    background-color: transparent!important;
}




table{
    border-radius: 10px;
}

.margen-tabla table{
    margin:15px;
}


td{
    color:rgb(49, 49, 49);

    button{
        border: 0px solid black;
        margin-left: 2px;
    }
}


.acomodando{

    width: 100%;
    height: 100%;


    text-align: center;

    

}




.botonmultiseleccion{
    margin: auto;
    height: 59px;
}

.agrandarloading{
    width: 7em;
}


.scrooll{
    overflow: auto;
}

.btnPersonalizado{
    background-color: transparent;
    i{
        background-color: #00c1af !important;
    }
}


.contenedorDiv{
   
    .consulta{
        width: 100%;
        height: auto;
        left: 0;
        
    }
    
}


.ventanaemergente{
    z-index: 1;
    display: block;
    overflow: auto;
    padding: 4%;
    width: 50%;
    border-radius: 5px;
    border:1px solid rgb(102, 102, 102);
    height: auto;
    background-color: white !important;
    -webkit-box-shadow: 5px 2px 5px 1px rgba(0,0,0,0.42); 
box-shadow: 5px 2px 5px 1px rgba(0,0,0,0.42);
left:5%;

position: absolute;

.btnclosemodal{
    top: 0   !important;
    position: absolute  !important;
    right: 11px   !important;
    

    span{
        color: #56dfd4;
        font-size: x-large;
    }
}


}


.background-panel{
    height: unset;
    min-height: 350px;
}



