<div class="row margen">
    <div class="row "><label class="titulo">DOCUMENTOS</label></div>
</div>

<!-- <div class="row">

  <div class="form group row margen">
    <div class=" input-group-sm mb-3 col-12 col-md-8 col-lg-8">
      <select placeholder="Tipo de documento" name="" class="form-control" [(ngModel)]="idTipoDocumento" id="idTipoDocumentoDoc">
        <option value="0" selected>Selecciona tipo documento</option>
        <option *ngFor="let item of arregloDocumentos"  [value]="item.id">{{item.nombre}}
        </option>
      </select>
    </div>
    <div class=" input-group-sm mb-3 text-center col-12 col-sm-2 ">
      <button type="button" id="btnFiltarDocuemntos" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
    </div>

  </div>


</div>
 -->

<div class="scrooll-designempresa">
  <div class="mt-3">
      <div class="row margen">
          <div class="col titulo">
              <label>RESULTADOS</label>
          </div>
          <div class="col-11 text-right" style="margin-right: 42px !important;">
              <button type="button" class="btn btn-light button-outlet" (click)="agregar()">
                  Subir documento
              </button>
          </div>
      </div>
      <div class="row margen margen-tabla background-panel scrooll">
        <app-tablapaginado [datos]="arreglotabla" [descargar]="true" [editar]="!esKiosko" [eliminar]="!esKiosko" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
      </div>
  </div>
  
  <div class="row">
    <div class="col-11">
        <div class="text-right margin mr-4">
            <button (click)="concluir()" type="button" class="btn btn-primary button-outlet mr-2">Concluir</button>
        </div>
    </div>
</div>
</div>