<form [formGroup]="myForm" (ngSubmit)="enviarFormulario()">
    <div class="form-group mt-3 row margen"><label class="titulo">Datos bancarios</label></div>
    <div class="form group row margen">

        <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6 ">
          <input formControlName="stp" (click)="activar()" type="checkbox"  id="stp">
          <label for="stp">  Usar STP como medio de transferencia para el pago de nóminas</label>
        </div>
      <br>

      <div class="input-group-sm mb-3 col-8"></div>
        <div *ngIf="habGuardar" class="input-group-sm mb-3 col-5">
          <label>Cuenta STP *</label>
          <input formControlName="cuentaStp" maxlength="15" type="text" class="form-control"
          [ngClass]="{'is-invalid':f.cuentaStp.errors && submitEnviado}" placeholder="">
          <div *ngIf="submitEnviado && f.cuentaStp.errors" class="invalid-feedback">
            Cuenta STP obligatorio.
          </div>
        </div>
        
        <div *ngIf="habGuardar" class="input-group-sm mb-3 col-5">
          <label>Cuenta CLABE STP *</label>
          <input formControlName="clabeStp" maxlength="18" type="text" class="form-control"
          [ngClass]="{'is-invalid':f.clabeStp.errors && submitEnviado}" placeholder="">
          <div *ngIf="submitEnviado && f.clabeStp.errors" class="invalid-feedback">
            Cuenta STP obligatorio.
          </div>
        </div>


</div>

<div class="row">
    <div class="col-12">
        <div class="text-right margin" style="margin-bottom: 20px;">

            <button (click)="cancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
            <button *ngIf="habGuardar" (click)="enviarFormulario()" class="btn btn-primary button-fill mr-2">Guardar</button>
            <button (click)="activarCont()" type="submit" class="btn btn-primary button-fill">Continuar</button>
        </div>
    </div>
</div>
</form>
<table class="table table-hover table-sm">

  <thead>
    <tr>
      <th scope="col " >  
          <div class="col-12 col-lg-12 text-right">
          <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
            <i class="fa fa-plus"></i> Agregar cuenta bancaria
          </button>
        </div>
      </th>
    </tr>
  </thead> 
</table>