<div class="row mt-3">
    <div class="col-11 text-right">
        <a (click)="descargarDispersion()" class="botonestilo aparece-desktop estiloextralink"><small *ngIf="!cargandoIconDispersion"><i
                    class="fas fa-download"></i> Descargar dispersión</small>
            <div *ngIf="cargandoIconDispersion" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </a>
        <a class="botonestilo aparece-desktop estiloextralink"><small *ngIf="!cargandoIcon"><i
                    class="fas fa-download"></i> Descargar RFC's</small>
            <div *ngIf="cargandoIcon" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </a>
    </div>

</div>
<div class="row especialrow">
    <div class="col-6">
        <article>Empleados
            <article style="margin-left: 32px;">{{nominaSeleccionada.nominaOrdinaria?.empleados}}</article>
        </article>
    </div>
    <div class="col-2">
        <article>Percepciones
            <article>{{nominaSeleccionada.nominaOrdinaria?.percepciones | currency}}</article>
        </article>
    </div>
    <div class="col-2">
        <article>Deducciones
            <article>{{nominaSeleccionada.nominaOrdinaria?.deducciones | currency}}</article>
        </article>
    </div>
    <div class="col-2">
        <article>Total
            <article>{{nominaSeleccionada.nominaOrdinaria?.total | currency}}</article>
        </article>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-tablapaginado [datos]="arreglotabla" [cargando]="cargando" [checkbox]="true"
            (salida)="recibirTabla($event)"></app-tablapaginado>
    </div>
</div>

<div class="text-center margin" style="margin-bottom: 20px;">

    <button (click)="regresar()" class="btn btn-primary button-outlet mr-2">Regresar</button>
    <button (click)="dispersar()" class="btn btn-primary button-fill">Dispersar</button>
</div>