<router-outlet></router-outlet>

<div  id="ventanaEmergente" class="alertanotificacion fade-in">
   <div>
       <div class="cuerpo slide-in-blurred-top">
           <img src="../assets/imgs/check.png" alt="" srcset="">
           <div class="titulo">Nómina calculada</div>
           <div class="contenido">Lorem, ipsum dolor sit amet consectetur adipis</div>
           <div class="footer">
            <button type="button" (click)="esconder()" class="btn btn-light">Aceptar</button>
           </div>
       </div>
   </div>
</div>

