<router-outlet></router-outlet>

<div  id="ventanaEmergente" class="alertanotificacion fade-in">
   <div>
       <div id="cuerpoventanaEmergente" class="cuerpo slide-in-blurred-top">
           <img src="assets/imgs/check.png" alt="" srcset="">
           <div class="titulo">Nómina calculada</div>
           <div id="contenidoTituloVentanaEmergente" class="contenido"></div>
           <div class="footer">
            <button type="button" (click)="esconder()" class="btn btn-light">Aceptar</button>
           </div>
       </div>    
   </div>
</div>

