<div class="container">
  <div class="row">
    <div class="col-12 mr-3">
      <div id="accordion" class="acordion_desplegable">
        <div class="card" [ngClass]="{'cardselected':arreglopintar[0]}">
          <div [ngClass]="{'fondoblanco':arreglopintar[0]}" class="card-header" id="detallepago">
            <h5 class="mb-0">
              <button (click)="cambiarStatus(0)" class="btn btn-link" data-toggle="collapse"
                data-target="#detallepagocolapsar" aria-expanded="false" aria-controls="detallepago">

                Detalle pago
                <i *ngIf="!arreglopintar[0]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-up "></i>
                <i *ngIf="arreglopintar[0]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-down "></i>
              </button>
            </h5>
          </div>

          <div id="detallepagocolapsar" class="collapse" aria-labelledby="detallepago" data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-6">

                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td class="titulorow">Método de pago</td>
                        <td *ngIf="!metodopagobool">{{empleado?.metodoPagoId?.descripcion}}</td>
                        <td *ngIf="metodopagobool">
                          <select  [(ngModel)]="indexMetodoSeleccionado" (change)="cambiaValorMetodo()"  class="form-control">
                            <option *ngFor="let item of (arregloMetodosPago | async)?.datos"
                              [value]="item.metodoPagoId">{{item.descripcion}}</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td *ngIf="detalleCuenta" class="titulorow text-left">DETALLE DE LA CUENTA</td>
                      </tr>

                      <div *ngIf="detalleCuenta" class="row mb-4 text-left">

                        <article class="titulo  col">
                              Número de cuenta
                            <article >{{cuentaBanco?.numeroCuenta}}</article>
                        </article>
                          <article class="titulo  col">
                              Cuenta CLABE
                          <article >{{cuentaBanco?.clabe}}</article>
                        </article>
                      </div> 
                      <div *ngIf="detalleCuenta" class="row mb-4 text-left">
                        <article class="titulo  col">
                          Banco
                        <article >{{cuentaBanco?.bancoId?.nombreCorto}}</article>
                        </article>
                        <article class="titulo  col">
                            Número de ID cliente
                            <article >{{cuentaBanco?.numInformacion}}</article>
                        </article>

                      </div> 
  
                    </tbody>
                  </table>

                  <form *ngIf="metodopagobool && esTransferencia" [formGroup]="myFormMetodoPago" (ngSubmit)="enviandoMetodoPago()">
                    
                    <div class="form-group mt-3 row margen"><label class="titulo">DETALLE DE LA CUENTA</label></div>
                <div class="row">
                    <div class="col-10">
                        <div class="form group row  margen">
                            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                                <label>Número de cuenta *</label>
                                <input type="hidden" formControlName="cuentaBancoId">
                                <input appSolonumeros maxlength="10"  formControlName="numeroCuenta"  type="text" class="form-control" placeholder="" [ngClass]="{'is-invalid':f.numeroCuenta.errors && submitEnviado}">
                                <div *ngIf="f.numeroCuenta.errors && submitEnviado" class="invalid-feedback">
                                    Campo requerido
                                </div>
                
                
                            </div>
                            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                              <label>Cuenta CLABE *</label> 
                              <input #clabe (focusout)="validarBanco(clabe.value)" maxlength="18" formControlName="clabe" type="text" class="form-control" value=""
                                [ngClass]="{'is-invalid':(submitEnviado && f.clabe.errors?.required) || (f.clabe.errors?.pattern && f.clabe.touched)}"
                                placeholder="">
                              <div *ngIf="submitEnviado && f.clabe.errors?.required" class="invalid-feedback">
                                Campo requerido
                              </div>
                              <div *ngIf="f.clabe.errors?.pattern && f.clabe.touched" class="invalid-feedback">
                                La CLABE no es válida
                              </div>
                            </div>
                            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                              <label for="exampleFormControlSelect1">Banco *</label>
                              <select formControlName="csBanco" class="form-control disabled bg-light"
                                [ngClass]="{'is-invalid':f.csBanco.errors && submitEnviado}">
                                <option *ngFor="let item of (arreglobancos | async)?.datos" [value]="item.bancoId">{{item.nombreCorto}}</option>
                              </select>
                              <div *ngIf="submitEnviado && f.csBanco.errors" class="invalid-feedback">
                                Campo requerido
                              </div>
                            </div>
                            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                                <label>Número de ID cliente</label>
                                <input appSolonumeros formControlName="numInformacion"  type="text" class="form-control" placeholder="">
                
                
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-12">
                        <div class="text-right margin" style="margin-bottom: 20px;">
                    
                            <button (click)="cancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
                            <button  type="submit"  class="btn btn-primary button-fill">Guardar</button>
                        </div>
                    </div>
                </div>
                </form>

                </div>
                <div *ngIf="!metodopagobool" class="col-2"></div>
                <div class="col-4 text-right">
                  <button *ngIf="!metodopagobool" (click)="editandoMetodoPago(undefined)"
                    class="btn btn-primary button-fill">Editar</button>
                  <button *ngIf="metodopagobool && !esTransferencia" (click)="cancelar()"
                    class="btn btn-primary button-outlet mr-2">Cancelar</button>
                  <button *ngIf="metodopagobool && !esTransferencia" (click)="guardandometodoPago()"
                    class="btn btn-primary button-fill">Guardar</button>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" [ngClass]="{'cardselected':arreglopintar[1]}">
          <div class="card-header" id="compensacion">
            <h5 class="mb-0">
              <button (click)="cambiarStatus(1)" class="btn btn-link collapsed" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Detalle de compensación
                <i *ngIf="!arreglopintar[1]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-up "></i>
                <i *ngIf="arreglopintar[1]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-down "></i>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="compensacion" data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <form [formGroup]="myFormCompensacion" (ngSubmit)="enviarCompensacio()"></form>
                  <table class="table table-striped table-borderless">
                    <tbody>
                      <tr>
                        <td class="titulorow">Grupo de nómina</td>
                        <td *ngIf="!detallecompensacionbool">{{empleado?.grupoNominaId?.nombre}}</td>
                        <td *ngIf="detallecompensacionbool">

                          <select formControlName="grupoNominaId" name="" id="" class="form-control">
                            <option *ngFor="let item of (arreglogrupoNomina | async)?.datos" [value]="item.id">
                              {{item.nombre}}</option>
                          </select>

                        </td>
                      </tr>
                      <tr>
                        <td class="titulorow">Tipo de compensación</td>
                        <td *ngIf="!detallecompensacionbool">{{empleado.tipoCompensacionId?.descripcion}}</td>
                        <td *ngIf="detallecompensacionbool">
                          <select formControlName="tipoCompensacionId" name="" id="" class="form-control">
                            <option *ngFor="let item of (arregloCompensacion | async)?.datos"
                              [value]="item.tipoCompensacionId">{{item.descripcion}}</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="titulorow">Sueldo bruto mensual</td>
                        <td *ngIf="!detallecompensacionbool">{{empleado.sueldoBrutoMensual | currency}}</td>
                        <td *ngIf="detallecompensacionbool">
                          <input formControlName="sueldoBrutoMensual"  type="text" class="form-control">
                        </td>
                      </tr>
                      <tr>
                        <td class="titulorow">Salario Base de Cotización</td>
                        <td *ngIf="!detallecompensacionbool">{{empleado.sbc | currency}}</td>
                        <td *ngIf="detallecompensacionbool">
                          <input formControlName="sbc" type="text" class="form-control">
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="col-2"></div>
                <div class="col-4 text-right">
                  <button *ngIf="!detallecompensacionbool" (click)="verDetalleCompensacion()"
                    class="btn btn-primary button-fill">Editar</button>
                  <button *ngIf="detallecompensacionbool" (click)="cancelar()"
                    class="btn btn-primary button-outlet mr-2">Cancelar</button>
                  <button *ngIf="detallecompensacionbool" (click)="guardarDetalleCompensacion()"
                    class="btn btn-primary button-fill">Guardar</button>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" [ngClass]="{'cardselected':arreglopintar[2]}">
          <div class="card-header" id="percepciones">
            <h5 class="mb-0">
              <button (click)="cambiarStatus(2)" class="btn btn-link collapsed" data-toggle="collapse"
                data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                Percepciones específicas
                <i *ngIf="!arreglopintar[2]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-up "></i>
                <i *ngIf="arreglopintar[2]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-down "></i>
              </button>
            </h5>
          </div>
          <div id="collapsefour" class="collapse" aria-labelledby="percepciones" data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-12">

                  <div class="row margen">
                    <div class="col titulo">
                      <label>RESULTADOS</label>
                    </div>
                    <div class="col text-right">
                      <button type="button" class="btn btn-light button-outlet" (click)="agregarPer()">
                        <i class="fa fa-plus"></i> Agregar percepción
                      </button>
                    </div>
                  </div>
                  <div class="row margen margen-tabla background-panel">
                    <app-tablapaginado [datos]="arreglotablaPert" [editar]="true" [cargando]="cargandoPer" (salida)="recibirTabla($event)">
                    </app-tablapaginado>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" [ngClass]="{'cardselected':arreglopintar[3]}">
          <div class="card-header" id="deducciones">
            <h5 class="mb-0">
              <button (click)="cambiarStatus(3)" class="btn btn-link collapsed" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                Deducciones específicas
                <i *ngIf="!arreglopintar[3]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-up "></i>
                <i *ngIf="arreglopintar[3]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-down "></i>
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="deducciones" data-parent="#accordion">
            <div class="card-body">
              <!--<table class="table table-borderless">
                <tbody>

                  <tr>

                    <td style="color:  #00DED4">IMSS</td>
                    <td class="titulorow">Período</td>
                    <td>Mensual</td>

                  </tr>
                  <tr>

                    <td style="color:  #00DED4">ISR</td>
                    <td class="titulorow">Período</td>
                    <td>Mensual</td>

                  </tr>

                </tbody>
              </table>-->
              
              <!--<div class="container">
                <div class="row">
                  <div class="col-12">
                    <div class="accordion" id="acordion2">
                      <div class="card">
                        <div class="card-header" id="personal">
                          <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                              data-target="#personalacordion" aria-expanded="false" aria-controls="collapseOne">
                              Pensión Alimenticia
                            </button>
                          </h5>
                        </div>

                        <div id="personalacordion" class="collapse" aria-labelledby="personal" data-parent="#acordion2">
                          <div class="card-body">


                            <div class="row">
                              <div class="col-6">

                                <table class="table table-striped table-borderless">
                                  <tbody>
                                    <tr>
                                      <td class="titulorow">Fecha de inicio de descuento</td>
                                      <td>06-ene.-2021</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Fecha de demanda</td>
                                      <td>06-ene.-2021</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Estado</td>
                                      <td>Activa</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                              <div class="col-6">

                                <table class="table table-striped table-borderless">
                                  <tbody>
                                    <tr>
                                      <td class="titulorow">Valor de descuento</td>
                                      <td>12%</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Número de folio</td>
                                      <td>62574465</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="infonavit">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                              data-target="#infonavitcolapse" aria-expanded="false" aria-controls="collapseTwo">
                              INFONAVIT
                            </button>
                          </h5>
                        </div>
                        <div id="infonavitcolapse" class="collapse" aria-labelledby="infonavit"
                          data-parent="#acordion2">
                          <div class="card-body">

                            <div class="row">
                              <div class="col-6">

                                <table class="table table-striped table-borderless">
                                  <tbody>
                                    <tr>
                                      <td class="titulorow">Fecha de inicio de descuento</td>
                                      <td>06-nov.-2020</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Fecha fin de descuento</td>
                                      <td>06-mar.-2021</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Número de crédito</td>
                                      <td>3342</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Número de cuotas</td>
                                      <td>3</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Estado</td>
                                      <td>Activa</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                              <div class="col-6">

                                <table class="table table-striped table-borderless">
                                  <tbody>
                                    <tr>
                                      <td class="titulorow">Tipo de descuento</td>
                                      <td>Valor de descuento Infonavit 2020</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Valor de descuento</td>
                                      <td>12 x valor descuento Infonavit 2020</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Aviso de retención</td>
                                      <td><a href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Aviso de suspensión</td>
                                      <td><a href="">Ver más</a></td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="unfonacot">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                              data-target="#unfonacotcolapse" aria-expanded="false" aria-controls="collapseThree">
                              INFONACOT
                            </button>
                          </h5>
                        </div>
                        <div id="unfonacotcolapse" class="collapse" aria-labelledby="unfonacot"
                          data-parent="#acordion2">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-6">

                                <table class="table table-striped table-borderless">
                                  <tbody>
                                    <tr>
                                      <td class="titulorow">Fecha de inicio de descuento</td>
                                      <td>06-ene.-2021</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Fecha de otorgamiento del préstamo</td>
                                      <td>06-feb.-2021</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Monto de préstamo</td>
                                      <td>$23,232.00</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Número de cuotas</td>
                                      <td>3</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Interés</td>
                                      <td>3%</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                              <div class="col-6">

                                <table class="table table-striped table-borderless">
                                  <tbody>
                                    <tr>
                                      <td class="titulorow">Monto de cada pago</td>
                                      <td>$7,122.00</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Referencia</td>
                                      <td>123456</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Estado</td>
                                      <td>Activa</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Monto pagado</td>
                                      <td>$0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Saldo a pagar</td>
                                      <td>$23,232.00</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="card">
                        <div class="card-header" id="personalalimenticia">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                              data-target="#personalalimenticiacollapse" aria-expanded="false"
                              aria-controls="collapseThree">
                              Préstamo personal
                            </button>
                          </h5>
                        </div>
                        <div id="personalalimenticiacollapse" class="collapse" aria-labelledby="personalalimenticia"
                          data-parent="#acordion2">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-6">

                                <table class="table table-striped table-borderless">
                                  <tbody>
                                    <tr>
                                      <td class="titulorow">Fecha de inicio de descuento</td>
                                      <td>06-nov.-2020</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Fecha de otorgamiento del préstamo</td>
                                      <td>06-ene.-2021</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Interés</td>
                                      <td>3%</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Referencia</td>
                                      <td>12345</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Estado</td>
                                      <td>Activa</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                              <div class="col-6">

                                <table class="table table-striped table-borderless">
                                  <tbody>
                                    <tr>
                                      <td class="titulorow">Monto de préstamo</td>
                                      <td>$7,122.00</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Número de cuotas</td>
                                      <td>3</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Monto de cada pago</td>
                                      <td>$7,975.56</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Monto pagado</td>
                                      <td>$0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="titulorow">Saldo a pagar</td>
                                      <td>$23,232.00</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>-->

              <div class="row">
                <div class="col-12">

                  <div class="row margen">
                    <div class="col titulo">
                      <label>RESULTADOS</label>
                    </div>
                    <div class="col text-right">
                      <button type="button" class="btn btn-light button-outlet" (click)="agregarDed()">
                        <i class="fa fa-plus"></i> Agregar deducción
                      </button>
                    </div>
                  </div>
                  <div class="row margen margen-tabla background-panel">
                    <app-tablapaginado [datos]="arreglotablaDedt"
                    [editar]="true" [cargando]="cargandoDed" (salida)="recibirTabla($event)">
                  </app-tablapaginado>
                  </div>


                </div>
              </div>



            </div>
          </div>
        </div>
        <!--<div class="card" [ngClass]="{'cardselected':arreglopintar[4]}">
          <div class="card-header" id="recibospago">
            <h5 class="mb-0">
              <button (click)="cambiarStatus(4)" class="btn btn-link collapsed" data-toggle="collapse"
                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                Recibos de pago
                <i *ngIf="!arreglopintar[4]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-up "></i>
                <i *ngIf="arreglopintar[4]" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" class="fas fa-chevron-down "></i>
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="recibospago" data-parent="#accordion">
            <div class="card-body">


              <div class="row">
                <div class="col-12 text-center">


                  <table class="table table-hover">
                    <thead>

                      <tr>
                        <th>Nombre</th>
                        <th>Mes</th>
                        <th>Día pago</th>
                        <th>Descargar</th>
                      </tr>

                    </thead>
                    <tbody>

                      <tr>
                        <td>Nómina Semanal Solusoft</td>
                        <td>Octubre</td>
                        <td>14-ene.-2021</td>
                        <td></td>
                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>


            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>



<app-alertas></app-alertas>