<div class="row titulosfijos margen">
    <div class="col titulo-outlet">
      <label>{{titulo}}</label>
    </div>
  </div>

<ul class="nav nav-tabs" id="myTab" role="tablist" id="navegadorTabs">
    <li class="nav-item " routerLinkActive="active" >
        <a class="nav-link" id="bajaid" data-toggle="tab"  role="tab" aria-controls="profile"
        routerLink="representantelegal"    >Representante legal</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" id="bajaid" data-toggle="tab" href="#baja" role="tab" aria-controls="profile"
             routerLink="contactosrrh">Contactos RRHH</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" id="bajaid" data-toggle="tab" href="#baja" role="tab" aria-controls="profile"
             routerLink="cuentasbancarias">Cuentas bancarias</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" id="bajaid" data-toggle="tab" href="#baja" role="tab" aria-controls="profile"
        routerLink="area">Administración puestos </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" id="bajaid" data-toggle="tab" href="#baja" role="tab" aria-controls="profile"
        routerLink="politicas">Administración políticas</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a routerLink="gruposnomina"  class="nav-link" >Grupos de nómina</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a routerLink="jornadalaboral"  class="nav-link" >Jornada laboral</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a routerLink="conceptos"  class="nav-link" >Conceptos</a>
    </li>
</ul>

    <router-outlet></router-outlet>
