<div class="row titulosfijos mb-5 ml-2 mr-2" style="background-color: transparent;">
    <div class="col titulo-outlet">
        <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa"><button disabled>
            <img src="assets/imgs/menu.png" alt="" srcset="">
        </button></div>

        <label>FINIQUITO/LIQUIDACIÓN</label>
    </div>
</div>


<div class="row ml-1">
    <div class="col text-left">
        <button *ngIf="esRegistrar" type="button" class="btn btn-light button-outlet" (click)="agregar()">
            <i aria-hidden="true" class="icon_24agregar primary-bg"></i> Nueva nómina
        </button>
    </div>
</div>


<div class="scrooll-design">

    <div class="row   m-2 background-panel fade-in" *ngFor="let item of arreglo; let indice = index;">
        <div class="col-6 mt-3">
            <article>{{item.nominaLiquidacion?.nombreNomina}}
                <article>Período De {{item.nominaLiquidacion?.fechaInicio | date:'dd MMM'}} hasta {{item.nominaLiquidacion?.fechaFin | date:'dd MMM'}}</article>
                <article>Clave: {{item.nominaLiquidacion?.clavePeriodo}}</article>
            </article>

        </div>
        <div class="col-6 mt-2">
            <table aria-hidden="true" *ngIf="!item.inicial" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th id="">Empleados</th>
                        <th id="">Percepciones</th>
                        <th id="">Deducciones</th>
                        <th id="">Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{item.nominaLiquidacion?.numEmpleados}}</td>
                        <td>{{item.nominaLiquidacion?.totalPercepciones | currency}}</td>
                        <td>{{item.nominaLiquidacion?.totalDeducciones | currency}}</td>
                        <td>{{item.nominaLiquidacion?.totalNeto | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-9 segundaseccion" style="    border-bottom-left-radius: 20px;">
            <div *ngIf="!item.inicial" class="col-12 margennav">

                <nav aria-label="cosmonaut" class="nav-inside">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a *ngIf="esCalcular" class="nav-item nav-link" [class.activado]="item.esCalculada || item.esPagada || item.esTimbrada || item.esConcluir" id="nav-home-tab" role="tab" aria-controls="nav-home" aria-selected="true">1. Calcular</a>
                        <a *ngIf="esDispersar" class="nav-item nav-link " [class.activado]="item.esPagada || item.esTimbrada || item.esConcluir" id="nav-profile-tab" role="tab" aria-controls="nav-profile" aria-selected="false">2. Dispersar</a>
                        <a *ngIf="esTimbrar" class="nav-item nav-link " [class.activado]="item.esTimbrada || item.esConcluir" id="nav-contact-tab" role="tab" aria-controls="nav-empleo" aria-selected="false">3. Timbrar</a>
                        <a class="nav-item nav-link " id="nav-contact-tab" [class.activado]="item.esConcluir" role="tab" aria-controls="nav-detalle" aria-selected="false">4. Completar</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                    </div>
                    <div class="tab-pane fade" id="nav-empleo" role="tabpanel" aria-labelledby="nav-empleo-tab">

                    </div>
                    <div class="tab-pane fade" id="nav-detalle" role="tabpanel" aria-labelledby="nav-detalle-tab">
                    </div>
                </div>
            </div>
            <a *ngIf="esEliminar" (click)="eliminar(item.nominaLiquidacion,indice)" style="color:#56dfd4;text-decoration: underline;" class="dropdown-toggle mt-3">
                <i aria-hidden="true" style="background-color: #56dfd4 !important;" class="icon_eliminar "></i> Eliminar
            </a>

        </div>
        <div class="col-3 text-right segundaseccion" style="    border-bottom-right-radius: 20px;">
            <button *ngIf="((!item.inicial || item.nominaLiquidacion.estadoProcesoNominaId==3) && esConsultar)" (click)="continuar(item)" class="btn btn-primary button-fill mr-2 mt-2">Continuar</button>
            <button *ngIf="(item.nominaLiquidacion.estadoProcesoNominaId==0 && esCalcular)" (click)="calcularNomina(item)" type="button" class="btn btn-primary button-outlet mr-2 mt-2">Calcular</button>
            <button *ngIf="item.estadoPensando" [class.bgerror]="item.nominaLiquidacion.estadoProcesoNominaId==4" (click)="vermensaje(item)" type="button" class="btn btn-primary button-outlet mr-2 mt-2">{{item.nominaLiquidacion?.estadoProcesoDescripcion}}</button>
        </div>

    </div>
    <div class="row   m-2 background-panel ">
        <div *ngIf="cargando" class="col text-center mb-5">
            <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
        </div>
        <div *ngIf="!cargando && arreglo == undefined" class="alert  col text-center">
            <strong>En este momento no existen nóminas activas</strong>
        </div>
    </div>

</div>