<br><br>
 <form  [formGroup]="myFormpol" (ngSubmit)="enviarPeticion()">
  
    <input type="hidden" formControlName="politicaId">
  
    <div class="background-panel margen">
      <br>
        <div class="form-group row margen">
          <label class="titulo">INFORMACIÓN DE POLITÍCA</label></div>
        <div class="form group row margen">
  
            <div class="  input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
              <label >Nombre *</label>
              <input #nombre formControlName="nombre" maxlength="64" type="text" class="form-control" [ngClass]="{'is-invalid':f.nombre.errors && submitEnviado}"  placeholder="">
              <div *ngIf="f.nombre.errors && submitEnviado" class="invalid-feedback">
                  Campo requerido
                </div>
    
            </div>
            <div class="  input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
              <label >Días económicos *</label>
              <input formControlName="diasEconomicos" type="text" class="form-control" [ngClass]="{'is-invalid':f.diasEconomicos.errors && submitEnviado}"
                  placeholder="">
                  <div *ngIf="f.diasEconomicos.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                    </div>
    
            </div>
          <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <input formControlName="primaAniversario" type="checkbox" name="" id="primaAniversario">
            <label for="primaAniversario"> Prima vacacional al aniversario</label>
          </div>

          <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <input formControlName="descuentaFaltas" type="checkbox" name="" id="descuentaFaltas">
            <label for="descuentaFaltas"> Se descuentan faltas</label>
          </div>
          <div class="input-group-sm mb-3 col-6 col-sm-6 col-lg-6">
            <input formControlName="descuentaIncapacidades" type="checkbox" name="" id="descuentaIncapacidades">
            <label for="descuentaIncapacidades"> Se descuentan incapacidades</label>
          </div>
          <div class="input-group-sm mb-4 col-6 col-sm-6 col-lg-6">
            <input formControlName="costoValesRestaurante" type="checkbox" name="" id="costoValesRestaurante">
            <label for="costoValesRestaurante"> Costo vales de restaurante</label>
          </div>
          <div class="input-group-sm mb-3 col-6 col-sm-6 col-lg-6">
            <input formControlName="descuentoPropDia" type="checkbox" name="" id="descuentoPropDia">
            <label for="descuentoPropDia"> Descuento proporción séptimo día</label>
          </div>
          <div  class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <label>Cálculos en base a :</label><br>
            <input [ngClass]="{'is-invalid':f.calculoAntiguedadx.errors && submitEnviado}" value="antiguedad" formControlName="calculoAntiguedadx" type="radio" name="calculoAntiguedadx" id="">Fecha de antigüedad <br>
            <input [ngClass]="{'is-invalid':f.calculoAntiguedadx.errors && submitEnviado}" value="contrato" formControlName="calculoAntiguedadx" type="radio" name="calculoAntiguedadx" id="">Fecha de inicio de contrato
            <div *ngIf="submitEnviado && f.calculoAntiguedadx.errors" class="invalid-feedback">
              Campo requerido
            </div>
          </div>
  
        </div>
    
    
    </div>
  
    <div class="text-center margin" style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red" (eventoFunciones)="redirect($event)"(click)="redirect(undefined)" >Cancelar</button>
      <button type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
  </div>   
  
  </form>
  
  <app-alert-questions *ngIf="modal" [titulo]="strTitulo" [iconType]="iconType"    (eventoFunciones)="recibir($event)"></app-alert-questions>
