<br><br>
 <form  [formGroup]="myFormpol" class="form-desing" (ngSubmit)="enviarPeticion()">
  
    <input type="hidden" formControlName="politicaId">
  
    <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="340">
      <br>
        <div class="form-group row margen">
          <label class="titulo">INFORMACIÓN DE POLITÍCA</label></div>
        <div class="form group row margen">
  
            <div class="  input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
              <label >Nombre *</label>
              <input #nombre formControlName="nombre" maxlength="64" type="text" class="form-control" [ngClass]="{'is-invalid':f.nombre.errors && submitEnviado}"  placeholder="">
              <div *ngIf="f.nombre.errors && submitEnviado" class="invalid-feedback">
                  Campo requerido
                </div>
            </div>
            <div class="  input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
              <label >Días económicos *</label>
              <input appSolonumeros formControlName="diasEconomicos" type="text" class="form-control" [ngClass]="{'is-invalid':f.diasEconomicos.errors && submitEnviado}"
                  placeholder="">
                  <div *ngIf="f.diasEconomicos.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                    </div>
    
            </div>
          <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <label class="contenedorInputCheckRadio">Prima vacacional al aniversario
              <input formControlName="primaAniversario" type="checkbox" name="" id="primaAniversario">
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <label class="contenedorInputCheckRadio">Se descuentan faltas
              <input formControlName="descuentaFaltas" type="checkbox" name="" id="descuentaFaltas">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="input-group-sm mb-3 col-6 col-sm-6 col-lg-6">
            <label class="contenedorInputCheckRadio">Se descuentan incapacidades
              <input formControlName="descuentaIncapacidades" type="checkbox" name="" id="descuentaIncapacidades">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="input-group-sm mb-4 col-6 col-sm-6 col-lg-6">
            <label class="contenedorInputCheckRadio">Costo vales de restaurante
              <input formControlName="costoValesRestaurante" type="checkbox" name="" id="costoValesRestaurante">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="input-group-sm mb-3 col-6 col-sm-6 col-lg-6">
            <label class="contenedorInputCheckRadio">Descuento proporción séptimo día
              <input formControlName="descuentoPropDia" type="checkbox" name="" id="descuentoPropDia">
              <span class="checkmark"></span>
            </label>
          </div>
          <div  class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <label>Cálculos en base a :</label><br>

            <label class="contenedorInputCheckRadio"> Fecha de antigüedad
              <input  value="antiguedad" formControlName="calculoAntiguedadx"  type="radio" name="calculoAntiguedadx" id="">
              <span class="radiomark"></span>
            </label>

            <label class="contenedorInputCheckRadio"> Fecha de inicio de contrato
              <input value="contrato" formControlName="calculoAntiguedadx" type="radio" name="calculoAntiguedadx" id="">
              <span class="radiomark"></span>
            </label>
            
          </div>
  
        </div>
    
    
    </div>
  
    <div class="text-center margin" style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red" (eventoFunciones)="redirect($event)"(click)="redirect(undefined)" >Cancelar</button>
      <button type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
  </div>   
  
  </form>
