<br><br>
 <form  [formGroup]="myFormpol" (ngSubmit)="enviarPeticion()">
  
    <input type="hidden" formControlName="politicaId">
  
    <div class="background-panel margen">
      <br>
        <div class="form-group row margen">
          <label class="titulo">INFORMACIÓN DE POLITÍCA</label></div>
        <div class="form group row margen">
  
            <div class="  input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
              <label >Nombre *</label>
              <input formControlName="nombre" type="text" class="form-control" [ngClass]="{'is-invalid':f.nombre.errors && f.nombre.touched}"  placeholder="">
              <div *ngIf="f.nombre.errors && f.nombre.touched" class="invalid-feedback">
                  Favor de ingresar nombre
                </div>
    
            </div>
            <div class="  input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
              <label >Días económicos *</label>
              <input formControlName="diasEconomicos" type="text" class="form-control" [ngClass]="{'is-invalid':f.diasEconomicos.errors && f.diasEconomicos.touched}"
                  placeholder="">
                  <div *ngIf="f.diasEconomicos.errors && f.diasEconomicos.touched" class="invalid-feedback">
                      Favor de ingresar días económicos
                    </div>
    
            </div>
          <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <input formControlName="primaAniversario" type="checkbox" name="" id="primaAniversario">
            <label for="primaAniversario"> Prima vacacional al aniversario</label>
          </div>

          <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <input formControlName="descuentaFaltas" type="checkbox" name="" id="descuentaFaltas">
            <label for="descuentaFaltas"> Se descuentan faltas</label>
          </div>
          <div class="input-group-sm mb-3 col-6 col-sm-6 col-lg-6">
            <input formControlName="descuentaIncapacidades" type="checkbox" name="" id="descuentaIncapacidades">
            <label for="descuentaIncapacidades"> Se descuentan incapacidades</label>
          </div>
          <div class="input-group-sm mb-4 col-6 col-sm-6 col-lg-6">
            <input formControlName="costoValesRestaurante" type="checkbox" name="" id="costoValesRestaurante">
            <label for="costoValesRestaurante"> Costo vales de restaurante</label>
          </div>
          <div class="input-group-sm mb-3 col-6 col-sm-6 col-lg-6">
            <input formControlName="descuentoPropDia" type="checkbox" name="" id="descuentoPropDia">
            <label for="descuentoPropDia"> Descuento proporción séptimo día</label>
          </div>
          <div  class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
            <label>Cálculos en base a :</label><br>
            <input  value="C" formControlName="calculoAntiguedadx"  type="radio" name="" id="calculoAntiguedadx"> Fecha de antigüedad<br>
            <input  value="A" formControlName="calculoAntiguedadx" type="radio" name="calculoAntiguedadx" id=""> Fecha de inicio de contrato
          </div>
  
        </div>
    
    
    </div>
  
    <div class="text-center margin" style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red" (eventoFunciones)="redirect($event)"(click)="redirect(undefined)" >Cancelar</button>
      <button [disabled]="!myFormpol.valid" type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
  </div>   
  
  </form>
  
  <app-alert-questions *ngIf="modal" [titulo]="strTitulo" [iconType]="iconType" [subtitulo]="strsubtitulo"   (eventoFunciones)="recibir($event)"></app-alert-questions>
