<div style="height: 100px; background-color: var(--principal);" class="text-center">

    <div class="containerimg">
        <img src="assets/icons/ICO_Alert.svg" width="75px" height="75px" alt="" srcset="">
    </div>
</div>
<div class="row" style="
margin-top: 40px;">
    <div class="col-12">
        <div class="form group row">
          <div class="col-12 ">
            <div style = "padding-left: 54px;" class=" input-group-sm mb-3 col-12">
              <label style="margin-left: 28px; color:var(--principal)">Cambiar foto de perfil</label>
              <app-subirarchivo [cargando]="cargandoImg" (emiteimagen)="recibirImagen($event)" [recibiendoImagen]="obj.url"></app-subirarchivo>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="text-center margin" style="margin-bottom: 20px;">

    <button (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
    <button (click)="aceptar()" class="btn btn-primary button-fill">Guardar</button>
</div>
