table{
    width: 100%;
    text-align: center;
    color: rgb(141, 141, 141);
    border:1px solid #e6e8e9;
    
    
        th{
         border:0px solid white;
         background-color: white;
         width: 100vw;
        }
    

  td{
      background-color: white;
      border:1px solid #e6e8e9;
      height: 140px;
  }
  td:hover{
    background-color: rgb(245, 245, 245);
}

  .noEsDia{
    background: #eeeeee !important;
    color: rgb(161, 161, 161);
  }

  .diaActual{
      border-radius: 50% ;
      background-color:#00DED4 !important;
      color:white !important;
      padding: 10px;

  }
  .tdActual{
    background-color: #00ded323  !important;
  }

  .posicion{
      position:relative;
  }

  .absolutoClass{
      position: absolute;
      top:0;
      left: 0;
      right:0;
      padding: 9px;
  }

  .evento{
     
      color:white;
      border-radius: 25px;
      font-size: 10px;
      cursor: pointer;
      margin-bottom: 2px;
  }

  .vacaciones{
    background-color:#67bf89 !important; 
  }
  .cumpleanios{
    background-color:#4cc1b0 !important;
  }
  .diaseconomicos{
    background-color: #5db2c9 !important;
  }
  .faltas{
      background-color: #7973ba !important;
  }
  .horasextras{
      background-color: #deaa57 !important;
  }
  .incapacidades{
      background-color: #e17b5b !important;
  }
  .aniversario{
    background-color: #6D9FBA !important;
  }

  .otros{
    background-color: #a31616;
  }

  .evento:hover{

    background-color: rgb(76, 182, 81);
}
}


.modalita{
    position: fixed;
    width: 250px;
    height: 250px;
    
    color:white;
    border-radius: 25px;
  .cuerpo{
      margin: 20px;

  }



 


}


.form-control{
  color:rgb(129, 129, 129)!important;
}