<div class="m-1">
    <div class="row m-2">

        <div class="col-8">

            <span (click)="anteriorMes()" class="primary cursor">
                <i aria-hidden="true" class="fas fa-chevron-left" style="cursor: pointer;"></i>
            </span><span class="primary ml-5 mr-5">
                {{(fecha | date:'MMMM' | uppercase)?.replace('.','')}} {{fecha | date:'yyyy'}}
            </span><span (click)="siguienteMes()" class="primary cursor"><i aria-hidden="true" class="fas fa-chevron-right "
                    style="cursor: pointer;"></i></span>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table aria-hidden="true" aria-describedby="calendario">
                <thead>
                    <th id="">Dom</th>
                    <th id="">Lun</th>
                    <th id="">Mar</th>
                    <th id="">Mie</th>
                    <th id="">Jue</th>
                    <th id="">Vie</th>
                    <th id="">Sab</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arregloArreglos">
                        <td class="posicion fade-in " [ngClass]="{'noEsDia':!aux.mesActual,'tdActual':aux.esDiaNow}" *ngFor="let aux of item"><span class="absolutoClass"><span
                                    [ngClass]="{'diaActual':aux.esDiaNow}">{{aux.dia}}</span></span>

                            <div style="width: 100%; min-height: 16px;" (click)="aparecerModalEvento(evento,$event)" *ngFor="let evento of aux.eventos" class="evento otros" [ngClass]="{'aniversarios':evento.tipoIncidenciaId == 'aniversario','cumpleanios':evento.tipoIncidenciaId == 8,'faltas':evento.tipoIncidenciaId == 5,'diaseconomicos':evento.tipoIncidenciaId == 2,'vacaciones':evento.tipoIncidenciaId == 1,'horasextras':evento.tipoIncidenciaId == 13 || evento.tipoIncidenciaId == 14,'incapacidades':evento.tipoIncidenciaId == 3,'descansolaborados':evento.tipoIncidenciaId == 11}">
                                {{evento.nombre}}
                            </div>


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>


<div *ngIf="aparecerModalita" [style.top]="top+'px'" [style.background-color]="eventoActual.color" [style.left]="left+'px'" class="modalita flip-in-hor-bottom ">
    <button style="color:white" (click)="aparecerModalita = false" type="button" class="close btnclosemodal mr-2" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="cuerpo">
        <span style="color:white;font-size: small;">{{eventoActual.incidenciaDescripcion}}</span> <br>
        <span style="    color: white;
    font-size: large;
">{{eventoActual.nombre}}</span> <br>

        <span style="color:white;font-size: small;">Dias: {{eventoActual.duracion}}</span> <br>
        <span style="color:white;font-size: small;">Fecha inicio: {{eventoActual.fechaInicio | date:'yyyy MMM dd'}}</span><br>
        <span style="color:white;font-size: small;">Fecha termino: {{eventoActual.fechaTermino | date:'yyyy MMM dd'}}</span><br>
        <span style="color:white;font-size: small;">Fecha aplicación: {{eventoActual.fechaAplicacion | date:'yyyy MMM dd'}}</span><br>
        <span style="color:white;font-size: small;">Monto: {{eventoActual.monto}}</span><br>
        <span style="color:white;font-size: small;">Politica aplicación: {{eventoActual.politicaNombre }}</span><br>
        <span style="color:white;font-size: small;">Comentario: {{eventoActual.comentarios }}</span>
        <br>
        <div style="width: 100%; text-align: center;">
            <button (click)="aparecerModalita = false" style="background-color: white; color:black" class="btn btn-primary button-outlet mr-2">Cerrar</button>
        </div>
    </div>
</div>