article{
    font-size: medium;
    font-weight: bold;
    article{
        font-size: smaller;
        font-weight: normal;
        color:gray;
        
    }
}

.background-panel{
    background-color: white;
}


.segundaseccion{
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #f5f5f5;
}

table{
    td,tr{
        text-align: center;
    }
}





.bgerror{
    background: #e94646 ;    
    width: 98px;
    color: white !important;
    border: 0px;
}