<form [formGroup]="myForm" (ngSubmit)="enviarPeticion()">
    <div class="form-group row">
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Nombre de la nómina *</label>
            <input formControlName="nombreNomina"  [class.is-invalid]="f.nombreNomina.errors && f.nombreNomina.touched" type="text" name=""  class="form-control">
            <div *ngIf="f.nombreNomina.errors && f.nombreNomina.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Tipo de nómina *</label>
            <select  [class.is-invalid]="f.tipoNominaId.errors && f.tipoNominaId.touched" formControlName="tipoNominaId" class="form-control">
                <option *ngFor="let item of arregloTipoNominas" [value]="item.tipoNominaId">
                    {{item.descripcion}}
                </option>
            </select>
            <div *ngIf="f.tipoNominaId.errors && f.tipoNominaId.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Razón social *</label>
            <select [class.is-invalid]="f.centrocClienteId.errors && f.centrocClienteId.touched" formControlName="centrocClienteId" class="form-control">
                <option *ngFor="let item of arregloCompanias" [value]="item.centrocClienteId">
                    {{item.nombre}}
                </option>
            </select>
            <div *ngIf="f.centrocClienteId.errors && f.centrocClienteId.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Cuenta bancaria *</label>
            <select [class.is-invalid]="f.clabe.errors && f.clabe.touched" formControlName="clabe" class="form-control">
                <option *ngFor="let item of arregloCuentasBancarias" [value]="item.clabe">
                   {{item.descripcion}}
                </option>
            </select>
            <div *ngIf="f.clabe.errors && f.clabe.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div *ngIf="seleccionarUsuariosCheck" class="input-group-sm mb-3 col-6">
            <div>
                <label>Selecciona empleados *</label>
                <div >

                    <label class="contenedorInputCheckRadio">Incluir todos los empleados
                        <input formControlName="seleccionarempleados"
                             name="seleccionarempleados" type="radio"
                           value = "1">
                        <span class="radiomark"></span>
                    </label>

                    <label class="contenedorInputCheckRadio">Incluir algunos empleados
                        <input formControlName="seleccionarempleados"
                             name="seleccionarempleados" type="radio"
                           value = "2">
                        <span class="radiomark"></span>
                    </label>

                
                 
                </div>

            </div>
        </div>
        <div *ngIf="mostrarAlgunosEmpleados" class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Empleados *</label>
            <select formControlName="personaId" class="form-control">
                <option *ngFor="let item of arregloEmpleados" [value]="item.personaId">
                     {{item.nombre}} {{item.apellidoPaterno}}
                </option>
            </select>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Fecha de inicio *</label>
            <input [class.is-invalid]="f.fechaIniPeriodo.errors && f.fechaIniPeriodo.touched" formControlName="fechaIniPeriodo"  type="date" name=""  class="form-control">
            <div *ngIf="f.fechaIniPeriodo.errors && f.fechaIniPeriodo.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Fecha de fin *</label>
            <input formControlName="fechaFinPeriodo" #fechafin [class.is-invalid]="f.fechaFinPeriodo.errors && f.fechaFinPeriodo.touched" type="date" name=""  class="form-control">
            <div *ngIf="f.fechaFinPeriodo.errors && f.fechaFinPeriodo.touched" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
        <div class="input-group-sm mb-3 col-6">
            <label for="exampleFormControlSelect1">Moneda *</label>
            <select class="form-control">
                <option value="">
                    Tipos de moneda
                </option>
            </select>
        </div>
    </div>
    <div class="text-right margin" style="margin-bottom: 20px;">
    
        <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
        <button type="submit"  class="btn btn-primary button-fill">Guardar</button>
    </div>
    
</form>
