.margen{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.titulo{
    margin-top: 1em;
}

.tablapropiedadstatus{
    width: 80%;
    margin: auto;
    margin-bottom: 5em;
}




