.contenedor{
  background: white;
  height: auto;

  border-radius: 3px;
  border: 1px solid #ced4da;
  input{
      border:0;
  }
  
  *:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

&:focus-within {
    border: thin solid #5ea2dd;
    -webkit-box-shadow: 2px 0px 12px 0px #5ea2dd;
    -moz-box-shadow: 2px 0px 12px 0px #5ea2dd;
    box-shadow: 2px 0px 12px 0px #5ea2dd;
}




  span{
    background-color: var(--principal);
    border-color: var(--fondo) ;
    border-width: 1px; 
    

}
}


.invalido{
  border: thin solid red !important;
  
}

input[type="date"]{
  font-size: 14px;
}

