@mixin icono-imagen($colorpersonalizado) {
  background-color: $colorpersonalizado;
  width: 25px;
  height:25px;
  display: inline-block;
  margin-right: 10px;
}


.icon_24home{
  $rutaimg:'../../assets/Iconos24/inicio.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}

.icon_24nominas{
  $rutaimg:'../../assets/Iconos24/nominas.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}

.icon_24empleados{
  $rutaimg:'../../assets/Iconos24/empleados.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}

.icon_24eventos{
  $rutaimg:'../../assets/Iconos24/eventos.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}

.icon_24imss{
  $rutaimg:'../../assets/Iconos24/imss.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}

.icon_24reportes{
  $rutaimg:'../../assets/Iconos24/reportes.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}

.icon_24perfil{
  $rutaimg:'../../assets/Iconos24/perfil.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}



.icon_24eliminar{
  $rutaimg:'../../assets/Iconos24/eliminar.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;
}

.icon_24editar{
  $rutaimg:'../../assets/Iconos24/editar.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}

.icon_24descargar{
  $rutaimg:'../../assets/Iconos24/download.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}

.icon_24upload{
  $rutaimg:'../../assets/Iconos24/upload.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}
.icon_24ver{
  $rutaimg:'../../assets/Iconos24/visualizar.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}


.icon_24download{
  $rutaimg : '../../assets/Iconos24/download.svg';
  @include icono-imagen($dark);
  -webkit-mask: url($rutaimg) no-repeat center;
  mask: url($rutaimg) no-repeat center;

}