@mixin icono-imagen($colorpersonalizado) {
    background-color: $colorpersonalizado;
    width: 25px;
    height:25px;
    display: inline-block;
    
  }


  .icon_home{
    $rutaimg:'../../assets/icons/ICO_home.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_nominas{
    $rutaimg:'../../assets/icons/ICO_nominas.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;
   

  }



  .icon_empleados{
    $rutaimg:'../../assets/icons/ICO_empleados.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_eventos{
    $rutaimg:'../../assets/icons/ICO_eventos.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_imss{
    $rutaimg:'../../assets/icons/ICO_imss.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_reportes{
    $rutaimg:'../../assets/icons/ICO_reportes.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_perfil{
    $rutaimg:'../../assets/icons/ICO_perfil.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_admoncos{
    $rutaimg:'../../assets/icons/ICO_admon.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;
  }

  .icon_admon{
    $rutaimg:'../../assets/icons/ICO_administrador.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;
  }
  .icontable_down{
    $rutaimg:'../../assets/icons/icontable_down.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;
  }

  .icontable_up{
    $rutaimg:'../../assets/icons/icontable_up.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icontable_both{
    $rutaimg:'../../assets/icons/icontable_both.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;
  }

  .icon_eliminar{
    $rutaimg:'../../assets/icons/ICO_eliminar.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;
  }

  .icon_editar{
    $rutaimg:'../../assets/icons/ICO_editar.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_descargar{
    $rutaimg:'../../assets/icons/ICO_download.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_upload{
    $rutaimg:'../../assets/icons/ICO_upload.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }
  .icon_ver{
    $rutaimg:'../../assets/icons/ICO_ver.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }


  .icon_download{
    $rutaimg : '../../assets/icons/ICCO_DOWNLD.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }

  .icon_cerrarsesion{
    $rutaimg : '../../assets/icons/ICO_cerrar_sesion.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }
  .icon_chat{
    $rutaimg : '../../assets/icons/ICO_chat.svg';
    @include icono-imagen($dark);
    -webkit-mask: url($rutaimg) no-repeat center;
    mask: url($rutaimg) no-repeat center;

  }


