<div class="form-group margen row mt-2 text-center"><label style="    margin: auto;" class="titulo">¡SE HAN TIMBRADO 1
        DE 1 EMPLEADOS!</label></div>
<div class="row">
    <div class="col-12 text-center">
        <img style="width: 50%;" src="assets/imgs/terminado.svg" alt="">
    </div>
</div>
<div class="row">
    <div class="col-12 text-center mt-2">
        <button  class="btn btn-primary button-outlet mr-2">Descargar recibos</button>
        <button  class="btn btn-primary button-fill">Descargar folios</button>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center mt-1">
        <a style="color:#56dfd4;text-decoration: underline;    display: block; font-size: smaller;"  class="dropdown-toggle">¿Necesitas cancelar este timbrado?</a>
    </div>
</div>


