<div class="row margen">
    <div class="col titulo-outlet">

        <label><i class="fas fa-chevron-left aparece-movil-inline-block" routerLink="/usuarios"></i>INFORMACIÓN
            BÁSICA</label>
    </div>
</div>


<hr>

<form [formGroup]="myForm" class="form-desing"  (ngSubmit)="enviarPeticion()">

    <input type="hidden" formControlName="personaId">
    <div class="background-panel margen background-ajustar" appTamanioVentana>
        <div class="form-group row margen"><label class="titulo">Información de Usuario</label></div>
      
        <div *ngIf="!insertar" class="form-group row margen">
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>ID usuario</label>
                <input formControlName="personaId" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row margen">

            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Nombre *</label>
                <input #nombre  appMayusculas formControlName="nombre" type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.nombre.errors && summitenviado}" placeholder="">
                <div *ngIf="f.nombre.errors && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>
            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Primer apellido *</label>
                <input formControlName="apellidoPaterno" appMayusculas type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.apellidoPaterno.errors && summitenviado}" placeholder="">
                <div *ngIf="f.apellidoPaterno.errors && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Segundo apellido</label>
                <input formControlName="apellidoMaterno" appMayusculas type="text" class="form-control" placeholder="">

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Correo electrónico *</label>
                <input appMayusculas [minusculas]="true" formControlName="correoelectronico"  type="email" class="form-control"
                    [ngClass]="{'is-invalid':(f.correoelectronico.errors?.email && f.correoelectronico.touched) || (f.correoelectronico.errors?.required && summitenviado) }" placeholder="">
                <div *ngIf="f.correoelectronico.errors?.required && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>
                <div *ngIf="f.correoelectronico.errors?.email && f.correoelectronico.touched" class="invalid-feedback">
                    Correo empresarial inválido, favor de verificar
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Fecha de registro en el sistema</label>
                <input formControlName="fechaAlta" type="text" class="form-control" placeholder="">
            </div>
            <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                <label for="exampleFormControlSelect1">Estatus</label>
                <select formControlName="esActivo" class="form-control">
                    <option value="true" selected>ACTIVO</option>
                    <option value="false">INACTIVO</option>
                </select>
            </div>
            <div  style="padding-top: 35px;" class="input-group-sm  col-12 col-sm-12 col-md-4 col-lg-4">
                <label class="contenedorInputCheckRadio">Usuario multicliente
                  <input (change)="cambiarMultiempresa()" formControlName="multicliente" type="checkbox" name="" id="multiempresa">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div *ngIf="f.multicliente.value" class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Clientes *</label>
                <app-tag [datos]="arregloCompany" [llave]="'nombre'" (salida)="recibirEtiquetas($event)"></app-tag>
            </div>
            <div *ngIf="!f.multicliente.value" class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                <label for="exampleFormControlSelect1">Cliente *</label>
                <select formControlName="centrocClienteId" class="form-control">
                    <option *ngFor="let item of arregloCompany" [value]="item.centrocClienteId">{{item.razonSocial}}</option>
                </select>
            </div>
            <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                <label for="exampleFormControlSelect1">Rol *</label>
                <select  formControlName="rol" class="form-control">
                    <option *ngFor="let item of arregloRoles" [value]="item.rolId" >{{item.nombreRol}}</option>
                </select>
            </div>
        </div>        
    </div>




    <div class="text-center margin" style="margin-bottom: 20px;">

        <button (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
        <button  type="submit" class="btn btn-primary button-fill">Guardar</button>
    </div>

</form>
