<div class="row margen">
    <div class="col titulo-outlet">

        <label><i class="fas fa-chevron-left aparece-movil-inline-block" routerLink="/usuarios"></i>INFORMACIÓN
            BÁSICA</label>
    </div>
</div>


<hr>

<form [formGroup]="myForm" class="form-desing"  (ngSubmit)="enviarPeticion()">

    <input type="hidden" formControlName="personaId">
    <div class="background-panel margen margen-desing">
        <div class="form-group row margen"><label class="titulo">Información de Usuario</label></div>
        <div class="form-group row margen">
            <div class="input-group-sm mb-3 col-12 col-sm-8 col-lg-8">
                <label for="exampleFormControlSelect1">Compañia *</label>
                <select #centroCliente [disabled]="!insertar" formControlName="centrocClienteId" class="form-control" [ngClass]="{'is-invalid':f.centrocClienteId.errors && summitenviado}"
                    id="exampleFormControlSelect1">
                    <option *ngFor="let item of arregloCompany" [value]="item.centrocClienteId">{{item.nombre}}</option>
                </select>
                <div *ngIf="f.centrocClienteId.errors && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="form-group row margen">

            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Nombre *</label>
                <input #nombre  appMayusculas formControlName="nombre" type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.nombre.errors && summitenviado}" placeholder="">
                <div *ngIf="f.nombre.errors && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>
            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Apellido paterno *</label>
                <input formControlName="apellidoPat" appMayusculas type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.apellidoPat.errors && summitenviado}" placeholder="">
                <div *ngIf="f.apellidoPat.errors && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Apellido materno</label>
                <input formControlName="apellidoMat" appMayusculas type="text" class="form-control" placeholder="">

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>CURP</label>
                <input formControlName="curp" maxlength="18" type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.curp.errors?.pattern && f.curp.touched}" placeholder="">
                <div *ngIf="f.curp.errors?.pattern && f.curp.touched" class="invalid-feedback">
                    CURP inválida, favor de verificar
                </div>

            </div>
        </div>
        <hr>
        <div class="form-group row margen"><label class="titulo">Contacto</label></div>
        <div class="form group row margen">

            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Correo empresarial *</label>
                <input appMayusculas [minusculas]="true" formControlName="emailCorp"  type="email" class="form-control"
                    [ngClass]="{'is-invalid':(f.emailCorp.errors?.email && f.emailCorp.touched) || (f.emailCorp.errors?.required && summitenviado) }" placeholder="">
                <div *ngIf="f.emailCorp.errors?.required && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>
                <div *ngIf="f.emailCorp.errors?.email && f.emailCorp.touched" class="invalid-feedback">
                    Correo empresarial inválido, Favor de verificar
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Correo personal *</label>
                <input appMayusculas [minusculas]="true" formControlName="ciEmailPersonal" type="email" class="form-control text-lowercase"
                    [ngClass]="{'is-invalid':(f.ciEmailPersonal.errors?.email && f.ciEmailPersonal.touched) || (f.ciEmailPersonal.errors?.required && summitenviado)}" placeholder="">

                <div *ngIf="f.ciEmailPersonal.errors?.required && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>
                <div *ngIf="f.ciEmailPersonal.errors?.email && f.ciEmailPersonal.touched" class="invalid-feedback">
                    Correo personal inválido, Favor de verificar
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Teléfono *</label>
                <input appSolonumeros formControlName="ciTelefono" maxlength="10" type="text" class="form-control"
                    [ngClass]="{'is-invalid':f.ciTelefono.errors && summitenviado}" placeholder="">

                <div *ngIf="f.ciTelefono.errors && summitenviado" class="invalid-feedback">
                    Campo requerido
                </div>

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
                <label>Fecha de registro *</label>
                <input formControlName="fechaAlta" type="date" class="form-control" placeholder="">

            </div>
            <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                <label for="exampleFormControlSelect1">Estado *</label>
                <select formControlName="esActivo" class="form-control">
                    <option value="true" selected>ACTIVO</option>
                    <option value="false">INACTIVO</option>
                </select>
            </div>
        </div>
        <hr>
    </div>




    <div class="text-center margin" style="margin-bottom: 20px;">

        <button (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
        <button  type="submit" class="btn btn-primary button-fill">Guardar</button>
    </div>

</form>
