<div class="row titulosfijos mb-5 ml-2 mr-2" style="background-color: transparent;">
    <div class="col titulo-outlet">
        <label>NÓMINA ACTIVA</label>
    </div>
</div>


<div class="row ml-1">
    <div class="col text-left">
        <button type="button" class="btn btn-light button-outlet" (click)="agregar()">
            <i class="fa fa-plus"></i> Nueva nómina
        </button>
    </div>
</div>


<div class="scrooll-design">

    <div class="row   m-2 background-panel fade-in" *ngFor="let item of arreglo" >
        <div class="col-6 mt-3">
            <article>Nómina Quincenal Soulsoft
                <article>Periodo 001/2020: 1 oct. - 15 oct. Incidencias: 1 oct. - 15 oct.</article>
            </article>
    
        </div>
        <div class="col-6 mt-2">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Empleados</th>
                        <th>Percepciones</th>
                        <th>Deducciones</th>
                        <th>Total</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>3</td>
                        <td>$324.34</td>
                        <td>$21354.34</td>
                        <td>$5345.34</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-9 segundaseccion" style="    border-bottom-left-radius: 20px;">
            <div class="col-12 margennav" >
    
                <nav class="nav-inside">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link " id="nav-home-tab" role="tab" aria-controls="nav-home"
                            aria-selected="true">1. Calcular</a>
                        <a class="nav-item nav-link " id="nav-profile-tab" role="tab" aria-controls="nav-profile"
                            aria-selected="false">2. Pagar</a>
                        <!-- <a class="nav-item nav-link " [ngClass]="{'activado':activado[2].tab,'disabled':activado[2].disabled}" id="nav-contact-tab"  role="tab" aria-controls="nav-contact" aria-selected="false">3. Preferencias</a> -->
                        <a class="nav-item nav-link " id="nav-contact-tab" role="tab" aria-controls="nav-empleo"
                            aria-selected="false">3. Timbrar</a>
                        <a class="nav-item nav-link " id="nav-contact-tab" role="tab" aria-controls="nav-detalle"
                            aria-selected="false">4. Pagar</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    
                    </div>
                    <div class="tab-pane fade" id="nav-empleo" role="tabpanel" aria-labelledby="nav-empleo-tab">
    
                    </div>
                    <div class="tab-pane fade" id="nav-detalle" role="tabpanel" aria-labelledby="nav-detalle-tab">
                    </div>
                </div>
            </div>
    
        </div>
        <div class="col-3 text-right segundaseccion" style="    border-bottom-right-radius: 20px;">
            <button (click)="calcularNomina()" type="button" class="btn btn-primary button-outlet mr-2 mt-2">Calcular</button>
        </div>
        
    </div>
</div>
