<form [formGroup]="myForm" (ngSubmit)="enviarFormulario()">
    <div class="row">
        <div class="col-12">
            <div class="row"><label class="titulo">DETALLE DE EMPLEO</label><i aria-hidden="true" *ngIf="!editarcampos" class="fas fa-pencil-alt primary" (click)="editarcampos = true;" style="width: 10%;text-align: right; cursor: pointer;"></i></div>

            <div class="row mb-4">
                <article class="titulo   col">
                    Número Empleado *
                    <article *ngIf="!editarcampos">{{empleado.numEmpleado}}</article>
                    <article *ngIf="editarcampos">

                        <input maxlength="24" type="text" name="" id="" autocomplete="off" class="form-control" formControlName="numEmpleado" [ngClass]="{'is-invalid':f.numEmpleado.errors && submitEnviado}">
                        <div *ngIf="f.numEmpleado.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>

                    </article>
                </article>
                <article class="titulo  col">
                    Área *
                    <article *ngIf="!editarcampos">{{empleado.areaId?.descripcion}}</article>
                    <article *ngIf="editarcampos">
                        <select (change)="cambiaArea()" formControlName="areaId" name="" class="form-control" [ngClass]="{'is-invalid':f.areaId.errors && submitEnviado}">
                            <option *ngFor="let item of arregloArea" [value]="item.areaId">{{item.descripcion}}</option>
                        </select>
                        <div *ngIf="f.areaId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article class="titulo   col">
                    Puesto *
                    <article *ngIf="!editarcampos">{{empleado.puestoId?.descripcion}}</article>
                    <article *ngIf="editarcampos">

                        <select formControlName="puestoId" name="" class="form-control" [ngClass]="{'is-invalid':f.puestoId.errors && submitEnviado}">
                            <option *ngFor="let item of arregloPuestos" [value]="item.puestoId">{{item.descripcion}}
                            </option>
                        </select>
                        <div *ngIf="f.puestoId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>

                    </article>
                </article>

            </div>

            <div class="row mb-4">
                <article class="titulo   col">
                    Jefe inmediato
                    <article *ngIf="!editarcampos">{{empleado.jefeInmediatoId?.nombre}} {{empleado.jefeInmediatoId?.apellidoPaterno}} {{empleado.jefeInmediatoId?.apellidoMaterno}}</article>
                    <article *ngIf="editarcampos">

                        <input autocomplete="off" list="empleadosreporta" class="form-control" cache formControlName="puesto_id_reporta" name="browser" id="browser">

                        <datalist id="empleadosreporta">
                            <option *ngFor="let item of arregloempleadosreporta" [value]="item.personaId.nombre+' '+item.personaId.apellidoPaterno+' '+((item.personaId?.apellidoMaterno == undefined)?'':item.personaId?.apellidoMaterno)"></option>
                        </datalist>

                    </article>
                </article>
                <article class="titulo  col">
                    Sede
                    <article *ngIf="!editarcampos">{{empleado.sedeId?.descripcion}}</article>
                    <article *ngIf="editarcampos">

                        <select formControlName="sedeId" name="" class="form-control">
                            <option *ngFor="let item of arregloSedes" [value]="item.sedeId">{{item.sedeNombre}}
                            </option>
                        </select>

                    </article>
                </article>
                <article class="titulo   col">
                    Entidad federativa *
                    <article *ngIf="!editarcampos">{{empleado.estadoId?.estado}}</article>
                    <article *ngIf="editarcampos">
                        <select formControlName="estadoId" name="" class="form-control" [ngClass]="{'is-invalid':f.estadoId.errors && submitEnviado}">
                            <option *ngFor="let item of arregloEstados" [value]="item.estadoId">{{item.estado}}</option>
                        </select>
                    </article>
                </article>
            </div>
            <hr>
            <div class="row">
                <article class="titulo  col">
                    Tipo de contrato *
                    <article *ngIf="!editarcampos">{{contratoDesc}}</article>
                </article>
            </div>
            <div class="row mb-4">
                <article *ngIf="editarcampos" class="titulo col">
                    <select #tipoContrato [ngClass]="{'is-invalid':f.tipoContratoId.errors && submitEnviado}" formControlName="tipoContratoId" name="" id="" class="form-control">
                    <option *ngFor="let item of arregloTipoContrato" [value]="item.tipoContratoId">
                        {{item.descripcion}}</option>
                </select>
                    <div *ngIf="f.tipoContratoId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </article>
            </div>
            <div class="row">
                <article class="titulo  col">
                    Régimen de contratación *
                    <article *ngIf="!editarcampos">{{ empleado.tipoRegimenContratacionId?.descripcion}}</article>
                </article>
            </div>
            <div class="row mb-4">
                <article *ngIf="editarcampos" class="titulo col">
                    <select [ngClass]="{'is-invalid':f.tipoRegimenContratacionId.errors && submitEnviado}" formControlName="tipoRegimenContratacionId" name="" id="" class="form-control">
                        <option *ngFor="let item of arregloRegimenContratacion"
                            [value]="item.tipoRegimenContratacionId">{{item.descripcion}}</option>
                    </select>
                    <div *ngIf="f.tipoRegimenContratacionId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </article>
            </div>
            <div class="row">

                <article class="titulo  col">
                    Fecha de Antigüedad *
                    <article></article>
                </article>
            </div>
            <div class="row mb-4">
                <article *ngIf="editarcampos" class="titulo col">
                    Elegir fecha
                    <article>
                        <input id="fechaantiguedad" #fechaAntiguedad (focusout)="validarfechAntiguedad(fechaAntiguedad.value)" [max]="date" [ngClass]="{'is-invalid':f.fechaAntiguedad.errors && submitEnviado}" formControlName="fechaAntiguedad" type="date" name="" class="form-control">
                        <div *ngIf="f.fechaAntiguedad.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>

                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Año

                    <article>
                        {{ empleado.fechaAntiguedad | date:'yyyy' }}
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Mes
                    <article>
                        {{ empleado.fechaAntiguedad | date:'MMMM' }}
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Día
                    <article>
                        {{ empleado.fechaAntiguedad | date:'dd' }}
                    </article>
                </article>
                <article class="titulo   col-12 col-lg">
                </article>
                <article class="titulo  col">
                    Políticas *
                    <article *ngIf="!editarcampos">
                        {{empleado.politicaId?.nombre}}
                    </article>
                    <article *ngIf="editarcampos">
                        <select formControlName="politicaId" name="" class="form-control" [ngClass]="{'is-invalid':f.politicaId.errors && submitEnviado}">
                            <option *ngFor="let item of arregloPoliticas" [value]="item.politicaId">{{item.nombre}}
                            </option>
                        </select>
                        <div *ngIf="f.politicaId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
            </div>
            <div class="row">
                <article class="titulo  col">
                    Fecha de ingreso *
                    <article></article>
                </article>
            </div>
            <div class="row mb-4">
                <article class="titulo  col" *ngIf="editarcampos">
                    Elegir fecha
                    <article>
                        <input [min]="f.fechaAntiguedad.value" #fechaInicioCont (focusout)="validarfechaInicioCont(fechaInicioCont.value)" [ngClass]="{'is-invalid':f.fechaInicio.errors && submitEnviado}" formControlName="fechaInicio" type="date" name="" class="form-control">
                        <div *ngIf="f.fechaInicio.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Año
                    <article>
                        {{empleado.fechaContrato | date:'yyyy'}}
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Mes
                    <article>
                        {{empleado.fechaContrato | date:'MMMM'}}
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Día
                    <article>
                        {{empleado.fechaContrato | date:'dd'}}
                    </article>
                </article>
                <article class="titulo mb-4  col-12 col-lg">
                </article>
                <article class="titulo aparece-desktop  col">
                    Sindicalizado
                    <article *ngIf="!editarcampos">
                        {{empleado.esSindicalizado ? "Si":"No"}}
                    </article>
                    <article *ngIf="editarcampos">
                        <div>
                            <label class="contenedorInputCheckRadio">Si
                                <input formControlName="esSindicalizado" value="true" type="radio" name="esSindicalizado"
                                    id="sisindicalizado">
                                <span class="radiomark"></span>
                            </label>
                        </div>
                        <div>
                            <label class="contenedorInputCheckRadio">No
                                <input formControlName="esSindicalizado" value="false" type="radio" name="esSindicalizado"
                                    id="nosindicalizado">
                                <span class="radiomark"></span>
                            </label>
                        </div>

                    </article>
                </article>
            </div>
            <div class="row">
                <article class="titulo  col">
                    Fecha de fin de contrato <strong aria-hidden="true" *ngIf="f.tipoContratoId.value !== '10' && f.tipoContratoId.value !== '1' ">*</strong>
                    <article></article>
                </article>
            </div>
            <div class="row mb-4">
                <article *ngIf="editarcampos" class="titulo col">
                    Elegir fecha
                    <article>
                        <input [min]="f.fechaInicio.value" #fechaFinCont (focusout)="validarfechaFinCont(fechaFinCont.value)" [ngClass]="{'is-invalid':f.fechaFin.errors && submitEnviado && (f.tipoContratoId.value !== '10' && f.tipoContratoId.value !== '1')}" formControlName="fechaFin"
                            type="date" name="" class="form-control">
                        <div *ngIf="f.fechaFin.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Año
                    <article>
                        {{empleado.fechaFin | date:'yyyy'}}
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Mes
                    <article>
                        {{empleado.fechaFin | date:'MMMM'}}
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Día
                    <article>
                        {{empleado.fechaFin | date:'dd'}}
                    </article>
                </article>
                <article class="titulo  col-12 col-lg">
                </article>
                <article class="titulo aparece-desktop  col">
                    Jornada *
                    <article *ngIf="!editarcampos">
                        {{empleado.jornadaId?.nombre}}
                    </article>
                    <article *ngIf="editarcampos">
                        <select [ngClass]="{'is-invalid':f.jornadaId.errors && submitEnviado}" formControlName="jornadaId" name="" class="form-control">
                            <option *ngFor="let item of arregloJornadas" [value]="item.jornadaId">{{item.nombre}}
                            </option>
                        </select>
                        <div *ngIf="f.jornadaId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>


            </div>
            <div class="row">
                <article class="titulo  col">
                    Fecha de IMSS
                    <article></article>
                </article>
            </div>
            <div class="row mb-4">
                <article *ngIf="editarcampos" class="titulo col">
                    Elegir fecha
                    <article>
                        <input [min]="f.fechaAntiguedad.value" (focusout)="validarFechaImss()" [ngClass]="{'is-invalid':f.fechaAltaImss.errors && submitEnviado}" formControlName="fechaAltaImss" type="date" name="" class="form-control">
                        <div *ngIf="f.fechaAltaImss.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Año
                    <article>
                        {{empleado.fechaAltaImss | date:'yyyy'}}
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Mes
                    <article>
                        {{empleado.fechaAltaImss | date:'MMMM'}}
                    </article>
                </article>
                <article *ngIf="!editarcampos" class="titulo  col">
                    Día
                    <article>
                        {{empleado.fechaAltaImss | date:'dd'}}
                    </article>
                </article>
                <article class="titulo  col-12 col-lg">
                </article>
                <article class="titulo aparece-desktop  col">
                    Área geográfica *
                    <article *ngIf="!editarcampos">
                        {{empleado.areaGeograficaId?.esActivo | boolean}}
                    </article>
                    <article *ngIf="editarcampos">
                        <div *ngFor="let item of arregloareasgeograficas">

                            <label class="contenedorInputCheckRadio">{{item.descripcion}}
                                <input [ngClass]="{'is-invalid':f.areaGeograficaId.errors && submitEnviado}"
                                    formControlName="areaGeograficaId" name="areaGeograficaId" type="radio"
                                    [value]="item.areaGeograficaId" [id]="item.nombreCorto">
                                <span class="radiomark"></span>
                            </label>

                            <div *ngIf="f.areaGeograficaId.errors && submitEnviado" class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </article>
                </article>
            </div>

        </div>

    </div>

    <div class="row" *ngIf="editarcampos">
        <div class="col-12">
            <div class="text-right " style="margin-bottom: 20px; margin-right: 16px;">

                <button (click)="editarcampos = false;" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
                <button type="submit" class="btn btn-primary button-fill">Guardar</button>
            </div>
        </div>
    </div>
</form>