<div class="form-group row margen">
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Empleado</label>
        <select class="form-control">
            <option value="">Empleado a elegir</option>
        </select>
    </div>
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Fecha de inicio de incapacidad</label>
        <input type="date" name="" id="" class="form-control">
    </div>
    <div class="input-group-sm mb-3 col-12">
        <label for="exampleFormControlSelect1">Fecha de terminó de incapacidad</label>
        <input type="date" name="" id="" class="form-control">
    </div>
    <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
        <label>Seleccionar archivo</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <div (click)="abrirArchivo()" class="input-group-append" style="cursor: pointer;">
                <span style="font-size: small;" class="input-group-text dark" id="basic-addon2"><img
                        src="assets/Iconos24/upload.png" alt="" srcset=""></span>
            </div>
        </div>
    </div>
    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-lg-12">
        <label>Comentarios</label>

        <input type="text" class="form-control">
    
    </div>

    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-lg-12">
        <label>Tipo de incapacidad</label>

        <select  class="form-control">
            <option value=""> Tipo de incapacidad</option>
            <option value=""> Tipo de incapacidad</option>
            <option value=""> Tipo de incapacidad</option>
        </select>
    </div>
</div>
<div class="text-center margin" style="margin-bottom: 20px;">

    <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
    <button type="submit" class="btn btn-primary button-fill">Guardar</button>
</div>