<form [formGroup]="myForm" (ngSubmit)="enviarFormulario()">

    <div class="row">
        <div class="col-6" style="    border-right: 1px solid rgb(148, 148, 148);">
            <div class="form-group mt-3 row margen"><label class="titulo">INFORMACIÓN DE PUESTO</label></div>
    
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Área*</label>
                    <select (change)="cambiaArea()" formControlName="areaId" name="" id="" class="form-control">
                        <option *ngFor="let item of arregloArea" [value]="item.areaId">{{item.descripcion}}</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Puesto*</label>
                    <select [disabled]="arregloPuestos.length == 0" name="" id="" class="form-control">
                      <option *ngFor="let item of arregloPuestos" [value]="item.puestoId">{{item.descripcion}}</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Reporta a:</label>
                    <input list="empleadosreporta" class="form-control" formControlName="puesto_id_reporta" name="browser" id="browser">

                    <datalist id="empleadosreporta">
                      <option *ngFor="let item of arregloempleadosreporta"  [value]="item.nombre"></option>
                    </datalist>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Sede</label>
                    <select formControlName="sedeId" name="" id="" class="form-control">
                        <option value="1">Aguas calientes</option>
                        <option value="2">Almacen quintanaroo</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Estado de la republica</label>
                    <select formControlName="estadoId" name="" id="" class="form-control">
                        <option value="1">México</option>
                        <option value="2">Oaxaca</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Politicas</label>
                    <select formControlName="politicaId" name="" id="" class="form-control">
                        <option *ngFor="let item of arregloPoliticas" [value]="item.politicaId">{{item.nombre}}</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Número de empleado</label>
                    <input   formControlName="personaId" type="text" name="" id="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Sindicalizado</label>
    
                    <div>    
                        <input formControlName="esSindicalizado" value="true" type="radio" name="esSindicalizado" id="sisindicalizado">
                        <label for="sisindicalizado">Si</label>
                    </div>
                    <div>    
                        <input formControlName="esSindicalizado" value="false" type="radio" name="esSindicalizado" id="nosindicalizado">
                        <label for="nosindicalizado">No</label>
                    </div>
    
                </div>
            </div>    
            <hr>
            <div class="form-group mt-3 row margen"><label class="titulo">COMPENSACIÓN</label></div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Grupo de nómina*</label>
                      <select name="" id="" class="form-control">
                        <option *ngFor="let item of arreglogruponominas" [value]="item.id">{{item.nombre}}</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Tipo de compensación*</label>
                      <select formControlName="tipoCompensacionId" name="" id="" class="form-control">
                        <option *ngFor="let item of arregloCompensacion" [value]="item.tipoCompensacionId">{{item.descripcion}}</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Tipo sueldo*</label>
                      <select [(ngModel)]="tiposueldo" [ngModelOptions]="{standalone: true}" name="" id="" class="form-control">
                        <option checked value="b">Bruto</option>
                        <option value="n">Neto</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Sueldo bruto mensual*</label>
                    <input type="text" name="" id="" class="form-control" [ngClass]="{'disabled':tiposueldo == 'n'}" [disabled]="tiposueldo == 'n'">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Salario base cotización*</label>
                    <input formControlName="salarioDiario" type="text" name="" id="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Sueldo neto mensual*</label>
                    <input type="text" name="" id="" class="form-control" [ngClass]="{'disabled': tiposueldo == 'b'}" [disabled]="tiposueldo == 'b'">
                </div>
            </div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Días de vacaciones</label>
                    <input formControlName="dias_vacaciones" type="text" name="" id="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Método de pago*</label>
                    <select formControlName="metodo_pago_id" name="" id="" class="form-control">
                        <option value="1">Cheque</option>
                        <option value="2">Transferencia</option>
                    </select>
                </div>
            </div>
    
        </div>
        <div class="col-6">
            <div class="form-group mt-3 row margen"><label class="titulo">INFORMACIÓN DE CONTACTO</label></div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Fecha de antigüedad*</label>
                    <input formControlName="fechaAntiguedad" type="date" name="" id="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Tipo de contrato*</label>
                    <select formControlName="tipoContratoId" name="" id="" class="form-control">
                        <option value="">Tiempo identerminado</option>
                        <option value="">Proyecto</option>
                    </select>
                </div>
                
            </div>
    
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Fecha inicio de contrato*</label>
                    <input formControlName="fechaInicio" type="date" name="" id="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Fecha fin de contrato*</label>
                    <input formControlName="fechaFin" type="date" name="" id="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Jornada</label>
                    <select formControlName="jornadaId" name="" id="" class="form-control">
                        <option value="">Completa</option>
                    </select>
                </div>
            </div>
    
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Tipo de empleado*</label>
                    <select name="" id="" class="form-control">
                        <option value="">Sueldos</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Área geografica*</label>
    
                    <div>
                        
                        <input type="radio" name="areageo" id="zonalibre">
                        <label for="zonalibre">Zona libre de la frontera norte</label>
    
                        
    
                    </div>
                    <div>
                        <input type="radio" name="areageo" id="area">
                        <label for="area">Área general</label>
    
                        
    
                    </div>
    
                </div>
            </div>
    
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    
                    <input type="checkbox" name="" id="subcontratado">
                    <label for="subcontratado">Empleado subcontratado</label>
                </div>
            </div>
    
            <hr>
            <div class="form-group mt-3 row margen"><label class="titulo">DETALLE DE SUBCONTRATACIÓN</label></div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="subcontratado">Empresa de subcontratación*</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="subcontratado">Porcentaje %*</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
    
            </div>
        </div>
    </div>
    
    
    
    <div class="row">
        <div class="col-12">
            <div class="text-right margin" style="margin-bottom: 20px;">
        
                <button (click)="cancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
                <button  type="submit" class="btn btn-primary button-fill">Guardar</button>
            </div>
        </div>
    </div>
</form>