
<!-- ------------------------- -->
<div class="col-12 " style="z-index: 2;">
    <div *ngIf="aparecemodalito" [style.top]="scrolly" class="ventanaemergente fade-in-second " [style.width]="modalWidth">
        <div class="adentro">
            <button (click)="aparecemodalito = false" type="button" class="close btnclosemodal" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form [formGroup]="myFormArea" (ngSubmit)="enviarPeticinoArea()">
            <div class="header">
                <h5 class="titulo">{{mensajeModalito}}</h5>

                <!-- <p id="subtitulo"><strong>Grupo de nomina</strong>ASG coorporation</p> -->
            </div>
            <hr>
            <div class="body">
                
                

                  <div class="row">
                    <div class="  input-group-sm mb-3 col-12 col-sm-4 col-md-6 col-lg-6 col-xl-6">
                        <label >Área *</label>
                        <input #nombre formControlName="nombreCorto" type="text" maxlength="250" class="form-control" [ngClass]="{'is-invalid':f2.nombreCorto.errors && enviadoSubmitArea}"
                            placeholder="">
                            <div *ngIf="f2.nombreCorto.errors && enviadoSubmitArea" class="invalid-feedback">
                                Campor requerido
                            </div>
                      </div>
          
                   <div  class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                      <label for="exampleFormControlSelect1">Puesto *</label>
                      <input formControlName="puesto" maxlength="250" type="text" class="form-control" [ngClass]="{'is-invalid':f2.puesto.errors && enviadoSubmitArea}"
                          placeholder="">
                          <div *ngIf="f2.puesto.errors && enviadoSubmitArea" class="invalid-feedback">
                              Campo requerido
                          </div>
                    </div>
                  </div>

                


            </div>
            <hr>
            <div class="footer">
                <div class="row">
                    <div class="col-12 text-center">

                        <button (click)="aparecemodalito = false;enviadoSubmitArea=false" class="btn btn-primary button-outlet mr-2">Cancelar</button>
                        <button  type="submit" class="btn btn-primary button-fill">Guardar</button>

                    </div>
                </div>
            </div>
        </form>

        </div>
    </div>
</div>



<!-- ---------------------- -->

<form [formGroup]="myForm" (ngSubmit)="enviarFormulario()">

    <div class="row">
        <div class="col-6" style="    border-right: 1px solid rgb(148, 148, 148);">
            <div class="form-group mt-3 row margen"><label class="titulo">PUESTO</label></div>

            <div class="row">
                <div class="col-12">
                    <div class=" row">
                        <div class="col-6">
                            <div class=" row">
                <div style="position: relative;" class="input-group-sm mb-4 col-12 col-sm-11 col-lg-11">
                    <label for="exampleFormControlSelect1">Área*</label>
                    <select (change)="cambiaArea($event)" formControlName="areaId" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.areaId.errors && submitEnviado}">
                        <option *ngFor="let item of arregloArea" [value]="item.areaId">{{item.descripcion}}</option>
                    </select>
                    <i (click)="agregarAreasModal()" style="position: absolute;
                    top: 37px;
                    right: -10px;
                    z-index: 1;
                    color: #4cc1b0;cursor: pointer;" class="fas fa-plus"></i>
                    <div *ngIf="f.areaId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                </div>
            </div>
                <div class="col-6">
                    <div class=" row">
                <div style="position: relative;" class="input-group-sm mb-4 col-12 col-sm-11 col-lg-11">
                    <label for="exampleFormControlSelect1">Puesto*</label>
                    <select formControlName="puestoId" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.puestoId.errors && submitEnviado}">
                        <option *ngFor="let item of arregloPuestos" [value]="item.puestoId">{{item.descripcion}}
                        </option>
                    </select>
                    <i (click)="agregarPuestoModal()" *ngIf="apareceplusPuesto" style="position: absolute;
                    top: 37px;
                    right: -10px;
                    
                    color: #4cc1b0;cursor: pointer;" class="fas fa-plus"></i>
                    <div *ngIf="f.puestoId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
             </div>
            </div>
            </div>
        </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Jefe inmediato</label>
                    <input autocomplete="off" [ngClass]="{'is-invalid':f.puesto_id_reporta.errors}" (focusout)="salirReportaA()" list="empleadosreporta" class="form-control" formControlName="puesto_id_reporta"
                        name="browser" id="browser">

                    <datalist id="empleadosreporta">
                        <option *ngFor="let item of arregloempleadosreporta" [value]="item.personaId.nombre+' '+item.personaId.apellidoPaterno"></option>
                    </datalist>
                    <div *ngIf="f.puesto_id_reporta.errors" class="invalid-feedback">
                        No existe la persona seleccionada
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Sede</label>
                    <select formControlName="sedeId" name="" id="" class="form-control">
                        <option value=""></option>
                        <option *ngFor="let item of arregloSedes" [value]="item.sedeId">{{item.sedeNombre}}</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Entidad federativa*</label>
                    <select [ngClass]="{'is-invalid':f.estadoId.errors && submitEnviado}" formControlName="estadoId" name="" id="" class="form-control">
                        
                        <option *ngFor="let item of arregloEstados" [value]="item.estadoId">{{item.estado}}</option>
                    </select>
                    <div *ngIf="f.estadoId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Políticas*</label>
                    <select formControlName="politicaId" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.politicaId.errors && submitEnviado}">
                        <option *ngFor="let item of arregloPoliticas" [value]="item.politicaId">{{item.nombre}}</option>
                    </select>
                    <div *ngIf="f.politicaId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Número de empleado*</label>
                    <input formControlName="personaId" maxlength="24" type="text" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.personaId.errors && submitEnviado}">
                    <div *ngIf="f.personaId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Sindicalizado</label>

                    <div>
                        <label class="contenedorInputCheckRadio">Si
                            <input formControlName="esSindicalizado" value="true" type="radio" name="esSindicalizado"
                                id="sisindicalizado">
                            <span class="radiomark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="contenedorInputCheckRadio">No
                            <input formControlName="esSindicalizado" value="false" type="radio" name="esSindicalizado"
                                id="nosindicalizado">
                            <span class="radiomark"></span>
                        </label>
                    </div>

                </div>
            </div>
            <hr>
            <div *ngIf="aparecerTemp" class="form-group mt-3 row margen"><label class="titulo">COMPENSACIÓN</label>
            </div>
            <div  class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Grupo de nómina*</label>
                    <select formControlName="grupoNominaId" class="form-control"
                        [ngClass]="{'is-invalid':f.grupoNominaId.errors && submitEnviado}">
                        <option *ngFor="let item of arreglogruponominas" [value]="item.id">{{item.nombre}}</option>
                    </select>
                    <div *ngIf="f.grupoNominaId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Tipo de compensación*</label>
                    <select formControlName="tipoCompensacionId" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.tipoCompensacionId.errors && submitEnviado}">
                        <option *ngFor="let item of arregloCompensacion" [value]="item.tipoCompensacionId">
                            {{item.descripcion}}</option>
                    </select>
                    <div *ngIf="f.tipoCompensacionId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Tipo sueldo de entrada*</label>
                    <select formControlName="tiposueldo" (change)="cambiarSueldoField()" name="" id=""
                        class="form-control" [ngClass]="{'is-invalid':f.tiposueldo.errors && submitEnviado}">
                        <option value="b">Bruto</option>
                        <option value="n">Neto</option>
                    </select>
                    <div *ngIf="f.tiposueldo.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div *ngIf="f.tiposueldo.value == 'n'" class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Salario neto mensual*</label>
                    <input formControlName="sueldoNetoMensual" type="text" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.sueldoNetoMensual.errors && submitEnviado,'disabled':!sueldoNeto}">

                    <div *ngIf="f.sueldoNetoMensual.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </div>
                <div *ngIf="f.tiposueldo.value== 'b'" class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Sueldo bruto mensual*</label>
                    <input formControlName="sueldoBrutoMensual" type="text" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.sueldoBrutoMensual.errors && submitEnviado,'disabled':!sueldoBruto}">

                    <div *ngIf="f.sueldoBrutoMensual.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Salario diario</label>
                    <input disabled  type="text" name="" id="" class="form-control">
                </div>                   
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Salario base de cotización*</label>
                    <input disabled  type="text" name="" id="" class="form-control">
                </div>  
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Pago IMSS*</label>
                    <input disabled  type="text" name="" id="" class="form-control">
                </div>    
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">ISR*</label>
                    <input disabled type="text" name="" id="" class="form-control">
                </div>    
                <div *ngIf="f.tiposueldo.value == 'b'" class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Salario neto mensual*</label>
                    <input formControlName="sueldoNetoMensual" type="text" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.sueldoNetoMensual.errors && submitEnviado,'disabled':!sueldoNeto}">

                    <div *ngIf="f.sueldoNetoMensual.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </div>
                <div *ngIf="f.tiposueldo.value== 'n'" class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label for="exampleFormControlSelect1">Sueldo bruto mensual*</label>
                    <input formControlName="sueldoBrutoMensual" type="text" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.sueldoBrutoMensual.errors && submitEnviado,'disabled':!sueldoBruto}">

                    <div *ngIf="f.sueldoBrutoMensual.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </div>
                
            
               
                <!-- <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Salario base cotización *</label>
                    <input formControlName="salarioDiario" type="text" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.salarioDiario.errors && submitEnviado}">

                    <div *ngIf="f.salarioDiario.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>

                </div> -->
            </div>


            <hr>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Días de vacaciones*</label>
                    <input appSolonumeros formControlName="dias_vacaciones" type="text" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.dias_vacaciones.errors && submitEnviado}">
                    <div *ngIf="f.dias_vacaciones.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Método de pago*</label>
                    <select formControlName="metodo_pago_id" name="" id="" class="form-control"
                        [ngClass]="{'is-invalid':f.metodo_pago_id.errors && submitEnviado}">
                        <option *ngFor="let item of arregloMetodosPago" [value]="item.metodoPagoId">{{item.descripcion}}
                        </option>
                    </select>
                    <div *ngIf="f.metodo_pago_id.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="form-group mt-3 row margen"><label class="titulo">CONTRATO</label></div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Fecha de antigüedad*</label>
                    <input #fechaAntiguedad (focusout)="validarfechAntiguedad(fechaAntiguedad.value)" [ngClass]="{'is-invalid':f.fechaAntiguedad.errors && submitEnviado}"
                        formControlName="fechaAntiguedad" type="date" name="" id="" class="form-control">
                    <div *ngIf="f.fechaAntiguedad.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Tipo de contrato*</label>
                    <select #tipoContrato (focusout)="validartipoContrato(tipoContrato.value)" [ngClass]="{'is-invalid':f.tipoContratoId.errors && submitEnviado}"
                        formControlName="tipoContratoId" name="" id="" class="form-control">
                        <option *ngFor="let item of arregloTipoContrato" [value]="item.tipoContratoId">
                            {{item.descripcion}}</option>
                    </select>
                    <div *ngIf="f.tipoContratoId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Fecha de ingreso*</label>
                    <input #fechaInicioCont (focusout)="validarfechaInicioCont(fechaInicioCont.value)" [ngClass]="{'is-invalid':f.fechaInicio.errors && submitEnviado}"
                        formControlName="fechaInicio" type="date" name="" id="" class="form-control">
                    <div *ngIf="f.fechaInicio.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div *ngIf="activaFechaFin" class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Fecha fin de contrato*</label>
                    <input #fechaFinCont (focusout)="validarfechaFinCont(fechaFinCont.value)" [ngClass]="{'is-invalid':f.fechaFin.errors && submitEnviado}" formControlName="fechaFin"
                        type="date" name="" id="" class="form-control">
                    <div *ngIf="f.fechaFin.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div  class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Fecha de alta IMSS</label>
                    <input (focusout)="validarFechaImss()" formControlName="fechaAltaImss"
                        type="date" name="" id="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Nombre de jornada*</label>
                    <select [ngClass]="{'is-invalid':f.jornadaId.errors && submitEnviado}" formControlName="jornadaId"
                        name="" id="" class="form-control">
                        <option *ngFor="let item of arregloJornadas" [value]="item.jornadaId">{{item.nombre}}
                        </option>
                    </select>
                    <div *ngIf="f.jornadaId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="exampleFormControlSelect1">Régimen de contratación*</label>
                    <select [ngClass]="{'is-invalid':f.tipoRegimenContratacionId.errors && submitEnviado}"
                        formControlName="tipoRegimenContratacionId" name="" id="" class="form-control">
                        <option *ngFor="let item of arregloRegimenContratacion"
                            [value]="item.tipoRegimenContratacionId">{{item.descripcion}}</option>
                    </select>
                    <div *ngIf="f.tipoRegimenContratacionId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <div>
                        <label>Área geográfica *</label>
                        <div *ngFor="let item of arregloareasgeograficas">

                            <label class="contenedorInputCheckRadio">{{item.descripcion}}
                                <input [ngClass]="{'is-invalid':f.areaGeograficaId.errors && submitEnviado}"
                                    formControlName="areaGeograficaId" name="areaGeograficaId" type="radio"
                                    [value]="item.areaGeograficaId" [id]="item.nombreCorto">
                                <span class="radiomark"></span>
                            </label>

                            <div *ngIf="f.areaGeograficaId.errors && submitEnviado" class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label class="contenedorInputCheckRadio">Empleado subcontratado
                        <input (change)="cambiarStatus()" formControlName="esSubcontratado" type="checkbox" name=""
                            id="subcontratado">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div> -->

            <!-- <hr>
            <div class="form-group mt-3 row margen"><label class="titulo">DETALLE DE SUBCONTRATACIÓN</label></div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="subcontratado">Empresa de subcontratación *</label>
                    <input formControlName="subcontratistaId"
                        [ngClass]="{'is-invalid':f.subcontratistaId.errors && submitEnviado}" type="text" name="" id=""
                        class="form-control">
                    <div *ngIf="f.subcontratistaId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-6">
                    <label for="subcontratado">Porcentaje *</label>
                    <input [ngClass]="{'is-invalid':f.suPorcentaje.errors && submitEnviado}"
                        formControlName="suPorcentaje" type="text" name="" id="" class="form-control">
                    <div *ngIf="f.suPorcentaje.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>

            </div> -->
        </div>
    </div>



    <div class="row">
        <div class="col-12">
            <div class="text-right margin" style="margin-bottom: 20px;">

                <button (click)="cancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
                <button type="submit" class="btn btn-primary button-fill">Guardar</button>
            </div>
        </div>
    </div>
</form>