<div class="row">
    <div class="col-3">
        <button (click)="alerta()">Modal</button>


    </div>
</div>


<div class="row">
    <div class="col-3">
        <select (change)="cambiaValor(select)" #select name="" id="" class="form-control">
            <option value="">Seleccionar ventana</option>
            <option value="1">carga masiva</option>
            <option value="2">Evento para fiesta</option>
            <option value="3">Incapacidad</option>
            <option value="4">Horas extras</option>
            <option value="5">Días económicos</option>
            <option value="6">Registro de faltas</option>
        </select>
    </div>
</div>
