<div class="row titulosfijos mb-5 ml-2 mr-2" style="background-color: transparent;">
    <div class="col titulo-outlet">
        <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa"><button disabled>
            <i  aria-hidden="true" class="fas fa-bars"></i>
        </button></div> <label>INICIO</label>
    </div>
</div>
    <div class="row">
        <div class="col-7">
            <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="320">
                <div style="background-color: transparent;">
                    <div class="col-5 titulo-outlet-inicio">
                        <div class="col-2 menu-hamburgesa"></div> <label>CALENDARIO</label>
                    </div>
                </div>
                <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <app-calendario [eventos]="eventos" (salida)="recibirTabla($event)"></app-calendario>
                            </div>
                        </div>
                </div>

                </div>
                <div class="col text-right">
                    <button  type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
                  <i aria-hidden="true" class="fa fa-plus"></i>  Eventos
                </button>
                </div>
                <br>
            </div>
        </div>

        <div class="col-5">
            <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="320">
                <div style="background-color: transparent;">
                    <div class="col-5 titulo-outlet-inicio">
                        <div class="col-2 menu-hamburgesa"></div> <label>REPORTTES</label>
                    </div>
                </div>
                <div class="form-group row margen">


                    <div class="col-12" style="background-color: transparent;">
                        <div class="col-12 titulo-outlet-recuadros">
                            <div ></div> <label>CALENDARIO</label>
                        </div>
                    </div>


                </div>

                <div class="col text-right">
                    <button  type="button" class="btn btn-light button-outlet" >
                  <i aria-hidden="true" class="fa fa-plus"></i>  Reportes
                </button>
                </div>
                <br>
            </div>


       </div>
    </div>

    <div class="row">
        <div class="col-7">
            <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="440">
                <div style="background-color: transparent;">
                    <div class="col-5 titulo-outlet-inicio">
                        <div class="col-2 menu-hamburgesa"></div> <label>VISTOS RECIENTEMENTE</label>
                    </div>
                </div>

                <div class="form-group row margen">





                </div>

                <br>
            </div>
        </div>
    </div>


