<br><br>
<div class="scrooll-designempresa">
<div class="row">


  <div class="col-12 col-lg-12">
    <div id="accordionFiltro">

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button *ngIf="tamanio < 600" (click)="changeIconDown = !changeIconDown" style="width: 100%;"
                class="btn btn-link aparece-movil" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <label class="titulo" style="    width: 80%;
                float: left;
                text-align: left;">JORNADA LABORAL</label>
                <i *ngIf="changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                  class="fas fa-chevron-up "></i>
                <i *ngIf="!changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                  class="fas fa-chevron-down "></i>

              </button>
              <button *ngIf="tamanio >=600" class="btn btn-link aparece-desktop-inline-block">
                <label class="titulo">JORNADA LABORAL</label>
              </button>

            </h5>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
<div class="col-10">
<div *ngIf="aparecemodalito" [style.top]="scrolly" class="ventanaemergente" [style.width]="modalWidth">


  <div class="adentro">

    <button (click)="aparecemodalito = false"  type="button" class="close btnclosemodal" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div  class="header"><h5 class="titulo">JORNADA LABORAL</h5>
    
    </div>
  <hr>
  <div  class="body">


    <div *ngIf="cargandodetallegrupo" class="col text-center mb-5">
      <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
    </div>

   <div *ngIf="!cargandodetallegrupo">
    <table  class="table m-3 table-hober table-sm " style="width: 90%;">
      <thead>
        <tr>
          <th scope="col">Nombre de empleado</th>
          <th scope="col">Número de empleado</th>
          <th scope="col">Puesto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arreglodetalle">
          
          <td>{{item.nombre}} {{item.apellidom}} {{item.apellidop}}</td>
          <td>{{item.numeroemp}}</td>
          <td>{{item.puesto}}</td>
        </tr>
      </tbody>
    </table>
   </div>

  </div>
  <hr>
  <div  class="footer">
    <div class="row">
      <div class="col-12 text-center"><button (click)="aparecemodalito = false" type="submit" class="btn btn-primary button-fill agrandarloading">Cerrar</button></div>
    </div>
  </div>

  </div>
</div>
</div>
<div class="row" style="margin: 10px;">
  <div class="col-12 col-lg-12 text-right">
    <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
      <i class="fa fa-plus"></i> Agregar jornada
    </button>
  </div>
</div>


<div id="vetanaprincipaltabla"  class="row margen margen-tabla background-panel scrooll" style="position: relative;"  >

 <table *ngIf="!cargando && arreglo !== undefined" class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Nombre de jornada</th>
        <th scope="col">Tipo de jornada</th>
        <th scope="col">Número de empleados</th>
        <th scope="col ">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of arreglo;let indice = index;">
        <tr>
          <td>{{item.nombre}} </td>
          <td>{{item.descripcion}} </td>
          <td (click)="traerModal(indice)" style="color:  #00DED4">{{item.count}} </td>
          <td class="opciones">
            <button (click)="verdetalle(item)"><i class="icon_editar primary-bg"></i></button>
            <button (click)="eliminar(item)"><i class="icon_eliminar danger-bg"></i></button>
            <button (click)="apagando(indice); "><i *ngIf="!item.seleccionado" class="fas fa-chevron-down primary" style="font-size: 14px;
                margin: 9px;"></i><i *ngIf="item.seleccionado" class="fas fa-chevron-up primary" style="font-size: 14px;
                margin: 9px;"></i></button>

          </td>
        </tr>
        <tr *ngIf="item.seleccionado && item.cargandoDetalle" class="slide-in-bck-center">
          <td colspan="5"> <div  class="col text-center mb-5">
            <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
          </div></td></tr>
        <tr *ngIf="item.seleccionado && !item.cargandoDetalle" class="slide-in-bck-center">
          <td colspan="5">
            <div class="row mb-4">
              <article class="titulo  col">
                  Nombre de jornada
                  <article>{{item.nombre}}</article>
              </article>
              <article class="titulo   col">
                  Tipo de Jornada 
                  <article>{{item.descripcion}}</article>
              </article>
              <article class="titulo   col" >
                  Suma de horas para jornada
                  <article>8 horas</article>
              </article>
              <article class="titulo  col">
                Hora de entrada
                <article>09:00</article>
              </article>
          
          </div>
          <div class="row mb-4">

            <article class="titulo   col">
                Hora de salida
                <article>18:00</article>
            </article>
            <article class="titulo   col">
              Hora de inicio de comida
           <article>14:00</article>
          </article>

            <article class="titulo   col">
                 Hora fin de comida
              <article>15:00</article>
          </article>
          <article class="titulo   col"></article>
      </div>
      <div class="row mb-4">
        <article class="titulo  col">
          Días de trabajo :
         
        </article>
      </div>
      <div class="row mb-4">
        <article class="titulo   col">
          Lunes
            <article>{{item.lunes?"No":"Si"}}</article>
        </article>
        <article class="titulo   col">
          Martes
            <article>{{item.martes?"No":"Si"}}</article>
        </article>
        <article class="titulo   col">
          Miercoles
            <article>{{item.miercoles?"No":"Si"}}</article>
        </article>
        <article class="titulo   col">
          Jueves
            <article>{{item.jueves?"No":"Si"}}</article>
        </article>
    </div>
    <div class="row mb-4">
      <article class="titulo   col">
        Viernes
          <article>{{item.viernes?"No":"Si"}}</article>
      </article>
      <article class="titulo   col">
        Sabado
          <article>{{item.sabado?"Si":"No"}}</article>
      </article>
      <article class="titulo   col">
        Domingo
          <article>{{item.domingo?"Si":"No"}}</article>
      </article>
      <article class="titulo   col"></article>
    </div>

          </td>
        </tr>

         
        </ng-container>
  

    </tbody>
  </table>
  <div *ngIf="!cargando && arreglo === undefined" class="alert  col text-center">
    <strong>En este momento no existen registros</strong>
  </div>
  <div *ngIf="cargando" class="col text-center mb-5">
    <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
  </div>

</div>

</div>