.btnPersonalizado{
    background-color: transparent;
    i{
        background-color: #00c1af !important;
    }
}



table{
    border-radius: 10px;
}

.margen-tabla table{
    margin:15px;
}


td{
    color:rgb(49, 49, 49);

    button{
        border: 0px solid black;
        margin-left: 2px;
    }
}

