
  <div class="row margen">
      <div class="row"><label class="titulo">MOVIMIENTOS DEL EMPLEADO</label></div>
  </div>
  

  
    <div class="form group row margen">
      <div class=" input-group-sm mb-3 col-12 col-md-3 col-lg-3">
        <select placeholder="Tipo de documento" name="" class="form-control" [(ngModel)]="tipoMovimineto" id="tipoMoviminetoKardex">
          <option id="tipoMoviminetoKardex0" value="0" selected>Selecciona tipo movimiento</option>
          <option id="tipoMoviminetoKardex1" *ngFor="let item of arregloMovimientos"  [value]="item.movimientoId">{{item.movimiento}}
          </option>
        </select>
      </div>

      <div class=" input-group-sm mb-3 text-center col-12 col-sm-2 ">
        <button type="button" id="btnFiltarKardex" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
      </div>
  
    </div>
  
  
  
  <div class="row ">
       <div class="col">
  
        <div class="row margen">
          <div class="col titulo">
            <label>RESULTADOS</label>
          </div>
        </div>
        <div class="row margen margen-tabla background-panel">
          <app-tablapaginado [datos]="arreglotabla" [arreglotablaDesglose]="arreglotablaDesglose"   [cargando]="cargando" [desglosar]="true" (salida)="recibirTabla($event)" ></app-tablapaginado>
        </div>
  
      </div>
  </div>
