    <div class="margen">

        <div id="accordionFiltro">

            <div>
                <div class="card">
                    <div>
                        <h5 class="mb-0">
                            <button *ngIf="tamanio < 600" style="width: 100%;" class="btn aparece-movil" aria-expanded="true">
                                <label class="titulo" style="width: 80%; float: left; text-align: left;">BÚSQUEDA</label>
                            </button>
                            <button *ngIf="tamanio >=600" class="btn aparece-desktop-inline-block">
                                <label class="titulo">BÚSQUEDA</label>
                            </button>

                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" [ngClass]="{'show':tamanio >600}" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form group row margen">
                                <div class=" input-group-sm mb-3 col-12 col-md-6 col-lg-4 ">
                                    <input type="text" [(ngModel)]="nombre" id="nombreALS" class="form-control" placeholder="Nombre de apoderado legal">
                                </div>
                                <div class=" input-group-sm mb-3 col-12 col-md-6  col-lg-4">
                                    <input type="text" [(ngModel)]="apellidoPaterno" id="apellidoPaternoALS" class="form-control" placeholder="Primer apellido">
                                </div>
                                <div class=" input-group-sm mb-3 col-12 col-md-6  col-lg-4">
                                    <input type="text" [(ngModel)]="apellidoMaterno" id="apellidoMaternoALS" class="form-control" placeholder="Segundo apellido">
                                </div>
                                <div class=" input-group-sm mb-3 col-12 col-md-6  col-lg-4">
                                    <input type="email" [(ngModel)]="emailCorporativo" id="emailCorporativoALS" class="form-control " placeholder="Correo empresarial">
                                </div>
                                <div class=" input-group-sm mb-3 col-12 col-md-6 col-lg-4 ">
                                    <input type="text" [(ngModel)]="contactoInicialEmailPersonal" id="contactoInicialEmailPersonalALS" class="form-control" placeholder="Correo personal">
                                </div>
                                <div class=" input-group-sm mb-3 text-center col-12 col-sm-2 ">
                                    <button type="button" id="btnfiltrarAL" class="btn btn-primary button-outlet" (click)="filtrar()">Filtrar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="row margen">
        <div class="col titulo">
            <label>RESULTADOS</label>
        </div>
        <div *ngIf="!multiseleccion" class="row" style="  margin-top: 10px;  width: 100%;">
            <div class="col text-right">
                <button *ngIf="esRegistrar" type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i aria-hidden="true" class="icon_24agregar primary-bg"></i> Agregar apoderado legal
            </button>
            </div>
        </div>
    </div>
    <div class="row margen margen-tabla background-panel">
        <app-tablapaginado [datos]="arreglotabla" [editar]="esEditar" [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
    </div>
