<div class="row ml-2 mr-2 titulosfijos" style="background-color: transparent;">
    <div class="col titulo-outlet">
        <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa"><button disabled>
            <img src="assets/imgs/menu.png" alt="" srcset="">
        </button></div>

        <label><i aria-hidden="true" class="fas fa-chevron-left aparece-movil-inline-block"></i>{{modulo}} > {{subModulo}}</label>
    </div>
</div>


<div class="col-10" style="    z-index: 4;">
    <div *ngIf="aparecemodalito" [style.top]="scrolly" class="ventanaemergente" [style.width]="modalWidth">
        <div class="adentro">
            <button (click)="aparecemodalito = false" type="button" class="close btnclosemodal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <div class="header">
                <h5 class="titulo">{{evento.incidenciaDescripcion}}</h5>

            </div>
            <hr>
            <div class="body">


                <div *ngIf="cargandodetallegrupo" class="col text-center mb-5">
                    <img width="60px" height="60px" src="assets/imgs/loading_nomina.gif" alt="">
                </div>

                <div class="row">
                    <div *ngIf="evento.duracion" class=" col-12 ">
                        <label> {{evento.unidadMedidaId == 2?'Monto':'Días'}}: <span class="letramenos">{{evento.duracion}}</span></label>
                    </div>
                    <div class=" col-12 ">
                        <label>Fecha de inicio: <span class="letramenos">{{evento.fechaInicio}}</span></label>
                    </div>
                    <div class=" col-12 ">
                        <label>Fecha de termino: <span class="letramenos">{{(evento.fechaFin | date:'dd-MMM-yyyy')?.replace(".","")}}</span></label>
                    </div>
                    <div class=" col-12 ">
                        <label>Fecha de aplicación: <span class="letramenos">{{evento.fechaAplicacion | date:'dd-MMM-yyyy'}}</span></label>
                    </div>
                    <div *ngIf="evento.tipoIncidenciaId == 13 || evento.tipoIncidenciaId == 14" class=" col-12 ">
                        <label>Horas extras por {{evento.unidadMedidaId == 1?'Hora':'Monto'}}</label>
                    </div>
                    <div *ngIf="evento.tipoIncidenciaId == 13 || evento.tipoIncidenciaId == 14" class=" col-12 ">
                        <label>{{evento.unidadMedidaId == 1?'Horas: ':'Monto: '}}<span class="letramenos">{{evento.unidadMedidaId == 1?evento.heTiempo:evento.monto}}</span></label>
                    </div>
                    <div *ngIf="evento.monto && (evento.tipoIncidenciaId != 13 && evento.tipoIncidenciaId != 14)" class=" col-12 ">
                        <label>Monto: <span class="letramenos">{{evento.monto}}</span></label>
                    </div>
                    <div class=" col-12 ">
                        <label>Política: <span class="letramenos">{{evento.politicaNombre}}</span></label>
                    </div>
                    <div class=" col-12 ">
                        <label>Comentario: <span class="letramenos">{{evento.comentarios}}</span></label>
                    </div>
                </div>



            </div>
            <hr>
            <div class="footer">
                <div class="row">
                    <div class="col-12 text-center">
                        <button (click)="aparecemodalito = false" type="submit" class="btn btn-primary button-fill  ml-1">Cerrar</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="scrooll-design">
    <div class="margen ">

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="altas" role="tabpanel" aria-labelledby="home-tab">

                <div class="mt-2">

                    <div class="form-group margen row "><label class="titulo">BÚSQUEDA</label></div>
                    <div class="form group row margen">
                        <div class=" input-group-sm mb-3 col-3 ">
                            <input [(ngModel)]="nombre" formatos [especial]="true" [control]="nombre" type="text" class="form-control" placeholder="Nombre" id="NombreEventoS">
                        </div>
                        <div class=" input-group-sm mb-3 col-3 ">
                            <input [(ngModel)]="apellidoPaterno" formatos [especial]="true" [control]="apellidoPaterno" id="apellidoPaternoEventoS" type="text" class="form-control" placeholder="Primer apellido">
                        </div>
                        <div class=" input-group-sm mb-3 col-3 ">
                            <input [(ngModel)]="apellidoMaterno" formatos [especial]="true" [control]="apellidoMaterno" id="apellidoMaternoEventoS" type="text" class="form-control" placeholder="Segundo apellido">
                        </div>

                        <div class=" input-group-sm mb-3 col-3 ">
                            <select class="form-control" [(ngModel)]="tipoIncidenciaId" id="tipoIncidenciaIdS">
                                <option id="tipoIncidenciaId0S" value="0" selected>Evento</option>
                                <option id="tipoIncidenciaId1S" *ngFor="let item of arregloIncidenciaTipo" [value]="item.tipoIncidenciaId">{{item.descripcion}}</option>
                            </select>
                        </div>
                        <div class=" input-group-sm mb-3 text-right col-12 col-lg-2  col-xl-12 ">
                            <button type="submit" id="btnFiltrarEventosXEmpleado" class="btn btn-primary button-outlet " (click)="filtrar()">Filtrar</button>
                        </div>


                    </div>


                    <div class="row margen">
                        <div class="col titulo">
                            <label>RESULTADOS</label>
                        </div>
                        <div class="col text-right">
                            <button *ngIf="esRegistrar" type="button" class="btn btn-light button-outlet" (click)="agregar()">
                              <i aria-hidden="true" class="icon_24agregar primary-bg"></i> Agregar evento
                            </button>
                        </div>
                    </div>


                    <div class="row   margen-tabla background-panel " id="vetanaprincipaltabla">
                        <app-tablapaginado [datos]="arreglotabla" [cargando]="cargando" (salida)="recibirTabla($event)" [eliminar]="esRegistrar" [ver]="true"></app-tablapaginado>
                    </div>




                </div>

            </div>

        </div>


    </div>
</div>