<div class="row margen">
  <div class="col titulo-outlet">
      <label >CONFIGURACIÓN DE COMPAÑIA</label>
  </div>
</div>


<hr>


<form>
  <input type="hidden" formControlName="id">

  <div class="background-panel margen" >
    <br>
      <div class="form-group row margen"><label class="titulo">INFORMACIÓN DE COMPAÑIA</label></div>
      <div class="form-group row margen">
      
          <div class=" input-group-sm mb-3 col-4 ">
              <label for="nombrecompania">Nombre de la compañia *</label>
              <input type="text" class="form-control" id="nombrecompania" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="razonsocial">Razón social *</label>
              <input type="text" class="form-control" id="razonsocial" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="rfc">RFC *</label>
              <input type="text" class="form-control" id="rfc" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="estatus">Estatus *</label>
              <input type="text" class="form-control" id="estatus" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
            <label for="logo">logo</label>
            <input type="file" class="form-control" id="logo" aria-describedby="emailHelp"
                placeholder="">

        </div>
      </div>
  </div>
  <div class="text-center margin">
      
    <button type="button" class="btn btn-primary button-fill">Guardar</button>
  </div>

</form>
 <br> 
 <form>

  <input type="hidden" formControlName="id">
  <div class="background-panel margen">
    <br>
      <div class="form-group row margen"><label class="titulo">INFORMACIÓN DE CONTACTO</label></div>
      <div class="form group row margen">

          <div class=" input-group-sm mb-3 col-4">
              <label for="nombre">Nombre *</label>
              <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="apellidopaterno">Apellido paterno *</label>
              <input type="text" class="form-control" id="apellidopaterno" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="apellidomaterno">Apellido materno</label>
              <input type="text" class="form-control" id="apellidomaterno" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class=" input-group-sm mb-3 col-4">
              <label for="curp">CURP</label>
              <input type="text" class="form-control" id="curp" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class="input-group-sm mb-3 col-4">
              <label for="correoempresarial">Correo empresarial *</label>
              <input type="email" class="form-control" id="correoempresarial" aria-describedby="emailHelp"
                  placeholder="">
  
          </div>
          <div class="input-group-sm mb-3 col-4">
            <label for="correopersonal">Correo personal *</label>
            <input type="text" class="form-control" id="correopersonal" aria-describedby="emailHelp"
                placeholder="">

        </div>
        <div class="input-group-sm mb-3 col-4">
          <label for="telefono">Teléfono *</label>
          <input type="number" class="form-control" id="telefono" aria-describedby="emailHelp"
              placeholder="">

      </div>
      <div class="input-group-sm mb-3 col-4">
        <label for="fecharegistro">Fecha de registro</label>
        <input type="date" class="form-control" id="fecharegistro" aria-describedby="emailHelp"
            placeholder="">

    </div>

      </div>
  
  
  </div>

<div class="text-center margin" style="margin-bottom: 20px;">
    <button [disabled]="myForm.valid" type="submit" class="btn btn-primary button-fill">Guardar</button>
</div>   

</form>
