<div class="row margen">
  <div class="col titulo-outlet">
    <label><i class="fas fa-chevron-left aparece-movil-inline-block" routerLink="/company"></i>CONFIGURACIÓN DE
      CLIENTE</label>
  </div>
</div>


<hr>


<form [formGroup]="myFormcomp" (ngSubmit)="enviarPeticioncomp()">

  <input type="hidden" formControlName="centrocClienteId">

  <div class="background-panel margen background-ajustar" appTamanioVentana>
    <div class="form-group row margen">
      <label class="titulo">INFORMACIÓN DEL CLIENTE</label>
    </div>
    <div class="form-group row margen">

        <div class="col-12 col-md-12 col-xl-9">
          <div class="row">
            <div class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4  ">
              <label>Nombre del cliente *</label>
              <input #nombre formControlName="nombre" type="text" class="form-control"
                [ngClass]="{'is-invalid':f.nombre.errors && submitEnviado}" placeholder="">
              <div *ngIf="f.nombre.errors && submitEnviado" class="invalid-feedback">
                Campo requerido
              </div>

            </div>
            <div class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4  ">
              <label >Razón social *</label>
              <input formControlName="razonSocial" type="text" class="form-control"
                [ngClass]="{'is-invalid':f.razonSocial.errors && submitEnviado}" placeholder="">
              <div *ngIf="f.razonSocial.errors && submitEnviado" class="invalid-feedback">
                Campo requerido
              </div>

            </div>
            <div style="padding-top: 35px;" class="input-group-sm  col-12 col-sm-12 col-md-4 col-lg-4">
              <label class="contenedorInputCheckRadio">Multiempresa
                <input (change)="cambiarMultiempresa()" formControlName="multiempresa" type="checkbox" name="" id="multiempresa">
                <span class="checkmark"></span>
              </label>
            </div>
            <div  class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4 ">
              <label>RFC *</label>
              <input formControlName="rfc" maxlength="13" type="text" class="form-control"
                [ngClass]="{'is-invalid':f.rfc.errors && submitEnviado}">
              <div *ngIf="f.rfc.errors?.required && submitEnviado" class="invalid-feedback">
                Campo requerido
              </div>
              <div *ngIf="f.rfc.errors?.pattern && f.rfc.touched" class="invalid-feedback">
                Formato de RFC inválido, favor de verificar.
              </div>

            </div>
            

            <div class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4 ">
              <label>Fecha de registro en el sistema *</label>
              <input formControlName="fechaAlta" type="text" class="form-control" placeholder="">

            </div>

            <div class="input-group-sm mb-4 col-12 col-sm-12 col-md-6 col-lg-4 ">
              <label for="exampleFormControlSelect1">Estatus</label>
              <select formControlName="esActivo" class="form-control">
                <option value="true" selected>ACTIVO</option>
                <option value="false">INACTIVO</option>
              </select>
            </div>
            <div class="input-group-sm mb-3 col-12 col-sm-12 col-md-4 col-lg-4"></div>
            
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-2">
          <div class=" input-group-sm mb-3 col-12">
            <label>Logo</label>
            <app-subirarchivo [cargando]="cargandoImg" (emiteimagen)="recibirImagen($event)"  [recibiendoImagen]="objCompany.url"></app-subirarchivo>
          </div>
        </div>
    </div>


    <hr>
      <div *ngIf="listcontacto" class="row  margen margen-tabla">
      <div class="form-group row margen">
        <label class="titulo">LISTA DE CONTACTOS</label>
      </div>
      <div class="form-group row" style="width: 100%;">
        <div class="row" style="  margin-top: 10px;  width: 100%;">
          <div class="col text-right">
            <button  type="button" class="btn btn-light" style="background: #56dfd4;
            color: white;" (click)="verdetallecont(undefined)">
              <i class="fa fa-plus"></i>Agregar contacto
            </button>
          </div>
        </div>
        <app-tablapaginado [datos]="arreglotabla" [editar]="true"  [cargando]="cargando" (salida)="recibirTabla($event)"></app-tablapaginado>
      </div>
    
  </div>

  </div>
  <div  class="text-center margin" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red"
      (click)="cancelarcomp()">Cancelar</button>
    <button type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
  </div>

</form>



