<div class="wrapper">


    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../../../../assets/imgs/logo2.png" alt="" srcset="">
        </div>

        <ul class="list-unstyled components">
            <p>Inicio</p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <img src="../../../../assets/icons/ICO_home.svg" alt=""> INICIO</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle "><img src="../../../../assets/icons/ICO_nominas.svg" alt="">  NOMINAS</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                </ul>
            </li>
            <li>
                <a href="#menunomina" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle "><img src="../../../../assets/icons/ICO_empleados.svg" alt="" srcset=""> EMPLEADOS</a>
                <ul class="collapse list-unstyled" id="menunomina">
                    <li>
                        <a href="#">COMPLETAR</a>
                    </li>
                    <li>
                        <a href="#">LISTA</a>
                    </li>
                    <li>
                        <a href="#">DAR DE ALTA</a>
                    </li>
                    <li>
                        <a href="#">DAR DE BAJA</a>
                    </li>
                    <li>
                        <a href="#">DIRECTORIO</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><img src="../../../../assets/icons/ICO_eventos.svg" alt="" srcset="">EVENTOS</a>
            </li>
            <li>
                <a href="#"><img src="../../../../assets/icons/ICO_imss.svg" alt="" srcset="">IMSS</a>
            </li>
            <li>
                <a href="#"><img src="../../../../assets/icons/ICO_reportes.svg" alt="" srcset="">REPORTES</a>
            </li>
            <li>
                <a href="#"><img src="../../../../assets/icons/ICO_perfil.svg" alt="" srcset="">  MI PERFIL</a>
            </li>
        </ul>
    </nav>


    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light" >
            
    
                <form style="width: 100%;
                color: white;"  class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Buscar"
                  aria-label="Search">
              </form>
    
            
        </nav>

        
        <div class="container content-inside ">


            
            <router-outlet></router-outlet>
        </div>
        

        
    </div>
  
</div>

<div class="chaticon">
    <img width="40px" height="40px" src="../../../../assets/imgs/ICO_CHAT.png" alt="">
</div>


