
<div class="wrapper">
   
    

    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../../../../assets/imgs/logo2.png" alt="" srcset="">
        </div>

        <ul class="list-unstyled components">
            <p>Inicio</p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="icon_home"></i> INICIO</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle "><i class="icon_nominas"></i>  NOMINAS</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                </ul>
            </li>
            <li>
                <a href="#menunomina" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle "><i class="icon_empleados"></i> EMPLEADOS</a>
                <ul class="collapse list-unstyled" id="menunomina">
                    <li>
                        <a href="#">COMPLETAR</a>
                    </li>
                    <li>
                        <a href="#">LISTA</a>
                    </li>
                    <li>
                        <a href="#">DAR DE ALTA</a>
                    </li>
                    <li>
                        <a href="#">DAR DE BAJA</a>
                    </li>
                    <li>
                        <a href="#">DIRECTORIO</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon_eventos"></i>  EVENTOS</a>
            </li>
            <li>
                <a href="#"><i class="icon_imss"></i>IMSS</a>
            </li>
            <li>
                <a href="#"><i class="icon_reportes"></i>REPORTES</a>
            </li>
            <li>
                <a href="#"><i class="icon_perfil"></i>  MI PERFIL</a>
            </li>
        </ul>
    </nav>


    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light" >
            
    
                <form style="width: 100%;
                color: white;"  class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Buscar"
                  aria-label="Search">
              </form>
    
            
        </nav>

        
        <div class="container content-inside ">


            
            <router-outlet></router-outlet>
        </div>
        

        
    </div>
  
</div>
<div class="chaticon">
    <img width="40px" height="40px" src="../../../../assets/imgs/ICO_CHAT.png" alt="">
</div>


