
.backgroundchat{
    background-color: white;
    width: 200px;
    height: 200px;
}
.desaparecer{
    display: block;
    @media only screen and (max-width : 600px)
    {
        display: none;
    }
}


#listanavegadora{
  height: calc(100% - 188px);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0px;
  }

  li:first-child a{
        border-top-left-radius: 19px;     
  }
}

#salirbtn{
  // position: sticky;
  // bottom: 0;
  background-color: white;
}
.responsivo{

    display: none;
    @media only screen and (max-width : 600px)
  {
    display: block;
    button{
        background: transparent !important;
    color: var(--principal)!important;
    border: 0 !important;
      i{
          font-size: 16px !important;  
      }
    }
  }
}

.text-right{
    button{
        background: transparent!important;
        color:white!important;
        border:0;
    }
}

.backgroundresponsive{
    display: none;

    @media only screen and (max-width : 600px)
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        display: block;
        z-index: 4;
        background: #ffffffc6;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    }

  
}


.imgescritorio{
    display: block;
    @media only screen and (max-width : 600px)
    {
        display: none;
    }
}

.imgmovil{
    display: none;
    @media only screen and (max-width : 600px)
    {
        display: block;
    }
}


.ocultarMenu{
    display: none;
}

.ocultar{
        display: none;
}


.scrollhide{
        overflow: hidden!important;
}






  
  
  
  



#salir{
  list-style: none;
    padding-left: 2px;
   
}


.heartbeat {
	-webkit-animation: heartbeat 2s steps(10, end) infinite both;
	        animation: heartbeat 2s steps(10, end) infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-6-2 16:44:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}




