<div class="contenido_component">

    <div class="wrapper" >
        <div (click)="mostrarmenu = false" class="backgroundresponsive" [ngClass]="{'backgroundresponsive':mostrarmenu}"></div>
        <nav id="sidebar" [ngClass]="{'sidebarMenu':mostrarmenu}">
            <div class="col-2 responsivo" ><button style="    margin-left: 16px;
                margin-top: 7px;" (click)="mostrarmenu = false" >
                <i class="fas fa-bars"></i>
            </button></div>
            <div class="sidebar-header imgmovil">
                <img src="assets/imgs/logo.png" alt="" srcset="">
            </div>
            <div class="sidebar-header imgescritorio">
                <img src="assets/imgs/logo2.png" alt="" srcset="">
            </div>
            <ul id="listanavegadora" class="list-unstyled components">
                <li *ngFor="let item of arreglo" [ngClass]="{'active':item.seleccionado,'ocultarMenu':!item.rol?.includes(rol)}">
                    <a [routerLink]="item.routerLink" (click)="seleccionado(item)" [ngClass]="{'dropdown-toggle':true}">
                        <i [class]="item.icono"></i>
                        {{item.nombre}}</a>
                    <ul [ngClass]="{'list-unstyled collapse':true,'show':item.seleccionadosubmenu}" [id]="item.nombre">
                        <li *ngFor="let item2 of item.submenu" [ngClass]="{'ocultarMenu':!item2.rol?.includes(rol)}" (click)="seleccionarSubmenu(item,item2)">
                            <a [routerLink]="item2.routerLink">{{item2.nombre}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="contenido" class="content" [ngClass]="{'scrollhide':modal.modal || emergente.modal}" style="position: relative;">
            <nav  class="navbar navbar-expand-lg navbar-light">
            
                <div class="col-2 responsivo"><button (click)="mostrarmenu = true" >
                    <i class="fas fa-bars"></i>
                </button></div>
                <div class="col-2 aparece-desktop"></div>
                <div class="col-5"></div>
                <div class="col-5 text-right">
                    <!-- <button><i class="fas fa-search"></i></button>
                    <button><i class="fas fa-question"></i></button> -->
                </div>
            </nav>
            <div class="container-fluid" >
                <router-outlet></router-outlet>

                <app-alert-questions *ngIf="modal.modal" [titulo]="modal.strTitulo" [iconType]="modal.iconType" (eventoFunciones)="recibir($event)"></app-alert-questions>
                <app-ventanaemergenteprincipal *ngIf="emergente.modal" [titulo]="emergente.titulo" [mostrar]="mostrar" (salida)="recibirEmergente($event)"></app-ventanaemergenteprincipal>
                
            </div>
        </div>
    </div>
    <div class="chaticon">
        <img width="40px" height="40px" src="assets/imgs/ICO_CHAT.png" alt="">
    </div>
    <app-chatboot></app-chatboot>
</div>
