@import '../../../../styles.scss';

.content{
    background-color: $fondo;
    width: 100%;
    border-radius: 25px;
    height: 90vh;
    margin-top: 5vh;
    overflow: auto;
    margin-right: 24px;
}

.content::-webkit-scrollbar{
    width: 0 !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    height: 100vh !important;
    overflow: hidden;
}



#sidebar {
    min-width: 253px;
    max-width: 253;
    min-height: 100vh;
    height: 100vh;
    

    overflow-y: scroll;
}

#sidebar::-webkit-scrollbar {
    width: 0 !important;
}
#sidebar.active {
    margin-left: -250px;
    
    
}

a[data-toggle='collapse'] {
    position: relative;
}

.dropdown-toggle::after {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: white;
    color: $dark;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
    text-align: center;
    margin: 19px;
}

#sidebar ul.components {
    padding: 20px 0;
    
    margin-top: -50px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: left;

   
}
#sidebar ul li a:hover {
    color: $primary;
    background: #fff;
    
    i{
        background-color: $primary;
    }

  
}



#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: $primary;
    background: white;
    border-style: solid;
    width: 253px;
    border-width: 2px;
    text-align: left;
    border-radius: 20px;
    font-size: 16px;


    i{
        background-color: $primary;
    }

}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 60px !important;
    background: white;
    color:black

}

.cabecera{
    width: 100% !important;
    color: white !important;
}



.chaticon{
    position: sticky;
    bottom: 5%;
    right: 100px;
    text-align: right;
    z-index: -1;
}

.chaticon img{
    margin-right: 34px;
    margin-bottom: 12px;
}






.sidebar-header img{
    max-width: 150px;
    height: auto;
    
}


  a{
    display: flex;
    flex-direction: row;
  }

