<br>
<div >
   
     <div class="row margen">
        <div class="col titulo">
            <label >RESULTADOS</label>
        </div>
        <div class="row" style="  margin-top: 10px;  width: 100%;">
          <div class="col text-right">
            <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
              <i class="fa fa-plus"></i> Agregar cuenta bancaria
            </button>
          </div>
        </div>
    </div>

    <div id="vetanaprincipaltabla"  class="row margen margen-tabla background-panel scrooll" style="position: relative;"  >
            <table *ngIf="!cargando && arreglo !== undefined" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Nombre cuenta</th>
                  <th scope="col">No. Cuenta</th>
                  <th scope="col">Cuenta CLABE</th>
                  <th scope="col " >Acciones</th>
                </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of arreglo;let indice = index;">
                    <tr>
                      <td >{{item.nombreCuenta}} </td>
                      <td >{{item.numeroCuenta}} </td>
                      <td>{{item.clabe}} </td>
                        <td class="opciones">
                          <button (click)="verdetalle(item)"><i class="fas fa-pen primary"></i></button>
                          <button (click)="eliminar(item)"><i class="icon_eliminar danger-bg"></i></button>
                          <button (click)="apagando(indice); "><i *ngIf="!item.seleccionado" class="fas fa-chevron-down primary" style="font-size: 14px;
                              margin: 9px;"></i><i *ngIf="item.seleccionado" class="fas fa-chevron-up primary" style="font-size: 14px;
                              margin: 9px;"></i></button>
                        </td>
                      </tr>

                      <tr *ngIf="item.seleccionado" class="slide-in-bck-center">
                        <td colspan="5">
                          <div class="row mb-4">
                            <article class="titulo  col">
                                Banco
                                <article>{{item.bancoId.razonSocial}}</article>
                            </article>
                            <article class="titulo   col">  
                              Descripción
                              <article>{{item.descripcion}}</article>
                            </article>
                        
                        </div>
                        <div class="row mb-4">
                          <article class="titulo  col">
                            Número de información
                            <article>{{item.numInformacion}}</article>
                          </article>
                          <article class="titulo   col">
                            Número de sucursal
                            <article>{{item.numSucursal}}</article>
                          </article>
                      
                      </div>
                      </td>
                      </tr>
              
                    </ng-container>              
                </tbody>
              </table>
              <div *ngIf="!cargando && arreglo === undefined" class="alert alert-warning col text-center">
                <strong>Sin empresas</strong> La tabla de empresas esta vacía.
              </div>
              <div *ngIf="cargando" class="col text-center mb-5">
                <img width="60px" height="60px" src="../../../../../assets/imgs/loading_nomina.gif" alt="">
              </div>
    </div>
    
  </div>

  <app-alert-questions *ngIf="modal" [titulo]="strTitulo" [iconType]="iconType" (eventoFunciones)="recibir($event)"></app-alert-questions>

  
  
  
  
  