<div class="scrooll-designempresa">

<div class="mt-3">
  <div class="row margen">
    <div class="col titulo">
      <label>RESULTADOS</label>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
        <i class="fa fa-plus"></i> Agregar cuenta bancaria
      </button>
    </div>
  </div>
  <div class="row margen margen-tabla background-panel scrooll">
    <app-tablapaginado [datos]="arreglotabla" [editar]="true" [ver]="true" [cargando]="cargando" (salida)="recibirTabla($event)">
    </app-tablapaginado>
  </div>
</div>


</div>