<br><br>
<div>

  <div class="row margen">
    <div class="col titulo-outlet">
      <label>LISTA DE CUENTAS BANCARIAS</label>
    </div>
  </div>


  <div class="row margen">
    <div class="col titulo">
      <label>RESULTADOS</label>
    </div>
  </div>
  <div class="row margen margen-tabla background-panel scrooll">
    <div class="row" style="  margin-top: 10px;  width: 100%;">
      <div class="col text-right">
        <button type="button" class="btn btn-light button-outlet" (click)="verdetalle(undefined)">
          <i class="fa fa-plus"></i>Agregar
        </button>
      </div>

    </div>

    <div *ngIf="!cargando && arreglo !== undefined" class="row margen" style="margin-bottom: -25px;">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Elementos</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option value="2" selected>2</option>
          <option value="20" selected>20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>

      </div>
    </div>

    <table *ngIf="!cargando && arreglo !== undefined" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre cuenta</th>
          <th scope="col">No. Cuenta</th>
          <th scope="col" *ngIf="tamanio >=600">Nombre Banco</th>
          <th scope="col" *ngIf="tamanio >=600">Cuenta CLABE</th>
          <th scope="col " >Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arreglo;">
          <td >{{item.nombrecuenta}} </td>
          <td style="color:  #00DED4">{{item.nocuenta}} </td>
          <td>{{item.nombrebanco}} </td>
          <td>{{item.cuentaclabe}} </td>
          <td  class="opciones">
            <button (click)="verdetalle(item)" class="btnPersonalizado"><i
                class="icon_ver text-center bg-light"></i></button>
            <button (click)="verdetalle(item)" class="btnPersonalizado"><i
                class="icon_editar text-center bg-light"></i></button>
          </td>
        </tr>



      </tbody>
    </table>
    <div *ngIf="!cargando && arreglo === undefined" class="alert alert-warning col text-center">
      <strong>Sin usuarios</strong> La tabla de cuentas bancarias esta vacía.
    </div>
    <div *ngIf="!cargando && arreglo !== undefined" class="row" style="width: 100%;">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Antes</a>
            </li>
            <li class="page-item "><a class="page-link">1</a></li>
            <li class="page-item disabled">
              <a class="page-link">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div *ngIf="cargando" class="col text-center mb-5">
      <img width="60px" height="60px" src="../../../../../assets/imgs/loading_nomina.gif" alt="">
    </div>
  </div>



</div>