<div class="row margen">
    <ul class="nav nav-tabs" role="tablist"  id="navegadorTabsEncab">
        <div (click)="configuracion.menu = !configuracion.menu" class="col-2 menu-hamburgesa" style="margin-left: 13px;"><button disabled>
            <img src="assets/imgs/menu.png" alt="" srcset="">
        </button>
        </div>  
        <li ><a routerLinkActive="active"  routerLink="/inicio" class="nav-link" data-toggle="tab"  role="tab" 
            > {{modulo}}</a>
        </li>
        <li >
            <a routerLinkActive="active" class="nav-link" data-toggle="tab"  role="tab" 
            (click)="regresar()" >{{subModulo}}</a>
        </li>
        <li style="padding-top: 10PX;">
            CONFIGURACIÓN DE NOTICIA
        </li>
    </ul> 
</div>

<hr>

<form [formGroup]="formulario" (ngSubmit)="enviarPeticion()">

    <div class="background-panel margen background-ajustar" appTamanioVentana [pixeles]="190">

        <div class="form-group row margen">
            <label class="titulo">DETALLE DE LA NOTICIA</label>
        </div>

        <div class="form-group row margen">

            <div class="col-12 col-md-12 col-xl-9">
                <div class="row">

                    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4  ">
                        <label for="titulo">Título de la noticia *</label>
                        <input #titulo id="titulo" formControlName="titulo" type="text" class="form-control"
                            [ngClass]="{'is-invalid':f.titulo.errors && submitEnviado}"
                            placeholder="{ej. !Feliz cumpleaños!}">
                        <div *ngIf="f.titulo.errors && submitEnviado" class="invalid-feedback" style="display: block">
                            {{parseErrors(f.titulo.errors)}}
                        </div>
                    </div>

                    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4  ">
                        <label for="subtitulo">Subtítulo de la noticia</label>
                        <input id="subtitulo" formControlName="subtitulo" type="text" class="form-control"
                            [ngClass]="{'is-invalid':f.subtitulo.errors && submitEnviado}"
                            placeholder="{ej. University of Michigan}">
                        <div *ngIf="f.subtitulo.errors && submitEnviado" class="invalid-feedback"
                            style="display: block">
                            {{parseErrors(f.subtitulo.errors)}}
                        </div>
                    </div>

                    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4 ">
                        <label for="fechaAlta">Fecha de registro en el sistema *</label>
                        <input formControlName="fechaAlta" type="text" class="form-control" placeholder="">
                    </div>

                    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4 ">
                        <label for="fechaInicio">Fecha de inicio de publicación *</label>
                        <input formControlName="fechaInicio" type="date" class="form-control" placeholder="">
                        <div *ngIf="f.fechaInicio.errors && submitEnviado" class="invalid-feedback"
                            style="display: block">
                            {{parseErrors(f.fechaInicio.errors)}}
                        </div>
                    </div>

                    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4 ">
                        <label for="fechaFin">Fecha de fin de publicación *</label>
                        <input formControlName="fechaFin" type="date" min="{{minimo | date:'yyyy-MM-dd'}}"
                            class="form-control" placeholder="">
                        <div *ngIf="f.fechaFin.errors && submitEnviado" class="invalid-feedback" style="display: block">
                            {{parseErrors(f.fechaFin.errors)}}
                        </div>
                    </div>

                    <div class="input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4 ">
                        <label for="categoria">Categoría *</label>
                        <select formControlName="categoria" class="form-control" (ngModelChange)="validarImagen()">
                            <option value="1">BANNER</option>
                            <option value="2">CELEBRACIONES</option>
                            <option value="3">NOTICIAS</option>
                            <option value="4">ESTILO DE VIDA</option>
                            <option value="5">CURSO</option>
                            <option value="6">CAPACITACION</option>
                        </select>
                        <div *ngIf="f.categoria.errors && submitEnviado" class="invalid-feedback"
                            style="display: block">
                            {{parseErrors(f.categoria.errors)}}
                        </div>
                    </div>

                    <div [style.display]="puedeSeleccionarEmpresa() ? 'block' : 'none'"
                        class="input-group-sm mb-3 col-12 col-sm-12 col-md-6 col-lg-4 ">
                        <label for="empresa">Empresa *</label>
                        <select formControlName="empresa" class="form-control">
                            <option *ngFor="let empresa of empresas" [value]="empresa.centrocClienteId">
                                {{empresa.razonSocial}}</option>
                        </select>
                        <div *ngIf="f.empresa.errors && submitEnviado" class="invalid-feedback" style="display: block">
                            {{parseErrors(f.empresa.errors)}}
                        </div>
                    </div>

                    <div class=" input-group-sm col-12" style="display: none;">
                        <label for="contenido">Contenido de la noticia</label>
                        <textarea (ngModelChange)="actualizarPreview()" id="contenido" formControlName="contenido"
                            rows="8" class="form-control" [ngClass]="{'is-invalid':f.contenido.errors && submitEnviado}"
                            placeholder="{ej. <h3>Encabezado de publicidad</h3>}"></textarea>
                    </div>

                    <div *ngIf="!!noticia" class=" input-group-sm col-12" style="display: none;">
                        <div class="cm-noticia-preview" [innerHTML]="noticia">
                        </div>
                    </div>

                    <div class="input-group-sm mb-3 col-12 col-sm-12 col-md-4 col-lg-4"></div>
                </div>
            </div>
            <div *ngIf="requiereImagen" class="col-12 col-md-12 col-xl-3">
                <div class=" input-group-sm mb-3 col-12"
                    style="display: flex; flex-direction: column; align-items: center;">
                    <label>Imagen</label>
                    <span style="font-size: 8pt;">Tamaño recomendado: {{tamanioRecomendado}}</span>
                    <app-subirarchivo [cargando]="cargandoImg" (emiteimagen)="recibirImagen($event)"
                        [recibiendoImagen]="imagenCargada"></app-subirarchivo>
                </div>
                <div *ngIf="requiereImagen && !tieneImagen && submitEnviado" class="invalid-feedback"
                    style="display: block; text-align: center;">
                    Campo requerido.
                </div>
            </div>
        </div>
    </div>
    <div class="text-center margin" style="margin-bottom: 20px;">
        <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red"
            (click)="regresar()">Cancelar</button>
        <button type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
    </div>

</form>