.margen{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.button-outlet{
    background-color: transparent!important;
}

.titulo{
    margin-top: 1em;
}


table{
    border-radius: 10px;
}


.margen-tabla table{
    margin:15px;
}


td{
    color:rgb(49, 49, 49);

    button{
        border: 0px solid black;
        margin-left: 2px;
    }
}


.acomodando{

    width: 100%;
    height: 100%;


    text-align: center;

    

}



.botonmultiseleccion{
    margin: auto;
    height: 59px;
}

.agrandarloading{
    width: 7em;
}


.scrooll{
    overflow: auto;
}

.btnPersonalizado{
    background-color: transparent;
    i{
        background-color: #00c1af !important;
    }
}

.ocultar{
    display: none;
}





div.cm-noticia-preview {
    
    display: flex;
    flex: 1;
    padding: 2rem;
    flex-direction: column;
    background-color: #022538;
    max-height: 14rem;
    overflow-y: auto;
    margin: 1rem 0;
    border-radius: 1rem;
    border: solid 4px #00DED4;

    h1, h2, h3, h4, h5, span, p {
        color: white;
    }

    hr {
        background-color: white !important;
    }
}