<form [formGroup]="myForm" class="form-desing" (ngSubmit)="enviarPeticion()">
    <input type="hidden">
    <div class="form-group row">
        <div class="input-group-sm mb-3 col-4">
            <label for="exampleFormControlSelect1">Tipo de percepción *</label>
            <select #tipo  formControlName="tipoPeriodicidadId" class="form-control"
                [ngClass]="{'is-invalid':myForm.controls.tipoPeriodicidadId.errors && submitEnviado}">
                <option value="1">Periódica</option>
                <option value="2">Estándar</option>
            </select>
            <div *ngIf="myForm.controls.tipoPeriodicidadId.errors && submitEnviado" class="invalid-feedback">
                Campo requerido
            </div>
        </div>

        <div class="input-group-sm mb-3 col-4">
            <label for="exampleFormControlSelect1">Nombre de percepción *</label>
            <select #tipoPercepcion formControlName="nomPercepcion" type="text" class="form-control"
                [ngClass]="{'is-invalid':myForm.controls.nomPercepcion.errors && submitEnviado}">
                <option *ngFor="let item of nombrePercepcion" [value]="item.tipoPercepcion">{{item.nombre}}</option>
            </select>
            <div *ngIf="myForm.controls.nomPercepcion.errors && submitEnviado" class="invalid-feedback">
                Campo requerido
            </div>
        </div>

        <div class="input-group-sm mb-3 col-4">
            <label>Fecha inicio de percepción *</label>
            <input formControlName="fechaInicio" type="date" class="form-control"
                [ngClass]="{'is-invalid':myForm.controls.fechaInicio.errors && submitEnviado}">
                <div *ngIf="myForm.controls.fechaInicio.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>
        </div>
        <div class="input-group-sm mb-3 col-12"></div>
        <div class=" input-group-sm mb-3 col-4">
            <label for="exampleFormControlSelect1">Tipo de monto *</label>
            <select #tipoMonto formControlName="baseCalculoId" type="text"
                class="form-control" [ngClass]="{'is-invalid':myForm.controls.baseCalculoId.errors && submitEnviado}">
                <option *ngFor="let item of arregloTipoMonto" [value]="item.baseCalculoId">{{item.descripcion}}</option>
            </select>
            <div *ngIf="myForm.controls.baseCalculoId.errors && submitEnviado" class="invalid-feedback">
                Campo requerido
            </div>
        </div>

        <div *ngIf="estandar" class="  input-group-sm mb-3 col-4">
            <label *ngIf="porcentual">Porcentaje *</label>
            <label *ngIf="fijo">Monto *</label>
            <input *ngIf="porcentual" formatos [moneda]="false" [numerosDecimales]="true"  formControlName="porcentaje" type="text" class="form-control"
                [ngClass]="{'is-invalid':myForm.controls.porcentaje.errors && submitEnviado && porcentual}">
            <input *ngIf="fijo" formControlName="porcentaje" formatos [moneda]="true" [control]="f.porcentaje"
                type="text" class="form-control"
                [ngClass]="{'is-invalid':myForm.controls.porcentaje.errors && submitEnviado && fijo}">
                <div *ngIf="myForm.controls.porcentaje.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>
        </div>
        <div *ngIf="periodica" class="  input-group-sm mb-3 col-4">
            <label>Monto total de percepción *</label>
            <input formatos [moneda]="true" formControlName="montoPercepcion" type="text" class="form-control"
                [ngClass]="{'is-invalid':myForm.controls.montoPercepcion.errors && submitEnviado}">
                <div *ngIf="myForm.controls.montoPercepcion.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>
        </div>
        
        <div *ngIf="periodica" class="  input-group-sm mb-3 col-4">
            <label>Número de períodos *</label>
            <input appSolonumeros formControlName="numeroPeriodos" type="text" class="form-control" placeholder=""
                [ngClass]="{'is-invalid':myForm.controls.numeroPeriodos.errors && submitEnviado}">
                <div *ngIf="myForm.controls.numeroPeriodos.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>
        </div>
        <div *ngIf="periodica" class="  input-group-sm mb-3 col-4">
            <label>Monto por período *</label>
            <input formatos [moneda]="true" [control]="f.montoPorPeriodo" formControlName="montoPorPeriodo" type="text"
                class="form-control"
                [ngClass]="{'is-invalid':myForm.controls.montoPorPeriodo.errors && submitEnviado}">
                <div *ngIf="myForm.controls.montoPorPeriodo.errors && submitEnviado" class="invalid-feedback">
                    Campo requerido
                </div>
        </div>

        <div *ngIf="periodica" class="  input-group-sm mb-3 col-4">
            <label>Referencia </label>
            <input formControlName="referencia" maxlength="50" type="text" class="form-control">

        </div>
        <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
            <label>Estatus *</label>
            <select name="" class="form-control" formControlName="esActivo"
                [ngClass]="{'is-invalid':myForm.controls.esActivo.errors && submitEnviado}">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
            <div *ngIf="myForm.controls.esActivo.errors && submitEnviado" class="invalid-feedback">
                Campo requerido
            </div>
        </div>
    </div>
    <div class="text-right margin" style="margin-bottom: 20px;">
        <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
        <button type="submit" class="btn btn-primary button-fill">Guardar</button>
    </div>

</form>