<form [formGroup]="myForm" class="form-desing" (ngSubmit)="enviarPeticion()">
    <input type="hidden">
<div class="form-group row">
    <div class="input-group-sm mb-3 col-4">
        <label for="exampleFormControlSelect1">Tipo de percepción *</label>
        <select #tipo (focusout)="validarTipoPercepcion(tipo.value)" formControlName="tipoPeriodicidadId" class="form-control">
            <option value=""></option>
            <option value="1">Periódica</option>
            <option value="2">Estándar</option>
        </select>
    </div>

    <div class="input-group-sm mb-3 col-4">
        <label for="exampleFormControlSelect1">Nombre de percepción *</label>
        <select #tipoPercepcion (focusout)="validarPercepcion(tipoPercepcion.value)" formControlName="nomPercepcion" type="text" class="form-control">
            <option value=""></option>
            <option *ngFor="let item of nombrePercepcion"  [value]="item.tipoPercepcionId.tipoPercepcionId">{{item.nombre}}</option>
        </select>
    </div>
    <div class="input-group-sm mb-3 col-4">
        <label>Fecha inicio de percepción *</label>
        <input formControlName="fechaInicio" type="date" class="form-control">

    </div>
    <div class="input-group-sm mb-3 col-12"></div> 
    <div class=" input-group-sm mb-3 col-4">
        <label for="exampleFormControlSelect1">Tipo de monto *</label>
        <select #tipoMonto (focusout)="validarNomMonto(tipoMonto.value)" formControlName="baseCalculoId" type="text" class="form-control">
            <option value=""></option>
            <option *ngFor="let item of arregloTipoMonto"  [value]="item.baseCalculoId">{{item.descripcion}}</option>
        </select>
    </div>

    <div *ngIf="estandar" class="  input-group-sm mb-3 col-4">
        <label *ngIf="porcentual" >Porcentaje *</label>
        <label *ngIf="fijo" >Monto *</label>
        <input formControlName="porcentaje" type="text" class="form-control">

    </div>
    <div *ngIf="periodica" class="  input-group-sm mb-3 col-4">
        <label >Monto total de percepción *</label>
        <input #monto (focusout)="validarMonto(monto.value)" formControlName="montoPercepcion" type="text" class="form-control" >
    </div>
    <div *ngIf="periodica" class="  input-group-sm mb-3 col-4">
        <label >Número de períodos *</label>
        <input #numPeriodos (focusout)="validarNumPeriodo(numPeriodos.value)" formControlName="numeroPeriodos" type="text" class="form-control"
        placeholder="">

    </div>
    <div *ngIf="periodica" class="  input-group-sm mb-3 col-4">
        <label >Monto por período *</label>
        <input formControlName="montoPorPeriodo" type="text" class="form-control disabled bg-light">
    </div>
    <div  *ngIf="periodica" class="  input-group-sm mb-3 col-4">
        <label >Referencia </label>
        <input formControlName="referencia" maxlength="50" type="text" class="form-control" >

    </div>
    <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-4">
        <label>Estatus *</label>
        <select name=""  class="form-control" formControlName="esActivo">
          <option value="true">Activo</option>
          <option value="false">Inactivo</option>
        </select>
      </div>
</div>
<div class="text-right margin" style="margin-bottom: 20px;">

    <button type="button" (click)="cancelar()" class="btn btn-primary button-outlet mr-2">Cancelar</button>
    
    <button type="submit" class="btn btn-primary button-fill">Guardar</button>
</div>

</form>