<br><br>
<div class="scrooll-designempresa">
  <div class="row">


    <div class="col-12 col-lg-12">
      <div id="accordionFiltro">

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button *ngIf="tamanio < 600" (click)="changeIconDown = !changeIconDown" style="width: 100%;"
                  class="btn btn-link aparece-movil" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <label class="titulo" style="    width: 80%;
                float: left;
                text-align: left;">RESULTADOS</label>
                  <i *ngIf="changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                    class="fas fa-chevron-up "></i>
                  <i *ngIf="!changeIconDown" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="width: 10%;float: right;color:#00C1AF"
                    class="fas fa-chevron-down "></i>

                </button>
                <button *ngIf="tamanio >=600" class="btn btn-link aparece-desktop-inline-block">
                  <label class="titulo">RESULTADOS</label>
                </button>

              </h5>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row" style="margin: 10px;">
    <div class="col-12 col-lg-12 text-right">
      <button type="button" class="btn btn-light button-outlet" (click)="verdetallePer(undefined)">
        <i class="fa fa-plus"></i> Agregar percepción
      </button>
    </div>
  </div>


  <div id="vetanaprincipaltabla" class="row margen margen-tabla background-panel scrooll" style="position: relative;">
    <app-tablapaginado [desglosar]="true" [arreglotablaDesglose]="arreglotablaDesgloseP" [datos]="arreglotablaPert"
      [editar]="true" [cargando]="cargandoPer" (salida)="recibirTablaPercepcion($event)">
    </app-tablapaginado>
  </div>

</div>

<br><br>
<div class="scrooll-designempresa">
  <div class="row" style="margin: 10px;">
    <div class="col-12 col-lg-12 text-right">
      <button type="button" class="btn btn-light button-outlet" (click)="verdetalleDed(undefined)">
        <i class="fa fa-plus"></i> Agregar deducción
      </button>
    </div>
  </div>
  <div id="vetanaprincipaltabla" class="row margen margen-tabla background-panel scrooll" style="position: relative;">
    <app-tablapaginado [desglosar]="true" [arreglotablaDesglose]="arreglotablaDesgloseD" [datos]="arreglotablaDedt"
      [editar]="true" [cargando]="cargandoDed" (salida)="recibirTablaDeduccion($event)">
    </app-tablapaginado>
  </div>
</div>