.margen{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.button-outlet{
    background-color: transparent!important;
}


.scrooll{
    overflow: auto;
}



.fa, .fas {
    font-weight: 600 !important;
}

.margen{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.button-outlet{
    background-color: transparent!important;
}


.scrooll{
    overflow: auto;
}


.estiloextralink{
    display: inline-block !important;
    color:var(--principal) !important;
    text-decoration: underline !important;
    
}


