
<div class="row titulosfijos margen">
    <ul class="nav nav-tabs" role="tablist"  id="navegadorTabsEncab">
        <div (click)="configuracionPrd.menu = !configuracionPrd.menu" class="col-2 menu-hamburgesa float-left"><button disabled>
            <img src="assets/imgs/menu.png" alt="" srcset="">
        </button>
        </div>  
        <li ><a routerLinkActive="active"  class="nav-link" data-toggle="tab"  role="tab" 
            (click)="inicio()"> {{modulo}}</a>
        </li>
        <li style="padding-top: 10PX;">
            {{subModulo}} 
        </li>
    </ul>
</div>

<div class="background-ajustar" appTamanioVentana [pixeles]="100">

<form [formGroup]="myFormcomp" (ngSubmit)="enviarPeticion()">

    <input type="hidden">

    <div class="background-panel margen">
        <br>
        <div class="form-group row margen">
            <label class="titulo">INFORMACIÓN PARA BAJA DE EMPLEADO</label>
        </div>
        <div class="form-group row margen">

            <div class="col-12 col-md-12 col-xl-11">
                <div class="row">

                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                        <label>Seleccionar al empleado *</label>
                        <input autocomplete="off" [ngClass]="{'is-invalid':f.personaId.errors && submitEnviado}"  (focusout)="validarEmpleado()" list="empleadosreporta" class="form-control" formControlName="personaId" name="browser" id="browser">
                            
                        <datalist id="empleadosreporta">
                            <option *ngFor="let item of arreglobaja" [value]="item.personaId.nombre+' '+item.personaId.apellidoPaterno + ' ' + ((item.personaId.apellidoMaterno == undefined) ? '':item.personaId.apellidoMaterno)"></option>
                        </datalist>
                        <div *ngIf="f.personaId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>

                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                        <label>Tipo de cálculo *</label>
                        <select #calculo (focusout)="validarTipoCalculo(calculo.value)" formControlName="tipoBajaId" type="text" class="form-control" [ngClass]="{'is-invalid':f.tipoBajaId.errors && submitEnviado}">
                      <option value=""></option>
                      <option *ngFor="let item of arregloTipoBaja"  [value]="item.tipoBajaId">{{item.descripcion}}</option>
                  </select>
                        <div *ngIf="f.tipoBajaId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                        <label>Motivo de salida *</label>
                        <select formControlName="motivoBajaId" type="text" [ngClass]="{'is-invalid':f.motivoBajaId.errors && submitEnviado}" class="form-control">
                      <option value=""></option>
                      <option *ngFor="let item of arregloMotivoBaja"  [value]="item.motivoBajaId">{{item.descripcion}}</option>
                  </select>
                        <div *ngIf="f.motivoBajaId.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>

                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                        <label>Fecha de baja *</label>
                        <input formControlName="ultimoDia" type="date" [ngClass]="{'is-invalid':f.ultimoDia.errors && submitEnviado}" class="form-control">
                        <div *ngIf="f.ultimoDia.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <div *ngIf="ultimaNomina" class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                        <label>Fecha a considerar para el cálculo de nómina *</label>
                        <input formControlName="fechaFinUltimoPago" #fechaFinUltimoPago placement="top" [mdbTooltip]="'fechaFinNomina' | tooltip" type="date" [ngClass]="{'is-invalid':f.fechaFinUltimoPago.errors && submitEnviado}" class="form-control">
                        <div *ngIf="f.fechaFinUltimoPago.errors && submitEnviado" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <div class=" input-group-sm mb-3 col-12 col-sm-6 col-lg-6"></div>
                    <div class=" input-group-sm mb-3 col-12 col-sm-12 col-lg-12">
                        <label>Notas</label>
                        <textarea formControlName="notas" type="textarea" maxlength="512" class="form-control">
                 </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="input-group-sm mb-3 col-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Fecha para cálculo *</label>

                                <label class="contenedorInputCheckRadio"> Fecha de antigüedad 
            <input  value="antiguedad" formControlName="calculoAntiguedadx"  type="radio" name="calculoAntiguedadx" >
            <span class="radiomark"></span>
          </label>

                                <label class="contenedorInputCheckRadio"> Fecha de ingreso 
            <input value="contrato" formControlName="calculoAntiguedadx" type="radio" name="calculoAntiguedadx" >
            <span class="radiomark"></span>
          </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div *ngIf="liquidacion" class="input-group-sm mb-3 col-12 col-sm-12 col-lg-12">
                                <label>Pagos que se harán por liquidación *</label>

                                <label class="contenedorInputCheckRadio">Prima de antigüedad 
                    <input  formControlName="pagosXliquidacionIdPrima" type="checkbox" id="pagosXliquidacionIdPrima">
                    <span class="checkmark"></span>
                  </label>
                            </div>
                            <div *ngIf="liquidacion" class="input-group-sm mb-3 col-12 col-sm-12 col-lg-12">
                                <label class="contenedorInputCheckRadio">Indemnización 20 días por año 
                            <input formControlName="pagosXliquidacionId20" type="checkbox" id="pagosXliquidacionId20">
                            <span class="checkmark"></span>
                    </label>
                            </div>
                            <div *ngIf="liquidacion" class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                                <label class="contenedorInputCheckRadio"> Indemnización 90 días
                    <input (click)="diasOcultar()" value="2" formControlName="pagosXliquidacionId90"  type="radio" name="pagosXliquidacionId90" >
                    <span class="radiomark"></span>
                  </label>
                            </div>
                            <div *ngIf="liquidacion" class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6 ">
                                <label class="contenedorInputCheckRadio"> Otro
                  <input (click)="dias()" value="4" formControlName="pagosXliquidacionId90"  type="radio" name="pagosXliquidacionId90" >
                  <span class="radiomark"></span>
                </label>
                            </div>
                            <div class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6"></div>
                            <div *ngIf="mostrardias" class="input-group-sm mb-3 col-12 col-sm-6 col-lg-6">
                                <label>Número de días *</label>
                                <input appSolonumeros formControlName="numeroDias" [ngClass]="{'is-invalid':f.numeroDias.errors && submitEnviado}" type="text" class="form-control" placeholder="">
                                <div *ngIf="submitEnviado && f.numeroDias.errors" class="invalid-feedback">
                                    Campo requerido
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="text-right margen" style="margin-bottom: 20px;">
        <button type="button" class="btn btn-primary button-outlet mr-3" style="color:red" (click)="cancelarcomp()">Cancelar</button>
        <button *ngIf="esRegistrar" type="submit" class="btn btn-primary button-fill agrandarloading">Guardar</button>
    </div>

</form>
</div>