<form [formGroup]="myform" (ngSubmit)="enviarFormulario()">

    <div class="row">
        <div style="    border-right: 1px solid rgb(148, 148, 148);" class="col-6">
            <div class="form-group mt-3 row margen"><label class="titulo">INFORMACIÓN PERSONAL</label></div>

            <div class="row">
                <div class=" input-group-sm mb-4 col-12 col-sm-6 col-lg-6 col-xl-4">
                    <label>Nombre *</label>
                    <input formControlName="nombre" maxlength="32" formatos [especial]="true" [control]="f.nombre" type="text" class="form-control" [ngClass]="{'is-invalid':f.nombre.errors && submitEnviado}" placeholder="">
                    <div *ngIf="f.nombre.errors " class="invalid-feedback">
                        Campo requerido
                    </div>


                </div>

                <div class=" input-group-sm mb-4 col-12 col-sm-6 col-lg-6 col-xl-4">
                    <label>Primer apellido *</label>
                    <input formControlName="apellidoPaterno" formatos [especial]="true" [control]="f.apellidoPaterno" type="text" class="form-control" [ngClass]="{'is-invalid':f.apellidoPaterno.errors && submitEnviado}" placeholder="">
                    <div *ngIf="f.apellidoPaterno.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>


                </div>
                <div class=" input-group-sm mb-4 col-12 col-sm-6 col-lg-6 col-xl-4">
                    <label>Segundo apellido</label>
                    <input formControlName="apellidoMaterno" formatos [especial]="true" [control]="f.apellidoMaterno" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>CURP *</label>
                    <input placement="top" [mdbTooltip]="'curp' | tooltip" formatos [nochar]="true" [curp]="true" [control]="f.curp" maxlength="18" (change)="cambiaCurp()" [ngClass]="{'is-invalid':(f.curp.errors?.required && submitEnviado) || f.curp.errors?.pattern && f.curp.touched}"
                        formControlName="curp" type="text" class="form-control" name="">
                    <div *ngIf="f.curp.errors?.required && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                    <div *ngIf="f.curp.errors?.pattern && f.curp.touched" class="invalid-feedback">
                        CURP inválido, favor de verificar
                    </div>

                </div>
                <div class=" input-group-sm mb-4 col-12 col-sm-6 col-lg-4 col-xl-4">
                    <label>Género</label>
                    <select formControlName="genero" class="form-control">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>

                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4 col-xl-4">
                    <label>Fecha de nacimiento</label>
                    <input id="fechaNacimiento" #fechaNacimiento (focusout)="validarfechNacimiento(fechaNacimiento.value)" formControlName="fechaNacimiento" type="text" name="" class="form-control">
                </div>

            </div>
            <div *ngIf="f.tieneCurp.value" class="row">

                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>RFC *</label>
                    <input placement="top" [mdbTooltip]="'rfcFisica' | tooltip" formatos [nochar]="true" [rfc]="true" [control]="f.rfc" maxlength="13" [ngClass]="{'is-invalid':(f.rfc.errors?.required && submitEnviado) || (f.rfc.errors?.pattern )}" formControlName="rfc" type="text"
                        class="form-control" name="">
                    <div *ngIf="f.rfc.errors?.required && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                    <div *ngIf="f.rfc.errors?.pattern" class="invalid-feedback">
                        RFC inválido, favor de verificar
                    </div>

                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Seguro social *</label>
                    <input placement="top" [mdbTooltip]="'seguroSocial' | tooltip" [ngClass]="{'is-invalid': (f.nss.errors?.required && submitEnviado)  || (f.nss.errors && f.nss.touched)}" formControlName="nss" maxlength="11" type="text" class="form-control" name="">
                    <div *ngIf="(f.nss.errors?.required && submitEnviado)" class="invalid-feedback">
                        Campo requerido
                    </div>
                    <div *ngIf="(f.nss.errors && f.nss.touched)" class="invalid-feedback">
                        Número de seguro social invalido.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group-sm mb-4 col-8">
                    <label>Correo empresarial *</label>
                    <input formatos [correo]="true" [control]="f.emailCorporativo" formControlName="emailCorporativo" type="email" [ngClass]="{'is-invalid':(f.emailCorporativo.errors?.required && submitEnviado) || (f.emailCorporativo.errors?.email && f.emailCorporativo.touched)}"
                        class="form-control" name="">
                    <div *ngIf="f.emailCorporativo.errors?.required && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                    <div *ngIf="f.emailCorporativo.errors?.email && f.emailCorporativo.touched" class="invalid-feedback">
                        Correo empresarial inválido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-8">
                    <label>Correo personal </label>
                    <input formatos [correo]="true" [control]="f.contactoInicialEmailPersonal" formControlName="contactoInicialEmailPersonal" type="email" [ngClass]="{'is-invalid':(f.contactoInicialEmailPersonal.errors?.required && submitEnviado) || (f.contactoInicialEmailPersonal.errors?.email && f.contactoInicialEmailPersonal.touched)}"
                        class="form-control" name="">
                    <div *ngIf="f.contactoInicialEmailPersonal.errors?.email && f.contactoInicialEmailPersonal.touched" class="invalid-feedback">
                        Correo personal inválido
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group mt-3 row margen"><label class="titulo">INFORMACIÓN ADICIONAL</label></div>
            <div class="row">

                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Nacionalidad *</label>
                    <select formControlName="nacionalidadId" name="" [ngClass]="{'is-invalid':f.nacionalidadId.errors && submitEnviado}" class="form-control">
                        <option *ngFor="let item of arreglonacionalidad"  [value]="item.nacionalidadId">{{item.descripcion}}</option>
                    </select>
                    <div *ngIf="f.nacionalidadId.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Estado civil</label>
                    <select formControlName="estadoCivil" name="" class="form-control">
                        <option value="C">Casado(a)</option>
                        <option value="D">Divorciado(a)</option>
                        <option value="S">Soltero(a)</option>                        
                        <option value="V">Viudo(a)</option>
                    </select>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Teléfono *</label>
                    <input appSolonumeros formControlName="contactoInicialTelefono" type="text" maxlength="10" class="form-control" [ngClass]="{'is-invalid':f.contactoInicialTelefono.errors && submitEnviado}">
                    <div *ngIf="f.contactoInicialTelefono.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-4 col-lg-4">
                    <label> Celular </label>
                    <input appSolonumeros formControlName="celular" type="text" maxlength="10" class="form-control">
                </div>

                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>¿Tienes hijos?</label>
                    <div>
                        <label class="contenedorInputCheckRadio">Si
                            <input (change)="cambiaValorHijos()" formControlName="tieneHijos" value="true"  type="radio" name="tieneHijos" id="si" class="">
                            <span class="radiomark"></span>
                          </label>
                    </div>
                    <div>
                        <label class="contenedorInputCheckRadio">No
                            <input (change)="cambiaValorHijos()"  checked formControlName="tieneHijos" value="false"  type="radio" name="tieneHijos" id="no" class="">
                            <span class="radiomark"></span>
                          </label>
                    </div>
                </div>

                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Número de hijos</label>
                    <input formControlName="numeroHijos" type="number" name="" class="form-control">
                </div>

                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-8">
                    <label>Perfil LinkedIn</label>
                    <input formControlName="url" type="text" name="" class="form-control">
                </div>

            </div>
            <hr>
            <div class="form-group mt-3 row margen"><label class="titulo">CONTACTO DE EMERGENCIA</label></div>
            <div class="row">
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Nombre </label>
                    <input  formatos [especial]="true" [control]="f.contactoEmergenciaNombre" formControlName="contactoEmergenciaNombre" type="text" [ngClass]="{'is-invalid':f.contactoEmergenciaNombre.errors && submitEnviado}" class="form-control">
                    <div *ngIf="f.contactoEmergenciaNombre.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Primer apellido </label>
                    <input formatos [especial]="true" maxlength="48" [control]="f.contactoEmergenciaApellidoPaterno" formControlName="contactoEmergenciaApellidoPaterno" type="text" name="" [ngClass]="{'is-invalid':f.contactoEmergenciaApellidoPaterno.errors && submitEnviado}" class="form-control">
                    <div *ngIf="f.contactoEmergenciaApellidoPaterno.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Segundo apellido</label>
                    <input formatos [especial]="true" maxlength="48" [control]="f.contactoEmergenciaApellidoMaterno"  formControlName="contactoEmergenciaApellidoMaterno" type="text" name="" class="form-control">
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-4">
                    <label>Parentesco</label>
                    <select formControlName="contactoEmergenciaParentesco" name="" class="form-control">
                        <option *ngFor="let item of arregloParentezco" [value]="item.parentescoId">{{item.descripcion}}</option>
                    </select>
                </div>

                <div class="input-group-sm mb-4 col-12 col-sm-6 col-lg-8">
                    <label> Correo personal</label>
                    <input formatos [correo]="true" [control]="f.contactoEmergenciaEmail" formControlName="contactoEmergenciaEmail" type="text" name="" class="form-control" [ngClass]="{'is-invalid':f.contactoEmergenciaEmail.errors?.email && f.contactoEmergenciaEmail.touched}">
                    <div *ngIf="f.contactoEmergenciaEmail.errors?.email && f.contactoEmergenciaEmail.touched" class="invalid-feedback">
                        Correo inválido
                    </div>
                </div>
                <div class="input-group-sm mb-4 col-12 col-sm-4 col-lg-4">
                    <label> Celular </label>
                    <input  formControlName="contactoEmergenciaTelefono" type="text" appSolonumeros maxlength="10" class="form-control" [ngClass]="{'is-invalid':f.contactoEmergenciaTelefono.errors && submitEnviado}">
                    <div *ngIf="f.contactoEmergenciaTelefono.errors && submitEnviado" class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="text-right margin" style="margin-bottom: 20px;">

        <button (click)="cancelar()" type="button" class="btn btn-primary button-outlet mr-2">Cancelar</button>
        <button type="submit" class="btn btn-primary button-fill">Guardar</button>
    </div>



</form>