.bodymodal{
    background-color: white;
    max-width: 300px;
    height: 350px;
    left: 36%;
    top:25%; 
    position: relative;
}

.containerimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
        /* margin: auto; */
padding-top: 10p;
/* margin-left: auto; */
/* margin-right: 101px; */
margin-top: 45px;
margin-left: 90px;
position: absolute;
}