.bg_modal1{
    background: #0000007d;
    width: 100%;
    height: 100vh;
    position: absolute;
    
    left: 0;
    z-index: 100;

    .bodymodal{
        background-color: white;
        max-width: 300px;
        height: 350px;
        
        top:15%; 
        position: relative;
    }

    .containerimg{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        padding-top: 10p;
        margin-top: 60px;
        margin-left: 106px;
        position: absolute;
    }

    button{
        padding-left: 20px !important;
    padding-right: 20px !important;
    }


    #subtitulo{
        font-size: 10px;
    }
}



.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #00c1af, 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.5), -1.8em -1.8em 0 0em rgba(0,193,175, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.7), 1.8em -1.8em 0 0em #00c1af, 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.5), 1.8em -1.8em 0 0em rgba(0,193,175, 0.7), 2.5em 0em 0 0em #00c1af, 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.5), 2.5em 0em 0 0em rgba(0,193,175, 0.7), 1.75em 1.75em 0 0em #00c1af, 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.5), 1.75em 1.75em 0 0em rgba(0,193,175, 0.7), 0em 2.5em 0 0em #00c1af, -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.5), 0em 2.5em 0 0em rgba(0,193,175, 0.7), -1.8em 1.8em 0 0em #00c1af, -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.5), -1.8em 1.8em 0 0em rgba(0,193,175, 0.7), -2.6em 0em 0 0em #00c1af, -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.5), -2.6em 0em 0 0em rgba(0,193,175, 0.7), -1.8em -1.8em 0 0em #00c1af;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #00c1af, 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.5), -1.8em -1.8em 0 0em rgba(0,193,175, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.7), 1.8em -1.8em 0 0em #00c1af, 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.5), 1.8em -1.8em 0 0em rgba(0,193,175, 0.7), 2.5em 0em 0 0em #00c1af, 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.5), 2.5em 0em 0 0em rgba(0,193,175, 0.7), 1.75em 1.75em 0 0em #00c1af, 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.5), 1.75em 1.75em 0 0em rgba(0,193,175, 0.7), 0em 2.5em 0 0em #00c1af, -1.8em 1.8em 0 0em rgba(0,193,175, 0.2), -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.5), 0em 2.5em 0 0em rgba(0,193,175, 0.7), -1.8em 1.8em 0 0em #00c1af, -2.6em 0em 0 0em rgba(0,193,175, 0.2), -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.5), -1.8em 1.8em 0 0em rgba(0,193,175, 0.7), -2.6em 0em 0 0em #00c1af, -1.8em -1.8em 0 0em rgba(0,193,175, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,193,175, 0.2), 1.8em -1.8em 0 0em rgba(0,193,175, 0.2), 2.5em 0em 0 0em rgba(0,193,175, 0.2), 1.75em 1.75em 0 0em rgba(0,193,175, 0.2), 0em 2.5em 0 0em rgba(0,193,175, 0.2), -1.8em 1.8em 0 0em rgba(0,193,175, 0.5), -2.6em 0em 0 0em rgba(0,193,175, 0.7), -1.8em -1.8em 0 0em #00c1af;
    }
  }

  .modalLoading{
    width: 192px;
    height: 175px;
    border-radius: 50%;
    background-color: white;
    padding-top: 10p;
    margin-top: 24px;
    margin-left: 57px;
    position: absolute;
  }

  .paddinopcional{
      padding-top: 89px;
  }

  .transparent{
        background-color: transparent!important;
  }

  .backgroundblack{
    background-color: rgba(0, 0, 0, 0.829);
  }