@import '../../../styles.scss';
.text-color{
    color:$primary;
}

.control1{
    width: 30%;
    display: inline-block;
    margin-right: 4px;
}

.grupo1{
    width: 45%;
    display: inline-block;
    margin-right: 5px;
}
